<template>
  <div class="shadow-sm border-bottom  w-100 bg-white mb-0" style=" ">

    <Auth v-if="auth !== false"></Auth>

    <div id="back" @click="backShow = false"
         :class="['back',{backHide: !backShow , backShowClass:backShow }]">
    </div>

    <div class="container-fluid " style="z-index: 3">
      <div id="topMenu" class=" d-flex col-12 justify-content-between p-0 m-0 pt-3 pt-md-4 px-md-4">
        <div class="d-flex flex-grow-1 m-0 p-0 position-relative">
          <nuxt-link to="/">
            <img src="@/static/img/logo.png" alt="بیسمارک" title="بیسمارک " class="ml-4 p-0 m-0 d-none d-md-block">
          </nuxt-link>

          <search class="flex-grow-1 ml-md-4  p-0  overflow-hidden"></search>
        </div>

        <div class=" mr-3 mt-0">
          <div class="d-flex p-0 mt-0 rounded text-center" style="font-size: 12px; color: #707070">

            <div class="shopping position-relative  py-2 ml-3 rounded text-center"
                 style="background-color: #f5f5f5; width: 50px; "
            >

              <nuxt-link to="/card">
                <i id="shopping_cart" class="material-icons " style="cursor: pointer">shopping_cart</i>
              </nuxt-link>

              <CardCon></CardCon>

              <div class="shoppingBox position-absolute bg-white border rounded shadow p-1"
                   style="left: 0; top: 47px; z-index: 32; width: 520px; min-height: 100px"
              >
                <div v-if="cardCon === 0">
                  <p
                    class="text-center"
                    style="color: #808080; font-weight: bold; margin: 35px auto"
                  >
                    سبد خرید شما خالی است
                  </p>

                  <p class="text-center">
                  <span class="px-3 py-2 font-weight-bold rounded"
                        style="color: #2164e1; background-color: #f5f5f5"
                        @click="updateCard()"
                  >
                    بروز رسانی سبد خرید
                  </span>
                  </p>
                </div>

                <div v-else>

                  <p class="text-left">
                  <span class="px-3 mt-4 font-weight-bold rounded"
                        style="color: #2164e1;"
                        @click="updateCard()"
                  >
                    بروز رسانی سبد خرید
                  </span>
                  </p>

                  <div v-for="(item,index) in card" :key="index"
                       class="m-2"
                  >

                    <div class="d-flex align-items-center">
                      <div>
                        <img :src="'https://server.bismark.ir/img/kala/'  + item.id + '/img-mini.jpg'"
                             style="width: 110px"
                             class="ml-2"
                             alt="بیسمارک"
                        >
                      </div>
                      <div
                        class="d-flex justify-content-between flex-grow-1 font-weight-bold mr-2 pt-1 pb-1 border-bottom">
                        <div>
                          <p style="font-size: 13px">
                            <nuxt-link :to="'/product/' + item.slug">
                              {{ item.name }} <span> مدل </span> {{ item.model }}
                            </nuxt-link>
                          </p>

                          <div class="d-flex mt-4">
                            <div class="d-flex justify-content-between  font-weight-bold ">
                              <p class="pt-2 px-1 text-info" style="cursor: pointer"
                                 @click="editCardProductCon(index,'+')">+</p>
                              <p class="pt-2 px-3">{{ item.con }}</p>
                              <p class="pt-2 px-1 text-danger" style="cursor: pointer"
                                 @click="editCardProductCon(index,'-')">-</p>
                            </div>

                            <div class="d-flex  justify-content-start pt-2 pb-4"
                                 style="cursor: pointer"
                                 @click="deleteInCard(index)"
                            >
                              <i class=" material-icons font-weight-bold rounded py-0 my-0  mr-3 "
                                 style="color: #575757; font-size: 19px; border-bottom: 1px dashed #575757"
                              >
                                delete
                              </i>
                              <p class="pr-1 py-0 m-0"
                                 style="color: #575757; font-size: 13px;  border-bottom: 1px dashed #575757"
                              >
                                حذف
                              </p>
                            </div>
                          </div>

                        </div>

                        <div>
                          <p class="text-right text-md-left ml-2" style=" font-size: 14px">
                            <span>قیمت</span>
                            <span class="text-dark" style="font-weight: bold">{{ item.price  | formatNumber }} </span>
                            <span style="font-weight: 500"> تومان </span>
                          </p>

                          <p v-if="discount !== null" class="text-right text-md-left ml-2"
                             style=" font-size: 14px; color: #ff5a5f ">
                            <span>تخفیف</span>
                            <span v-if="item.special === 'true'" class=""
                                  style="font-weight: bold">{{ item.price * 0.2 | formatNumber }} </span>
                            <span v-else class="" style="font-weight: bold"> {{
                                (item.price) * (discount / 100) | formatNumber
                              }} </span>
                            <span style="font-weight: 500;font-size: 9px"> تومان </span>
                          </p>

                          <p class="text-right text-md-left ml-2" style=" font-size: 14px">
                            <span>قابل پرداخت</span>
                            <span v-if="item.special === 'true'" class="text-dark"
                                  style="font-weight: bold">{{ (item.price) * 0.8  | formatNumber }} </span>
                            <span v-else class="text-dark" style="font-weight: bold">{{
                                (item.price) * ((100 - discount) / 100)  | formatNumber
                              }} </span>
                            <span style="font-weight: 500;font-size: 9px"> تومان </span>
                          </p>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="d-flex justify-content-between font-weight-bold p-3">
                    <div>
                      <p style="color: #808080">جمع سبد خرید </p>
                      <p style="font-size: 15px">
                        {{ cardTotalPrice - cardDiscountPrice| formatNumber }}
                        <span style="font-weight: 500"> تومان </span>
                      </p>
                    </div>
                    <div>
                      <nuxt-link to="/card">
                        <p class="px-4 py-3 rounded text-white font-weight-bold" style="background-color: #2164e1;  ">
                          پرداخت و اتمام خرید</p>
                      </nuxt-link>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div v-if="userName === null"
                 @click="changeAuthStatus('login')"
                 title="ورود و ثبت نام"
                 class="user py-2  text-center rounded"
                 style="background-color: #f5f5f5; width: 50px;"
            >
              <i class="material-icons" style="cursor: pointer">perm_identity</i>

            </div>

            <div v-if="userName != null"
                 @click="userBox = true"
                 class="user py-2  text-center rounded"
                 style="background-color: #f5f5f5; width: 50px;   "
            >
              <i class="material-icons" style="cursor: pointer">perm_identity</i>

              <ul v-if="userName != null" @blur="userBox = false" @focusout="userBox = false"
                  class="userProfile position-absolute bg-white border rounded shadow p-1"
                  style="left: 5px; top: 66px; z-index: 32"
              >
                <li>
                  <nuxt-link to="/profile">
                    <div class="d-flex m-1 p-3 rounded" style="background-color: #f1f0f0;">
                      <div v-if="userName != null"
                           @click="userBox = true"
                           class=" pt-2  text-center "
                           style="background-color: #f5f5f5; width: 50px; border-radius: 20px "
                      >
                        <i class="material-icons">perm_identity</i>
                      </div>

                      <p class="mr-2 pt-2 px-3" style="font-size: 15px; font-weight: 700"> {{ userName }} </p>
                    </div>
                  </nuxt-link>
                </li>

                <li class="pl-4 pr-3 pt-3 pb-1 border-bottom">
                  <div class="d-flex">
                    <i class="material-icons">account_box</i>
                    <nuxt-link to="/profile">
                      <p class="mr-2">پروفایل کاربری</p>
                    </nuxt-link>
                  </div>
                </li>

                <li class="pl-4 pr-3 pt-3 border-bottom">
                  <div class="d-flex">
                    <i class="material-icons">receipt</i>
                    <nuxt-link to="/card/cardList">
                      <p class="mr-2">لیست سفارشات</p>
                    </nuxt-link>
                  </div>
                </li>

                <li class="pl-4 pr-3 pt-3 pb-2 " @click="userExit()">
                  <div class="d-flex">
                    <i class="material-icons">logout</i>
                    <p class="mr-2">خروج از حساب کاربری</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 px-md-4 d-flex  w-100" style="font-size: 12px;color: #707070; overflow: auto;">
        <div class="d-flex justify-content-md-between w-100" style="min-width: 750px">
          <ul class="d-flex p-0 m-0 ">
            <li class="menu m-0 m-0" @focus="backShow = true">
              <div class="d-flex" @click="backShow = true">
                <i class="material-icons" style="">menu</i>
                <p class="mr-2 " style="padding-top: 3px">دسته بندی کالا ها </p>
                <p class="mr-2 " style="padding-top: 3px; border-left: 2px solid #949393"></p>
              </div>

              <div v-if="backShow">
                <ul class="bg-white mt-2 p-4  ">
                  <li class="d-flex">
                    <i class="material-icons">ac_unit</i>
                    <nuxt-link to="/category/تهویه-هوا?category=7">
                      <p @click="backShow = false">تهویه هوا</p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">local_laundry_service</i>
                    <nuxt-link to="/category/مراقبت-از-لباس?category=6">
                      <p @click="backShow = false"> مراقبت از لباس </p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">face</i>
                    <nuxt-link to="/category/بهداشت-فردی?category=5">
                      <p @click="backShow = false"> بهداشت فردی </p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">free_breakfast</i>
                    <nuxt-link to="/category/تهیه-نوشیدنی?category=7">
                      <p @click="backShow = false"> تهیه نوشیدنی </p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">outdoor_grill </i>
                    <nuxt-link to="/category/پخت-و-پز?category=3">
                      <p @click="backShow = false"> پخت و پز</p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">whatshot</i>
                    <nuxt-link to="/category/کمک-آشپز?category=2">
                      <p @click="backShow = false">کمک آشپز</p>
                    </nuxt-link>
                  </li>
                  <li class="d-flex">
                    <i class="material-icons">cleaning_services</i>
                    <nuxt-link to="/category/نظافت-و-پاکیزگی?category=1">
                      <p @click="backShow = false">نظافت و پاکیزگی</p>
                    </nuxt-link>

                  </li>

                  <li class="d-flex">
                    <i class="material-icons">tv</i>
                    <nuxt-link to="/category/تلویزیون?category=8">
                      <p @click="backShow = false">تلویزیون</p>
                    </nuxt-link>
                  </li>

                </ul>
              </div>
            </li>

            <li class="d-md-none">
              <nuxt-link to="/" style="color: #707070;">
                <p class="mr-4 " style="padding-top: 3px">صفحه اصلی </p>
              </nuxt-link>
            </li>

            <li>
              <nuxt-link :prefetch="false" to="/service">
                <p class="mr-4 " style="padding-top: 3px">سامانه خدمات </p>
              </nuxt-link>
            </li>

            <li>
              <nuxt-link :prefetch="false" to="/serviceAgent">
                <p class="mr-4 " style="padding-top: 3px">مراکز خدمات </p>
              </nuxt-link>
            </li>

            <li>
              <nuxt-link :prefetch="false" to="/productSerial/8080">
                <p class="mr-4 " style="padding-top: 3px">قرعه کشی </p>
              </nuxt-link>
            </li>

            <li>
              <p @click="goAbout()" class="mr-4 " style="padding-top: 3px"> درباره بیسمارک </p>
            </li>

            <li>
              <p @click="goAbout()" class="mr-4 " style="padding-top: 3px"> ارتباط با ما </p>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</template>

<script>

import Http from 'axios';
import Notification from "~/components/notificationService";
import Auth from "~/components/AuthIndex/Auth";

import search from "./search";
import CardCon from "~/components/card/cardCon";

export default {
  name: "Header",
  asyncData() {

  },
  data() {
    return {
      category: null,
      backShow: false,
      userBox: false,
    }
  },
  watch: {
    cardCon: function () {

      let y = document.getElementById('shopping_cart');
      y.classList.add('shopping_cart');
      setTimeout(function () {
        y.classList.remove('shopping_cart');
      }, 1500);

      setTimeout(function () {
        let x = document.getElementById('cardCon');
        x.classList.add('cardCon');
        setTimeout(function () {
          x.classList.remove('cardCon');
        }, 2000);
      }, 500);

    }
  },
  computed: {
    auth() {
      return this.$store.state.auth;
    },
    authStatus() {
      return this.$store.state.authStatus;
    },
    userStatus() {
      return this.$store.state.user.status;
    },
    userName() {
      return this.$store.state.user.name;
    },
    cardCon() {
      let items = this.$store.state.card
      let con = 0;

      for (let i = 0; i < items.length; i++) {
        con = con + items[i].con;
      }

      return con;
      // return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    cardDiscountPrice() {
      return this.$store.state.cardDiscountPrice;
    },
    card() {
      return this.$store.state.card;
    },
    discount() {
      return this.$store.state.discountCode;
    }
  },
  components: {
    CardCon,
    search,
    Auth,
  },
  methods: {
    setMenu() {
      console.log(12)
      // MenuTop.setTopMenu();
      let x = document.getElementById('topMenu');
      x.classList.add('topMenu');
    },
    async updateCard() {
      await this.$store.dispatch('getCard');
      await this.$store.dispatch('updateCardTotal');
    },
    async deleteInCard(index) {
      await this.$store.commit('DELETE_IN_CARD', index);
      await this.$store.dispatch('updateCardTotal');
    },
    async editCardProductCon(index, status) {
      await this.$store.commit('EDIT_CARD_PRODUCT_CON', [index, status]);
      await this.$store.dispatch('updateCardTotal');
    },
    changeAuthStatus(status) {
      this.$store.commit('EDIT_AUTH_STATUS', status);
      this.$store.commit('EDIT_AUTH', true);
    },
    getCategory() {
      Http.get('/api/V1/category/search/20')
        .then(response => {
          this.category = response.data.data;
          console.log(response);
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    userExit() {
      localStorage.clear();
      Notification.info('از حساب کاربری خود خارج شدین.');
      this.updateCard();
      this.$store.commit('EDIT_USER', null);
      this.$store.commit('CLEAR_CARD');
    },
    userCheck() {
      if (localStorage.getItem('api_token') == null) {
        console.log('token null');
        localStorage.removeItem('name');
        localStorage.removeItem('userStatus');
        localStorage.removeItem('api_token');
        this.userStatus = null;
        this.$store.commit('EDIT_USER', null)
        return false;
      }
      Http.post('/api/V1/userCheck', {'api_token': localStorage.getItem('api_token')})
        .then(response => {
          if (response.data === 404) {
            // console.log('token null2');
            localStorage.clear();
            // console.log(response.data);
            this.$store.commit('EDIT_USER');
            return this.userUpdate();
          }

          this.$store.commit('EDIT_USER', response.data);
          this.$store.commit('EDIT_USER_INFO', response.data);
          localStorage.setItem('name', response.data.name);
          localStorage.setItem('userStatus', response.data.status);
          localStorage.setItem('api_token', response.data.api_token);
          // console.log(response.data);
          return this.userUpdate();
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    userUpdate() {
      this.auth = false;
      this.userStatus = localStorage.getItem('userStatus');
      this.userName = localStorage.getItem('name');
    },
    goAbout() {
      let el = document.getElementById('footer');
      el.scrollIntoView({behavior: 'smooth', block: 'start'});
    }
  },
  created() {

  },
  beforeMount() {
    if (localStorage.getItem('name')) {
      this.userName = localStorage.getItem('name');
    }
    this.userCheck();
    this.updateCard();
  },
  mounted() {
    // this.userCheck();
  }


}
</script>

<style scoped>

@keyframes menu {
  from {
    top: -80px
  }
  to {
    top: 0;
  }
}


@keyframes shopping_cart {
  from {
    transform: scale(1.3)
  }
  to {
    transform: scale(1)
  }

  from {
    color: #377dff
  }
  to {
    color: #707070
  }

}


.topMenu {
  animation-name: menu;
  animation-duration: 400ms;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 202;
  background-color: #ffffff;
  margin-right: 0 !important;
  margin-top: 0 !important;
  padding: 1% 2% !important;

  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}


.shopping_cart {
  animation-name: shopping_cart;
  animation-duration: 3000ms;
}

a:hover {
  text-decoration: none;
}

a {
  color: #707070;
}

p {
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

.menu ul li {
  padding: 8px 8px 2px 30px;
  margin: 0;
}

ul li:hover p {

}

ul li:hover .menu p {
  border-bottom: 0;
}

.menu ul li p {
  padding-top: 3px;
}

.menu ul li i {
  padding-left: 30px;
}

.menu ul {
  position: absolute;
  border-radius: 4px;
  padding-right: 0;
  z-index: 31;
  margin: 0;
}

.menu2 {
  position: fixed;
  right: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.back {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.backShowClass {
  display: block;
}

.backHide {
  display: none;
}

.userProfile {
  display: none;
}

.user:hover .userProfile {
  display: block;
}

.user:hover i {
  color: #2164e1;
}

.user:hover ul i {
  color: #808080;
}

.user ul li:hover {
  color: #2164e1;
}

.user ul li:hover i {
  color: #2164e1;
}


.shoppingBox {
  display: none;
}

.shopping:hover .shoppingBox {
  display: block;
}

.shopping:hover i {
  color: #2164e1;
}

@media only screen and (max-width: 768px) {
  .shoppingBox {
    display: none !important;
  }

  .topMenu {
    padding: 4% !important;
  }
}

</style>
