<template>
  <div>
    <div class=" ">
      <div style="background-color: #f4f3ef; height: 45px;" class="rounded position-relative ">
        <div class="d-flex rounded overflow-hidden  ">
          <b-form-input v-model="searchInput"
                        @keydown.enter="goSearch()"
                        @keypress="productSearch"
                        @focus="[searchBox = true,searchInput = '',productSearch,check_product()]"
                        placeholder="جستجو در بیسمارک ..."
                        class="w-100 border-0" style="background-color: #f4f3ef; height: 45px">
          </b-form-input>

          <i v-if="searchBox === false" class="material-icons" style="width: 45px;padding-top: 10px;cursor: pointer">search</i>

          <i v-else class="material-icons" style="width: 45px;padding-top: 10px;cursor: pointer"
             @click="searchBox = false">close</i>
        </div>
      </div>

      <div v-if="searchBox" class="search  border mt-2" @focusout="searchBox = false">
        <div v-for="(product , index ) in products" :key="index" class="d-flex p-2">
          <nuxt-link :to="'/product/' + product.slug">
            <div @click="searchBox = false">

              <span>{{ product.name }}</span>

             <span> {{ product.model }}</span>

            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios'

export default {
  props: [''],
  name: "search",
  data() {
    return {
      searchBox: false,
      productAll: null,
      products: null,
      searchInput: ""
    }
  },
  methods: {
    check_product(){
      if (this.$store.state.productList === null)
      {
        return this.getProducts();
      }else {
        this.productAll = this.$store.state.productList;
        this.products = this.$store.state.productList;
      }
    },
     getProducts() {
       this.$axios.$get('/api/V1/product/search/*')
          .then(response => {
            console.log(response);
            this.productAll = response.data.data;
            this.products = response.data.data;
            this.$store.commit('EDIT_PRODUCTS',response.data.data)
          })
          .catch(error => {
            console.log(error.response);
            Notification.serverError(error.response.status);
          })
    },
    productSearch() {
      if (this.searchInput === "") {
        return this.products = this.productAll;
      } else {
        this.products = this.productAll.filter(item => {
          let input = this.searchInput.split(" ");

          for (let i = 0; i <= input.length; i++) {
            let name = item.name.indexOf(input[i]);
            if (name !== -1 ) {
              return item;
            }
          }

        })
      }
    },
    goSearch(){
      this.searchBox = false;
      this.$router.push('/search?s=' + this.searchInput)
    }
  },
  created() {

  },
  mounted() {

  }
}

</script>

<style scoped>
.search {
  position: absolute;
  left: 0;
  right: 10%;
  width: 90%;
  z-index: 3300;

  height: 400px;
  border-radius: 4px;
  background-color: #f4f3ef;
  overflow-y: auto;
}

input:focus {
  border: 0;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .search {
    position: absolute;
    left: -10%;
    right: 0;
    width: 140%;


  }

  span {
    font-size: 12px;
  }
}
</style>
