<template>
    <div class="p-2">
        <div id="openBox2" v-if="showItem != null" class=" m-0 p-0" style="left: 0">
            <div class="con2 bg-white">
                <div class="d-flex">
                    <div class="col-8">
                        <img :src="showItem" alt="بیسمارک خدمات پس از فروش" class="h-100 mw-100">
                    </div>
                    <div class="col-4 text-left">
                        <i class="material-icons" @click="showItem = null"  style="cursor: pointer">close</i>
                        <div class="row">
                            <div v-for="(item,index) in items" :key="index" class="ml-2" style="cursor: pointer">
                                <img :src="item.miniImage" alt="تصویر ارسالی" style="cursor:pointer"
                                     @click="selectItem(item.image)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="items.length !== 0">
            <p class="title">تصاویر درخواست</p>
            <div class="d-flex">
                <div v-for="(item,index) in items" :key="index" class="ml-2" style="cursor: pointer">
                    <img :src="item.miniImage" alt="تصویر ارسالی" style="cursor:pointer" @click="selectItem(item.image)">
                </div>
            </div>
        </div>

        <div>
            <form name="form" onsubmit="event.preventDefault()">
                <b-form-file
                    type="file"
                    value=""
                    @change="selectFile"
                    v-model="image"
                    placeholder="تصویر خود جهت بارگذاری را انتخاب کنید"
                    drop-placeholder="Drop file here..."
                    size="md"
                    class="text-center p-2"
                ></b-form-file>
                <button class="btn btn-secondary w-100 mt-2 p-2" v-if="image != null"  @click="imageSave">ارسال</button>
            </form>
        </div>
    </div>
</template>

<script>
import Http from 'axios'
import Notification from "~/plugins/Notification";
import Comment from "~/components/commentCreate";

export default {
    name: "serviceImage",
    data() {
        return {
            items: [],
            showBox: false,
            showItem: null,
            image:null,
            comment : {
                text : '',
                view : 1,
                userStatus:3,
                serviceId : this.id,
                api_token : '',
            }
        }
    },
    props: ['id'],
    methods: {
        getList() {
            Notification.showLoading();
            Http.get('/api/V1/serviceList/image/list/' + this.id)
                .then(response => {
                    console.log(response);
                    this.items = response.data;
                    Notification.hideLoading();
                })
                .catch(error => {
                    console.log(error.response);
                    Notification.error('مشکلی در بارگذاری تصاویر به وجود آمد.');
                })
        },
        selectItem (address) {
            // reSize.reSizeOpenBox();
            this.showItem = address;
        },
        selectFile(event) {
            this.image = event.target.files[0];
        },
        imageSave() {
            Notification.showLoading();
            if (this.image === null) {
                return Notification.error('تصویری انتخاب نشده.');
            }
            let formData = new FormData();
            formData.append('image', this.image);
            formData.append('serviceId', this.id);

            Http.post('/api/V1/serviceList/image/save',formData)
            .then(response => {
                console.log(response);
                this.image = null;
                this.comment.text = ' تصویر ' + response.data + ' بارگذاری شد. ';
                Comment.create(this.comment);
                Notification.success('تصویر بارگذاری شد.');
                this.getList();
            })
            .catch(error => {
                console.log(error.response);
            })
        }
    },
    created() {
        this.getList();
    }
}
</script>

<style scoped>

#openBox2 {
    position: fixed;
    z-index: 30;
}

.con2 {
    position: relative;
    width: 94%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
    /*display: table;*/
    margin: 3% auto;
    padding-top: 1%;
    border-radius: 8px;
    box-shadow: 0 0 6px 2px rgba(17, 17, 17, 0.27);

}


.title {
    color: #707070;
    font-size: 19px;
}
</style>
