<template>
    <div>
        <div class="mt-2 ">
            <p class="title"> ثبت نظر</p>
            <div class="w-100 ">
                <textarea placeholder="متن نظر خود را وارد کنید ..." rows="6" class="col-12 p-2 border mt-2" v-model="newItem.text"></textarea>
                <button class="btn btn-success w-100 p-3 pt-4 mt-2" @click="newComment"> ثبت نظر</button>
            </div>
        </div>

        <div>
            <p class="title mt-3"> لیست نظرات</p>
            <div class=" mt-4 mb-4 " v-for="(comment,index) in comments" :key="index">
                <div
                    :class="['border pt-3 pr-3 pl-3',{admin: comment.userStatus === '3','bg-white' :comment.userStatus === '1'}]"
                    style="border-radius: 8px">
                    <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <i v-if="comment.userStatus === '1'" class="material-icons">how_to_reg</i>
                            <i v-if="comment.userStatus === '3'" class="material-icons">headset_mic</i>
                            <p> {{comment.user}} </p>
                        </div>
                    </div>
                    <p class="mr-4"> {{comment.text}} </p>
                    <div class="w-100 text-left m-0 d-flex" style="direction: ltr">
                        <p title="زمان ثبت پیام"> {{comment.date}} </p>
                        <p class="text-success pl-3" title="کاربر تگ شده" v-if="comment.userTag != null"> @ {{comment.userTag}} </p>
                        <p class="text-danger ml-2 d-flex" v-if="comment.redTime != null" title="زمان خواندن پیام">
                            <i class="material-icons pr-1 font-weight-bold" style="font-size: 13px; padding-top: 4px">access_time</i>
                            {{comment.redTime}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Http from 'axios';
    import Notification from "~/plugins/Notification";
    import commentCreate from "~/components/commentCreate";

    export default {
        props: ['serviceId'],
        name: "serviceComment",
        data() {
            return {
                comments: null,
                userList:null,
                newItem: {
                    text: '',
                    view: 1,
                    userTag: 0,
                    userStatus: 1,
                    serviceId: this.serviceId,
                    api_token: null,
                }
            }
        },
        components: {},
        methods: {
            getComments() {
                Notification.showLoading();
                Http.get('/api/V1/serviceList/comment/' + this.serviceId)
                    .then(response => {
                        console.log(response);
                        this.comments = response.data.data;
                        Notification.hideLoading();
                        this.commentRed();
                    })
                    .catch(error => {
                        console.log(error.response);
                        Notification.serverError(error.response.status);
                    })
            },
            async newComment() {

                if (this.newItem.text === '') {
                    Notification.error('متن کامنت نمی تواند خالی باشد');
                    return false;
                }

                this.newItem.api_token = localStorage.getItem('api_token');
                let create = await commentCreate.create(this.newItem);

                if (create) {
                    this.newItem.text = null;
                    this.newItem.view = 1;
                    Notification.success('کامنت جدید با موفقیت ثبت شد');
                    this.getComments();
                }

            },
            commentRed (){
                Http.post('/api/V1/serviceList/comment/red',{'serviceId': this.serviceId})
                .then(response => {
                    // console.log(response);
                })
                .catch(error => {

                })
            }
        },
        created() {
            this.getComments();
        }
    }
</script>

<style scoped>


    @keyframes example2 {
        0% {
            transform: scale(0.9);
            opacity: .9;
        }
        60% {
            transform: scale(1.07);
            opacity: 1;
        }
        100% {
            transform: scale(1.04);
        }
    }

    textarea {
        border-radius: 8px;
    }

    .title {
        color: #707070;
        font-size: 19px;
    }

    .admin {
        background-color: #ececeb;
    }
</style>
