<template>
  <div class="mt-4 mx-auto"  style="max-width: 1600px" v-if="item != null">
    <div class="d-flex font-weight-bold p-2 p-md-0">
      <nuxt-link to="/">
        <span  style="color: #2164e1;"> بیسمارک </span>
      </nuxt-link>
      <i class="material-icons" style="color: #2164e1;">chevron_left</i>
      <p>
        <span  style="color: #2164e1;">سامانه خدمات پس از فروش </span>
      </p>
      <i class="material-icons" style="color: #2164e1;">chevron_left</i>
      <p>
        <span  style="color: #2164e1;"> {{ item.name }} </span>
      </p>

    </div>

    <div  class="col-12 bg-white rounded shadow pb-3 mx-auto "  >

      <div v-if="item === null" class="d-flex align-items-center justify-content-center"  style="min-height: 500px">
        <!--            <VueLoading type="bars"></VueLoading>-->
      </div>

      <div class="col-12 pr-1 pt-2 " >
        <div class="d-flex justify-content-between">
          <div class="row pr-1 p-md-3">
            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title">وضعیت درخواست :</p>
              <p class="value"> {{ item.statusName }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title">مرکز خدماتی :</p>
              <p class="value"> {{ item.agentName }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title">نام :</p>
              <p class="value"> {{ item.name }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> شماره پیگیری :</p>
              <p class="value">{{ item.numberFollow }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title">نام محصول :</p>
              <p class="value">{{ item.productName }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title">مدل محصول :</p>
              <p class="value">{{ item.productModel }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> تاریخ ثبت درخواست :</p>
              <p class="value" style="direction: ltr">{{ item.date }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> تاریخ شروع گارانتی :</p>
              <p class="value">{{ item.serviceDate }}</p>
            </div>


            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> سریال گارانتی :</p>
              <p class="value">{{ item.serialNumber }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> استان:</p>
              <p class="value">{{ item.state }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> شماره تماس:</p>
              <p class="value">{{ item.phoneNumber }}</p>
            </div>

            <div class=" col-12 col-md-6 d-flex p-2">
              <p class="title"> کد پستی:</p>
              <p class="value">{{ item.postalCode }}</p>
              <p class="text-danger" v-if="item.postalCode === null">کد پستی برای ارسال الزامیست.</p>
            </div>

            <div class=" col-12 col-md-11 d-flex p-2">
              <p class="title"> آدرس:</p>
              <p class="value">{{ item.address }}</p>
              <p class="text-danger" v-if="item.address === null">آدرس  برای ارسال الزامیست. </p>
            </div>
          </div>
        </div>

        <div class="m-0 p-0 ">
          <div class="col-12 p-md-2 p-0 ">
            <p class="title"> توضیحات:</p>
            <p class="bg-white border w-100 p-3 " style="height: 220px; border-radius: 8px">
              {{ item.explanation }}
            </p>
          </div>
        </div>

        <div class="">
          <service-image :id="id"></service-image>
          <serviceComment :serviceId="id" v-if="commentStatus"></serviceComment>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import serviceComment from "./serviceComment";
// import serviceImage from "./serviceImage";
// import informationChart from "../../chart/service/informationChart";

import Http from 'axios';
import Notification from "~/plugins/Notification";
// import { VueLoading } from 'vue-loading-template'
import serviceComment from "~/components/Service/serviceComment";
import serviceImage from "~/components/Service/serviceImage";

export default {
    name: "ServiceOpen",
  head() {
    return {
      title: 'بیسمارک | سامانه خدمات پس از فروش بیسمارک' ,
      meta : [
        {
          hid: 'description',
          name : 'description',
          content : 'سامانه آنلاین خدمات پس از فروش بیسمارک'

        }
      ]
    }
  },
    data() {
        return {
            numberFollow: this.$route.params.numberFollw,
            id: null,
            item: null,
            commentStatus: true,
            comment: {
                text: '',
                view: 1,
                userStatus: 3,
                serviceId: this.id,
                api_token:'',
            }
        }
    },
    components: {
        // VueLoading,
        serviceComment,
        // informationChart,
        serviceImage
    },
    methods: {
        close() {
            this.$emit('closeOpenBox');
        },
        getId() {

            Http.get('/api/V1/serviceList/numberToId/' + this.numberFollow)
                .then(response => {
                    this.id = response.data;
                    this.getData();
                })
            .catch(error => {
                this.$router.push('/service');
                if (error.response.status === 404) {
                    this.$router.push('/service');
                    Notification.error('کد پیگیری اشتباه است.');
                }

            })
        },
        getData() {
            Notification.showLoading();
            Http.get('/api/V1/serviceList/open/' + this.id)
                .then(response => {
                    // console.log(response);
                    this.item = response.data;
                    Notification.hideLoading();
                })
                .catch(error => {
                    console.log(error.response);
                    // console.log(response.error.status);
                    if (error.response.status === 404) {
                        Notification.error('کد پیگیری اشتباه است.');
                    }
                    this.$router.push('/service');
                })
        }
    },
    created() {
        this.getId();
    }
}
</script>

<style scoped>

#openBox {
    position: fixed;
    height: 100%;
    max-height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.34);
}

.box2 {
    position: fixed;
    height: 100%;
    max-height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.34);

}

.con2 {
    position: relative;
    width: 94%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    /*display: table;*/
    margin: 3% auto;
    padding-top: 1%;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 6px 2px rgba(17, 17, 17, 0.27);

}

.input {
}

.title {
    color: #707070;
    font-size: 15px;
}

.value {
    color: #00acd4;
    padding-right: 7px;
    font-size: 15px;
}


.con2::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(254, 254, 254, 0.5);
}

.con2::-webkit-scrollbar-thumb {
    background-color: rgba(0, 172, 212, 0.9);
    border-radius: 6px;
}

.con2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.34);;
}

.select::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(28, 27, 27, 0.5);
}

.select::-webkit-scrollbar-thumb {
    background-color: rgba(0, 172, 212, 0.9);
    border-radius: 6px;
}

.select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.34);;
}
</style>
