<template>
  <div class="m-0" style="background-color: #f5f5f5">
    <div class="my-0 p-0" style="min-height: 700px; max-width: 1600px; margin: auto">

      <AddressBar class="m-0 mx-md-5 pt-2 pt-md-4" :link1="{'name': 'دسته بندی محصولات', 'address' : '' }"
                  :link2="{'name': category  , 'address' : '' }"
      ></AddressBar>

      <div class=" px-2 pb-3 d-md-none ">
        <FreeBox></FreeBox>
      </div>


      <div class="d-flex mx-md-4 mt-0">

        <div v-if="proShow" style="position: fixed; top:0; right: 0; z-index: 2004">
          <i class="material-icons font-weight-bold p-3" @click="proShow = false">close</i>
        </div>

          <CategoryList
            v-on:categoryList="changCategoryList($event)"
            v-on:search="search = $event"
            v-on:available="available = $event"
            :proShow="proShow"
          >
          </CategoryList>

        <div class="flex-grow-1">
          <ProductOrder
            v-on:chengOrder="chengOrder($event)"
            v-on:chengProShow="proShow = $event"
          >
          </ProductOrder>


          <ProductView :products="products"></ProductView>
        </div>


      </div>

        <div class="d-block ">
          <div class="boxSearch d-flex justify-content-center col-12 "
               style="bottom: 0; position: absolute; right: 0;padding-right: 430px">
            <div v-if="number !== 1"
                 style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer"
                 @click="number--">
              <i class="material-icons p-2">navigate_next</i>
            </div>

            <div v-else
                 style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; color: #808080; cursor: pointer">
              <i class="material-icons p-2">navigate_next</i>
            </div>

            <div v-if="products.length === 8" class="mr-3"
                 style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer"
                 @click="number++">
              <i class="material-icons p-2">chevron_left</i>
            </div>

            <div v-else class="mr-3"
                 style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer">
              <i class="material-icons p-2" style="color: #808080">chevron_left</i>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import AddressBar from "~/components/addressBar";
import FreeBox from "~/components/freeBox";
import Search from "~/components/header/search";
import Notification from "~/plugins/Notification";
import CategoryList from "~/components/category/categoryList";
import ProductView from "~/components/product/productView";
import ProductOrder from "~/components/product/productOrder";

export default {
  name: "index",
  components: {ProductOrder, ProductView, CategoryList, Search, FreeBox, AddressBar},
  async asyncData({$axios, params,query}) {

    let category = '';
    if (query.category)
    {
       category = query.category
    }else {
      category = '';
    }
    let iD = encodeURIComponent(
      params.slug
    );

    const getProduct = await $axios.$get('/api/V1/product/category/' + iD);
    // const getBanner = await $axios.$get('/api/V1/setting/banner/listView');

    // console.log(getProduct);

    let cat = params.slug.replaceAll('-', ' ');

    return {
      products: getProduct.data,
      category: cat,
      categoryList : category
    }
  },
  data() {
    return {
      products: null,
      category: '',
      available : '',
      order: '',
      categoryList: '',
      search: '',
      conPage: 8,
      number: 1,
      proShow : false,
    }
  },
  head() {
    return {
      title: 'بیسمارک | دسته بندی ' + this.category,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: "شرکت لوازم خانگی بیسمارک وارد کننده و فروشنده رسمی محصولات شرکت بیسمارک آلمان است. تمام واردات و خدمات پس از فروش شرکت بیسمارک زیر نظر این شرکت انجام می گیرد. با ورود به سایت می توانید خرید خود را انجام دهید. کاهای بیسمارک در دسته بندی مخطلف در سایت موجود می باشند " + this.category,
        },
        {
          name: 'keywords',
          content: ' دسته بندی بیسمارک , خرید بیسمارک , محصولات خانگی بیسمارک , قیمت بیسمارک ,' + '& دسته بندی  ' + this.category
        },
        {
          property: 'product:price:currency',
          content: 'IRR'
        },
        {
          property: 'og:type',
          content: 'product'
        },
        {
          name: 'robots',
          content: 'index, follow'
        },
      ]
    }
  },
  watch: {
    search: function () {
      return this.getProductSearch();
    },
    available : function () {
      return this.getProductSearch();
    },
    number: function () {

      if (this.number <= 0) {
        return this.number++
      }

      return this.getProductSearch();
    }
  },

  methods: {
    chengOrder(order) {
      this.order = order;
      this.number =1;
      this.getProductSearch();
    },
    changCategoryList(value) {
      this.categoryList = value;
      this.number =1;
      this.getProductSearch()
    },
    getProductSearch() {
      Notification.showLoading();
      this.$axios.$get('/api/V1/product/search/'
        + this.conPage
        + '?searchText=' + this.search
        + '&page=' + this.number
        + '&category=' + this.categoryList
        + '&' + this.order
        + '&available=' +[String(this.available)]
      )
        .then(response => {
          console.log(response);
          // this.lastPage = response.data.meta.last_page;
          this.products = response.data;
          // this.pages = [];
          // this.pagePrint();
          Notification.hideLoading();
        })
        .catch(error => {
          console.log(error.response);
          Notification.hideLoading();
          Notification.serverError(error.response.status);
        })
    },
  }
}
</script>

<style scoped>



@media only screen and (max-width: 1199px) {
  .boxSearch {
    padding-top: 60px !important;
    padding-right: 40px !important;
  }
}
</style>
