<template>
  <div>
    <div class="">
      <div class=" ">
        <div class="border rounded mt-4">
          <div class="p-1  p-md-4">
              <CardBack link="/card"></CardBack>
            <p class="font-weight-bold text-dark p-2 p-md-0">تکمیل اطلاعات سفارش</p>
            <p class="px-2 px-md-0" style="font-size: 12px; font-weight: bold; color: #808080">اطلاعات ضروری جهت ثبت سفارش شما</p>

            <p v-for="(e,index) in  errors" :key="index">{{e}}</p>

            <div class="d-md-flex mt-4 ">
              <div class="col-12 col-md-5">
                <p>استان</p>
<!--                <v-select :options="states" label="name" v-model="stateId"></v-select>-->
                <b-select v-model="address.stateId">
                  <b-select-option v-for="(s,index) in states" :key="index" :value="s.id" >{{s.name}}</b-select-option>
                </b-select>
              </div>
              <div class="col-12 col-md-5 mt-4 mt-md-0">
                <p>شهرستان</p>
                <b-form-input type="text" v-model="address.city" placeholder="شهرستان محل سکونت خود را وارد کنید"></b-form-input>
              </div>
            </div>

            <div class="mt-4 col-12 col-md-10">
              <p>آدرس</p>
              <b-textarea class="p-2" v-model="address.address" placeholder="ادرس را وارد کنید ..."></b-textarea>
            </div>

            <div class="mt-4 col-12 col-md-10">
              <p>کد پستی</p>
              <b-form-input class="" type="text" v-model="address.postalCode"placeholder="کد پستی را وارد کنید .."></b-form-input>
            </div>

            <div class="d-md-flex mt-4">
              <div class="col-12 col-md-5">
                <p>نام تحویل گیرنده</p>
                <b-form-input type="text" v-model="address.name" placeholder="نام تحویل گیرنده .."></b-form-input>
              </div>
              <div class="col-12 col-md-5 mt-4 mt-md-0">
                <p>نام خانوادگی تحویل گیرنده</p>
                <b-form-input type="text" v-model="address.family" placeholder="نام خانوادگی تحویل گیرنده .."></b-form-input>
              </div>
            </div>

            <div class="d-flex mt-4">
              <div class="col-6 col-md-5">
                <p>شماره موبایل</p>
                <b-form-input type="text" v-model="address.phoneNumber" placeholder="شماره تماس .."></b-form-input>
              </div>
              <div class="col-6 col-md-5">
                <p>کد ملی </p>
                <b-form-input type="text" v-model="address.nationalCode" placeholder="کد ملی"></b-form-input>
              </div>
            </div>
        </div>

          <div class="d-block d-md-flex  align-items-center justify-content-between font-weight-bold p-3 mt-4 border-top"
               style="background-color: #f8fbfc">
            <EndPrice></EndPrice>

            <div class="pt-3">
                <p @click="validate()" class="px-5 py-3 rounded text-white text-center font-weight-bold" style="background-color: #2164e1; cursor: pointer ">
                  مرحله بعد خرید
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/plugins/Notification";
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import EndPrice from "~/components/card/endPrice";
import CardBack from "~/components/card/cardBack";

export default {
  name: "address",
  fetch() {
    return this.$axios.$get('/api/V1/serviceList/stateList')
      .then(response => {
        // console.log(response)
        this.states = response;
      })
      .catch(error => {
        console.log(error.response);
      });
  },
  data() {
    return {
      loading: false,
      states: [],
      stateId: null,
      address: {
        name: '',
        family: '',
        stateId : null,
        city: '',
        address: '',
        postalCode: '',
        phoneNumber: '',
        nationalCode: '',
      },
      errors : []
    }
  },
  watch : {
    card : function (){
      if (this.$store.state.card.length === 0){
        this.$router.push('/card');
      }
    }
  },
  components: {
    CardBack,
    EndPrice,
    vSelect
  },
  computed: {
    card(){
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    discount() {
      return this.$store.state.discountCode;
    },

  },
  methods : {
    validate () {

      if (this.address.name === ''
        || this.address.family === ''
        || this.address.city === ''
        || this.address.stateId === ''
        || this.address.nationalCode === ''
        || this.address.postalCode === ''
        || this.address.address === ''
      ) {
        this.$store.commit('EDIT_CARD_ADDRESS_STATUS',false);
        return Notification.error('اطلاعات را بصورت کامل وارد کنید');
      }

      if (this.address.phoneNumber.length !== 11) {
        Notification.error('شماره تماس باید 11 عدد باشد');
        this.$store.commit('EDIT_CARD_ADDRESS_STATUS',false);
        return false;
      }

      this.createAddress();
    },
    getAddress(){

      Notification.showLoading()
     this.$axios.$get('/api/V1/card/customer/address/get/' + localStorage.getItem('api_token'))
        .then(response => {
          if (response.data !== null){
            this.address = response;
            this.stateId = response.stateId;
          }
          console.log(response);
          Notification.hideLoading();
        })
        .catch(error => {
          console.log(error.response);
          Notification.hideLoading();

        });
    },
    async createAddress(){
      Notification.showLoading();

      this.address.api_token = this.$store.state.user.api_token;

      await this.$axios.$post('/api/V1/card/customer/address/create', this.address)
        .then(response => {

          this.$store.commit('EDIT_CARD_ADDRESS_STATUS',true);
          console.log(response);
          this.$router.push('/card/sendCard');
          Notification.hideLoading();

        })
        .catch(error => {
          console.log(error.response);
          this.errors = error.response.data.errors;
          Notification.serverError(error.response.status);
          Notification.hideLoading();
        });
    }
  },

  mounted() {

    this.getAddress();

  }
}
</script>

<style scoped>
input {
  font-size: 13px;
  padding: 18px 10px;
}

textarea {
  font-size: 13px;
}
</style>
