<template>
<div style="z-index: 204">
  <p v-if="cardCon !== 0"
     id="cardCon"
     class="cardCon position-absolute  text-white text-center "
     style="top: -10px; width: 20px; border-radius: 10px; background-color: #ff5588; z-index: 205"
  >
    {{ cardCon }}
  </p>
</div>
</template>

<script>
export default {
  name: "cardCon",
  watch: {
    cardCon : function () {

      setTimeout(function (){
        let x = document.getElementById('cardCon');
        x.classList.add('cardCon');
        setTimeout(function () {
          x.classList.remove('cardCon');
        },2000);
      },500);

    }
  },
  computed : {
    cardCon() {
      let items = this.$store.state.card
      let con = 0;

      for (let i =0; i<items.length; i++)
      {
        con = con + items[i].con;
      }

      return con;
      // return this.$store.state.card.length;
    },
  }
}
</script>

<style scoped>

@keyframes cardCon {
  from  {transform: scale(3.9)}
  to {transform: scale(1)}

  from  {top: -130px }
  to {top : -10px}
}


.cardCon {
  animation-name: cardCon;
  animation-duration: 2000ms;
}
</style>
