<template>
<div>
  <i class="material-icons d-sm-none text-white font-weight-bold rounded px-2 py-1 m-1"
     style="background-color: #377dff "
     @click="go()"
  >
    east
  </i>
</div>
</template>

<script>
export default {
  name: "cardBack",
  props : ['link'],
  methods : {
    go(){
      this.$router.push(this.link);
    }
  }
}
</script>

<style scoped>

</style>
