<template>
  <div class="mx-auto" style="max-width: 1600px">

    <div class=" m-auto d-none d-sm-block">
      <div class="d-flex px-4 mt-5 mb-2">
        <div class="d-flex col-3 col-md-4 px-2">

          <div class="text-center">
            <nuxt-link to="/card">
              <div class="mr-2"
                   style="width: 30px; height: 30px; border-radius: 25px; border: 2px solid #377dff;background-color: #377dff"></div>
            </nuxt-link>
            <p class="mt-2" style="font-size: 13px; color: #808080">سبد خرید</p>
          </div>
          <div class="flex-grow-1 border-top m-3"></div>

        </div>

        <div class="d-flex col-4 px-2">
          <div class="text-center">
            <nuxt-link to="/card/complete-profile">
              <div :class="['mr-3',{select : cardAddressStatus}]"
                   style="width: 30px; height: 30px; border-radius: 25px; border: 2px solid #377dff">
              </div>
            </nuxt-link>
            <p class="mt-2" style="font-size: 13px; color: #808080">تکمیل اطلاعت </p>
          </div>
          <div class="flex-grow-1 border-top m-3"></div>
        </div>

        <div class="d-flex col-5 col-md-4 px-2">
          <div class="text-center">
            <nuxt-link to="/card/sendCard">
              <div :class="['mr-3',{selectBorder : send === '1',select : send === '2'}]"
                   style="width: 30px; height: 30px; border-radius: 25px; border: 2px solid #808080">

              </div>
            </nuxt-link>
            <p class="mt-2" style="font-size: 13px; color: #808080">نحوه ارسال </p>
          </div>

          <div class="flex-grow-1 border-top m-3"></div>

          <div class="text-center">
            <nuxt-link to="/card/cardPayment">
              <div :class="['mr-3',{selectBorder : payment === '1',select : payment === '2'}]"
                   style="width: 30px; height: 30px; border-radius: 25px; border: 2px solid #808080">
              </div>
            </nuxt-link>
            <p class="mt-2" style="font-size: 13px; color: #808080">پرداخت </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: ['send', 'payment'],
  name: "cardStatus",
  computed: {
    cardAddressStatus() {
      return this.$store.state.cardAddressStatus;
    }
  }
}
</script>

<style scoped>
.select {
  background-color: #377dff;
  border: 2px solid #377dff !important;
}

.selectBorder {
  border: 2px solid #377dff !important;
}


</style>
