<template>
  <div>
    <div v-if="discountView" class="d-flex  align-items-center ">

      <p class="mt-3" style="width: 90px">کد تخفیف</p>
      <b-input class="px-3 py-0" style="max-width: 120px" v-model="discountInput"></b-input>
      <b-button style="background-color: #ff5a5f; padding: 6px 8px" class="py-1 mr-2" @click="checkDiscount()">ثبت</b-button>
    </div>

    <div v-else class="d-flex d-inline-block " >
      <div class="d-flex  pt-2" style="color: #ff5a5f; cursor: pointer" @click="discountView = true">
        <i class="material-icons pt-1 pl-1" style="font-size: 13px">local_offer</i>
        <p style="font-size: 13px"> ثبت کد تخفیف</p>
      </div>
    </div>

    <div class="d-flex justify-content-between justify-content-md-between mt-2">
      <p style="color: #808080">جمع سبد خرید </p>
      <p class="mr-2" style="font-size: 15px">
        {{ cardTotalPrice | formatNumber }}
        <span style="font-weight: 500"> تومان </span>
      </p>
    </div>

    <div class="d-flex justify-content-between justify-content-md-between mt-1">

      <p style="color: #808080"> تخفیف </p>
      <p  v-if="discount !== 0" class="mr-2" style="font-size: 15px">
        {{  cardTotalPrice * (discount / 100) | formatNumber }}
        <span style="font-weight: 500"> تومان </span>
      </p>

      <p  v-else class="mr-2" style="font-size: 15px">
        {{ cardDiscountPrice | formatNumber }}
        <span style="font-weight: 500"> تومان </span>
      </p>
    </div>

    <div  class="d-flex justify-content-between justify-content-md-between mt-1">
      <p style="color: #808080">قابل پرداخت </p>
      <p v-if="discount === 0" class="mr-2" style="font-size: 15px">
        {{ cardTotalPrice - cardDiscountPrice | formatNumber }}
        <span style="font-weight: 500"> تومان </span>
      </p>

      <p v-else class="mr-2" style="font-size: 15px">
        {{ (cardTotalPrice) -  ( cardTotalPrice * (discount / 100)) | formatNumber }}
        <span style="font-weight: 500"> تومان </span>
      </p>
    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
export default {
  name: "endPrice",
  data (){
    return {
      discountInput : '',
      discountView : false,
    }
  },
  computed: {
    cardCon() {
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    cardDiscountPrice() {
      return this.$store.state.cardDiscountPrice;
    },
    card() {
      return this.$store.state.card;
    },
    discount(){
      return this.$store.state.discountCode;
    }
  },
  methods : {
    checkDiscount(){
      this.$axios.$post('/api/V1/card/checkDiscount/' + this.discountInput)
      .then(response => {
        console.log(response);
        localStorage.setItem('discount', this.discountInput);
        this.$store.commit('UPDATE_DISCOUNT',this.discountInput);
        this.$store.commit('UPDATE_DISCOUNT_CODE',response.discount);
        this.discountView = false;
        Notification.error(response.message);
      })
      .catch(error => {
        console.log(error.response);
      })
    },
    checkOldDiscount(){
      if (localStorage.getItem('discount'))
      {
        this.$axios.$post('/api/V1/card/checkDiscount/' + localStorage.getItem('discount'))
          .then(response => {
            console.log(response);
            this.$store.commit('UPDATE_DISCOUNT',localStorage.getItem('discount'));
            this.$store.commit('UPDATE_DISCOUNT_CODE',response.discount);
            this.discountView = false;
          })
          .catch(error => {
            console.log(error.response);
          })
      }
    }
  },
  beforeMount() {
    this.checkOldDiscount();
  }
}
</script>

<style scoped>
@media only screen and (max-width: 768px) {


  p {
    font-size: 12px !important;
  }
}
</style>
