<template>
  <div>
      <div class="border rounded overflow-hidden">
        <div class=" font-weight-bold p-3 " style="">
          <div>
            <div class="d-flex justify-content-between mt-1">
              <p style="color: #808080">جمع سبد خرید </p>
              <p class="mr-2" style="font-size: 15px">
                {{ cardTotalPrice | formatNumber }}
                <span style="font-weight: 500"> تومان </span>
              </p>
            </div>

            <div v-if="discount !== null" class="d-flex justify-content-between mt-1">
              <p style="color: #808080">تخفیف </p>
              <p class="mr-2" style="font-size: 15px">
                {{ (cardTotalPrice) * (discount / 100) | formatNumber }}
                <span style="font-weight: 500"> تومان </span>
              </p>
            </div>

            <div v-if="discount !== null" class="d-flex justify-content-between mt-1">
              <p style="color: #808080">قابل پرداخت </p>
              <p class="mr-2" style="font-size: 15px">
                {{ (cardTotalPrice) * ((100 - discount) / 100) | formatNumber }}
                <span style="font-weight: 500"> تومان </span>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "totalPrice",
  computed: {
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    discount() {
      return this.$store.state.discountCode;
    }
  }
}
</script>

<style scoped>

</style>
