<template>
  <div style="min-height: 700px; max-width: 1600px; margin: auto" class="mt-0 p-0 p-md-4">

    <div v-if="info === null" class="d-flex border rounded align-items-center justify-content-center bg-white"
         style="min-height: 400px">
      <!--            <VueLoading type="bars"></VueLoading>-->
    </div>

    <div class="d-flex justify-content-between mr-2 mr-md-0 mt-2 mt-md-0">
      <AddressBar :link1="{'name': info.categoryName, 'address' : '/category/'+ info.categorySlug }"
                  :link2="{'name':  info.name  + info.model , 'address' : '' }"
      >
      </AddressBar>

      <div class=" d-none d-md-flex" style="font-size: 12px; color: #808080">
        <p style="margin-top: 2px"> {{ info.model }} </p>
        <p style="margin-top: 2px" class="border-left px-2"> - شناسه کالا </p>
        <p class="mr-2 ml-1 font-weight-bold"
           style="border-bottom: 1px dashed #999999; cursor: pointer"
           @click="goComment('box')"
        >
          باز خورد درباره این کالا
        </p>
      </div>
    </div>


    <div>
      <div class="sliderBox border bg-white rounded ">
        <div v-if="slider"
             class="d-lg-none bg-white mb-4 mx-3 mx-md-2 mt-2  border rounded"
        >

          <div v-if="images.length !== 0">

            <div class="col-12 rounded shadow overflow-hidden p-0 " style="">
              <div class="d-flex justify-content-between bg-white d-md-none px-3 pt-3  ">
                <h6 class="d-block d-md-none bg-white pt-1   "
                    style="font-size: 12px; ">
                  <span> بیسمارک </span>
                  <span> {{ info.name }}</span>
                  <span> مدل </span>
                  <span style="font-weight: bold"> {{ info.model }}</span>
                </h6>
                <ProductOption></ProductOption>
              </div>
              <div class=" px-lg-3 p-0 p-4">
                <b-carousel
                  id="carousel-1"
                  v-model="slide"
                  :interval="5000"
                  background="#ffffff"
                  style="text-shadow: 1px 1px 2px #333;"
                  @sliding-start="onSlideStart"
                  @sliding-end="onSlideEnd"
                >

                  <b-carousel-slide v-for="(item,index2) in images" :key="index2" class=" rounded">
                    <template #img>
                      <img  class=" rounded imageZoom" :src="'https://server.bismark.ir'  + item" alt="" style="max-width: 300px; display: table; margin: auto">
                    </template>
                  </b-carousel-slide>

                </b-carousel>
              </div>

              <div class="d-flex justify-content-center pb-4">
                <div v-for="(i,index) in images.length" :key="index"
                     style="width: 8px; height: 8px; border-radius: 4px; background-color: #d8d8d8"
                     :class="['mx-1', {imageSelect : slide === index}]"
                >

                </div>
              </div>
            </div>
          </div>

          <div v-else>
            <div class="slider text-center">
              <img :alt=" ' قیمت خرید بیسمارک ' + info.name + info.model "
                   :title="' قیمت خرید بیسمارک '  + info.name + info.model " class=""
                   :src="'https://server.bismark.ir'  + info.image"
              >
            </div>
          </div>
        </div>

        <div class="d-block d-md-flex  justify-content-between position-relative  ">
          <div class="d-none d-lg-block col-4 col-xl-5 border-left">
            <ProductOption></ProductOption>
            <div class="d-none d-md-block col-md-7 m-auto">

              <img :alt=" ' قیمت خرید بیسمارک ' + info.name + info.model"
                   :title=" ' قیمت خرید بیسمارک ' + info.name + info.model "
                   :src="'https://server.bismark.ir'  + info.image"
                   style="width: 100%;"
                   class="imageZoom pr-0 m-0 "
              >
            </div>

            <div class="d-none d-md-flex justify-content-center  mr-2"
                 style="position: absolute; bottom: 0"
            >
              <div v-for="(i,index) in images"
                   :key="index"
                   class="m-1 p-1 border"
                   style="max-width: 80px"
              >
                <img :src="'https://server.bismark.ir'  + i"
                     alt=""
                     style="width: 100%"
                     @click="changImage(i)"
                />
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 position-relative">
            <div class="infoBox p-2 p-md-0 rounded">
              <h6 class="d-none d-md-block col-12  my-3 "
                  style="font-size: 15px; font-weight: bold">
                <span> بیسمارک </span>
                <span> {{ info.name }}</span>
                <span> مدل </span>
                <span> {{ info.model }}</span>
              </h6>

              <div class="d-flex   mt-4" style=" font-size: 12px">
                <div class="d-flex mr-3">
                  <p>برند : </p>
                  <p class="mr-2" style="color: #2164e1; font-weight: 700">
                    <nuxt-link to="/">
                      <span style="color: #2164e1;"> بیسمارک </span>
                    </nuxt-link>
                  </p>
                </div>

                <div class="d-flex" style="margin-right: 15%">
                  <p>دسته بندی : </p>

                  <nuxt-link :to="'/category/'+ info.categorySlug">
                    <p class="mr-2" style="color: #2164e1;  font-weight: 700">
                      {{ info.categoryName }}
                    </p>
                  </nuxt-link>

                </div>
              </div>

              <div class="mt-3 mr-3">
                <h6 style="font-size: 14px">مشخصات کلی : </h6>
                <div v-if="info.explanation !== 'null'"
                     v-html="info.explanation"
                     style="font-size: 13px; line-height: 27px; text-align: justify-all"
                     class="py-2"
                >
                </div>
              </div>
            </div>

            <div class="freeBox col-12 position-absolute mb-0 mb-md-3" style="  bottom:0;">
              <div class="d-flex align-items-center  mb-3 mr-2 ">
                <p class="m-0 font-weight-bold" style="font-size: 12px;width: 165px">امتیاز شما به محصول   </p>
                <b-form-rating v-model="value" class="mr-2 ml-0 pl-0 rounded border-0 col-md-7"  style=" color: #377dff"></b-form-rating>
              </div>

              <FreeBox></FreeBox>
            </div>
          </div>

          <div class="flex-grow-1 position-relative mx-3 mx-md-4 mt-md-4">
            <div class="d-md-none d-flex pb-1" style="font-size: 12px">
              <p style="color: #808080">چگونه مطمئن بشیم از شرکت اصلی خرید می کنیم ؟ </p>
              <a class="mr-2" target="_blank" href="https://rasm.io/Trademark/257804/%2FBISMARK-B/">
                <span style="border-bottom: 1px dashed #377dff">کلیک کنید</span>
              </a>
            </div>

            <div v-if="info.special !== 0" class="d-flex justify-content-between align-items-center p-2 border rounded shadow-sm mb-3">
                <h6 class="m-0 p-0 pr-1 " style="color: #575757; font-size: 13px; font-weight: 800"> تخفیف در مدت محدود</h6>
              <i class="material-icons p-0" style="color: #FFD700">grade</i>
            </div>

            <div class="  rounded "
                 style="background-color:#f5f5f5; min-height: 200px"
            >

              <div class="p-4 ">
                <div class="d-flex justify-content-between border-bottom ">
                  <div class="d-flex pt-2 " style="color: #575757">
                    <i class="material-icons" style="font-size: 19px">storefront</i>
                    <p class="" style="font-size: 14px">فروشنده : </p>
                  </div>
                  <div class="">
                    <p class=" mt-2 text-left" style="font-size: 14px; font-weight: 700; color: #2164e1;">
                      <nuxt-link to="/">
                        <span style="color: #2164e1;"> بیسمارک </span>
                      </nuxt-link>
                    </p>
                    <p class=" mt-2" style="font-size: 12px; color: #575757;"> ارسال توسط بیسمارک </p>
                  </div>
                </div>
              </div>

              <div class="px-4 ">
                <div class="d-flex justify-content-between border-bottom ">
                  <div class="d-flex pt-2 " style="color: #575757">
                    <i class="material-icons" style="font-size: 19px">credit_score</i>
                    <p class="" style="font-size: 14px">گارانتی : </p>
                  </div>
                  <p class=" mt-2" style="font-size: 15px; font-weight: 700; color: #333333;"> کارت طلایی تعویض </p>
                </div>
                <p class="pt-3" style="font-size:11px">18 ماه کارت طلائی تعویض و 5 سال خدمات پس از فروش </p>
              </div>

              <div
                   class="text-center p-3 " style="margin-top: 20px"
              >

                <div class="d-flex justify-content-between align-items-end">
                  <div>
                    <div v-if="info.available === 'true'" class="d-flex mr-2 pb-3">
                      <i class="material-icons p-0" style="font-size: 15px; color: #797777">shopping_bag</i>
                      <p  style="font-size: 12px; color: #797777">موجود در انبار</p>
                    </div>
                  </div>

                  <div >
                    <div class="d-flex justify-content-end align-items-center">
                      <del v-if="info.special !== 0" class="d-flex justify-content-end align-items-center text-left font-weight-bold ml-2 pl-0 ">
                        <span class=""> {{ info.price | formatNumber }} </span>
                        <span class=" " style="font-size: 11px">تومان</span>
                      </del>

                    </div>

                    <h5 class="d-flex text-left font-weight-bold pb-4 ml-1 mt-3">
                      <span  class=""> {{ info.price - (info.price * (info.special / 100)) | formatNumber }} </span>
                      <span class="pt-2 pr-1" style="font-size: 11px">تومان</span>
                    </h5>
                  </div>
                </div>


                  <h6 v-if="info.available === 'true'" class=" text-white rounded text-center p-3  "
                      style="font-size: 14px; font-weight: bold; background-color: #377dff; cursor: pointer"
                      @click="addToCard(true)"
                  >
                    افزودن به سبد خرید
                  </h6>

                <NoAvailable v-else></NoAvailable>

               <div v-if="info.available === 'true'" class="d-md-none">
                 <div class="boy " id="boy" @click="addToCard(false)">
                   <CardCon style="z-index: 2006"></CardCon>
                   <div class="d-flex align-items-center" style="overflow: hidden">
                     <i class="material-icons font-weight-bold" style="font-size: 15px">add</i>
                     <i class="material-icons" style="font-size: 22px">shopping_cart</i>
                     <p class="mr-3 text-white m-0" style="min-width: 300px; ">محصول به سبد خرید اضاف شد</p>
                   </div>
                 </div>

               </div>

              </div>


            </div>


            <div class="d-md-flex d-none w-auto pt-3 " style="font-size: 11px">
              <a class="mr-2" target="_blank" href="https://rasm.io/Trademark/257804/%2FBISMARK-B/">
                <p style="color: #808080">چگونه مطمئن بشیم از شرکت اصلی خرید می کنیم ؟ </p>
              </a>
              <a class="mr-2 d-none d-md-block d-lg-none d-xl-block" target="_blank"
                 href="https://rasm.io/Trademark/257804/%2FBISMARK-B/">
                <span style="border-bottom: 1px dashed #377dff">کلیک کنید</span>
              </a>
            </div>


          </div>

        </div>
      </div>

      <div class=" d-flex d-md-none mr-3 mt-3" style="font-size: 12px; color: #808080">
        <p style="margin-top: 2px"> {{ info.model }} </p>
        <p style="margin-top: 2px" class="border-left px-2"> - شناسه کالا </p>
        <p class="mr-2 ml-1 font-weight-bold"
           style="border-bottom: 1px dashed #999999; cursor: pointer"
           @click="goComment('phoneComment')"
        >
          باز خورد درباره این کالا
        </p>
      </div>

      <Related v-if="info.length !== 0" :cat="info.category"></Related>

      <div id="box" class=" d-none d-md-block border rounded mt-3 mt-md-4 border-bottom overflow-hidden "
           style="background-color: #fafafa">
        <div class="d-flex  p-0 ">
          <h6 @click="selectLi = 'info'"
              :class="['li d-flex p-4 m-0 border-left border-bottom',{'bg-white border-bottom-0' : this.selectLi === 'info' }]">
            <i class="material-icons">analytics</i>
            <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">مشخصات</span>
          </h6>
          <h6 @click="selectLi = 'comment'"
              :class="['li d-flex p-4 m-0 border-left border-bottom',{'bg-white border-bottom-0' : this.selectLi === 'comment' }]">
            <i class="material-icons">comment</i>
            <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">نظرات کاربران</span>
          </h6>
          <h6 @click="selectLi = 'question'"
              :class="['li d-flex p-4 m-0 border-left border-bottom',{'bg-white border-bottom-0' : this.selectLi === 'question' }]">
            <i class="material-icons">help_outline</i>
            <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">سئوالات کاربران</span>
          </h6>
          <h6 class="li d-flex flex-grow-1 p-4 m-0 border-bottom"></h6>
        </div>

        <div class="bg-white" style="min-height: 200px">
          <component :is="selectLi" :id="id" :explanation="info.explanation"></component>
        </div>
      </div>

      <div class="bg-white d-md-none mt-2  mt-md-4 ">
        <div class="  p-0 " id="phoneComment">
          <div class="m-2 shadow border rounded">
            <h6 @click="selectLi = 'info'"
                :class="['li d-flex p-4 m-0  ']">
              <i class="material-icons">analytics</i>
              <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">مشخصات</span>
            </h6>
            <info v-if="selectLi === 'info'" :id="id" :explanation="info.explanation"></info>
          </div>

          <div class="mx-2 mt-3 shadow border rounded">
            <h6 @click="selectLi = 'comment'"
                :class="['li d-flex p-4 m-0  ']">
              <i class="material-icons">comment</i>
              <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">نظرات کاربران</span>
            </h6>
            <comment class="mr-3" v-if="selectLi === 'comment'" :id="id"></comment>
          </div>

          <div class="mx-2 my-3 shadow border rounded">
            <h6 @click="selectLi = 'question'"
                :class="['li d-flex flex-grow-1 p-4 m-0  ']">
              <i class="material-icons">help_outline</i>
              <span style="font-weight: 600; color: #808080; font-size: 14px; padding-top: 2px">سئوالات کاربران</span>
            </h6>
            <question class="mr-3" v-if="selectLi === 'question'" :id="id"></question>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/components/notificationService";

import infoProduct from '~/components/product/info';
import Related from '~/components/product/productRelated';
import Comment from "~/components/product/productComment";
import Question from '~/components/product/productQuestion';
import userMixin from "~/mixins/userMixin";
import AddressBar from "~/components/addressBar";
import FreeBox from "~/components/freeBox";
import ProductOption from "~/components/product/productOption";
import CardCon from "~/components/card/cardCon";
import NoAvailable from "~/components/product/noAvailable";

export default {
  name: "Product",
  async asyncData({$axios, params, req}) {

    // console.log(params);

    let iD = encodeURIComponent(
      params.id
    );

    const productInfo = await $axios.$get('/api/V1/product/info/' + iD);
    const productImages = await $axios.$get('/api/V1/product/gallery/productImages/' + productInfo.data.id);

    const productImagesEdit = await productImages.filter((item) => {
      let i = item.indexOf('mini');
      console.log(i);
      if (i !== -1) {
        return i;
      }
    });

    return {
      id: iD,
      info: productInfo.data,
      images: productImagesEdit
    }
  },

  head() {
    return {
      title: 'بیسمارک | ' + this.info.name + ' مدل ' + this.info.model,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.info.explanation

        },
        {
          name : 'keywords',
          content : 'بیسمارک , خرید بیسمارک , محصولات خانگی بیسمارک , قیمت بیسمارک ,' + this.info.name + this.info.model
        },
        {
          property : 'product:price:currency',
          content : 'IRR'
        },
        {
          property : 'og:type',
          content : 'product'
        },
        {
          name : 'robots',
          content : 'index, follow'
        },
      ]
    }
  },
  data() {
    return {
      id: null,
      id2: null,
      info: [],
      selectLi: 'info',
      images: [],
      slideImages: [],
      slider: false,
      slide: 0,
      sliding: null,
    }
  }
  ,
  components: {
    NoAvailable,
    CardCon,
    ProductOption,
    FreeBox,
    AddressBar,
    'info':
    infoProduct,
    'comment':
    Comment,
    'question':
    Question,
    Related,
    // VueLoading,
  }
  ,
  methods: {
    filterImages() {
      this.images = this.images.filter((item) => {
        let i = item.indexOf('mini');
        console.log(i);
        if (i !== -1) {
          return i;
        }
      });

    },
    changImage(img) {
      this.info.image = img.replace('gallery/mini-', 'gallery/');
    },
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    },
    goComment(element) {
      this.selectLi = 'comment';
      let el = document.getElementById(element);
      el.scrollIntoView({behavior: 'smooth', block: 'start'});
    },
    addToCard(noti) {
      let el = document.getElementById('boy');
      el.classList.remove('boyAni2');
      el.classList.add('boyAni');

      this.$store.commit('ADD_TO_CARD', this.info);
      if (noti === true)
      {
        Notification.success('محصول به سبد خرید اضاف شد');
      }

      setTimeout(function (){
        el.classList.add('boyAni2');

        el.classList.remove('boyAni');
      },3000)



    },
  },
  created() {
    // this.getInfo(this.$route.params.productId);
  },
  beforeMount() {
    this.images.push(this.info.image);
    this.filterImages();
  },
  mounted() {
    this.slider = true;
  },

}

</script>

<style scoped>

a:hover {
  text-decoration: none !important;
}

i {
  padding-left: 12px;
  color: #707070;
  cursor: pointer;
}

.li {
  cursor: pointer;
}

.slider img {
  position: relative;
  width: 100% !important;
}

.slider p {
  font-size: 12px;
}

.imageZoom:hover {
  z-index: 21;
  transform: scale(2);
  border: 1px solid #b7b4b4;
  border-radius: 3px;
}

@keyframes sliderAni {
  from {
    width: 8px;
  }
  to {
    width: 18px;
  }
}

.imageSelect {
  animation-name: sliderAni;
  animation-duration: 300ms;

  animation-fill-mode: forwards;
  background-color: #808080 !important;
  transform: scale(1.4);
  box-shadow: 0 .01rem 1rem rgba(0, 0, 0, .15) !important;
  /*width: 15px !important;*/
}

del {
  font-size: 13px;
  color: red;
}

@media only screen and (max-width: 767px) {
  .sliderBox {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;

  }

  .freeBox {
    position: relative !important;
    margin: 5% 0 !important;
    padding: 0 !important;
  }

  .freeBox img {
    width: 120px !important;
    height: auto !important;
    padding: 0 !important;
  }

  .shadow {
    box-shadow: 0 .01rem 1rem rgba(0, 0, 0, .15) !important;
  }

  .infoBox {
    box-shadow: 0 .01rem 1rem rgba(0, 0, 0, .15) !important;
    border: 1px solid #dee2e6 !important;
  }

  .boy {
    background: #377dff;
    z-index: 200;
    position: fixed;
    width: 54px;
    height: 54px;
    /*overflow-x: hidden;*/
    border-radius: 70px;
    padding:13px 4px;
    margin: 0 !important;
    bottom:10px ;
    right: 10px !important;
  }

  .boy i {
    color: white;
    padding: 0;
    margin: 0;
  }


  @keyframes boyAni {
    from {
      width: 46px;
    }
    to {
      width: 290px;
    }
  }

  @keyframes boyAni2 {
    from {
      width: 290px;
    }
    to {
      width: 55px;
    }
  }

  .boyAni {
    animation-name: boyAni;
    animation-duration: 3000ms;
  }

  .boyAni2 {
    animation-name: boyAni2;
    animation-duration: 3000ms;
  }

}

</style>
