@font-face {
font-family: "yekan";
src: url(Yekan.eot);
src: url(Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff)
format("woff"), url(Yekan.ttf) format("truetype"), url(Yekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}


@font-face {
font-family: "IRANSansWeb_Bold";
src: url(IRANSansWeb_Bold.eot);
src: url(IRANSansWeb_Bold.eot?#iefix) format("embedded-opentype"), url(IRANSansWeb_Bold.woff)
format("woff"), url(IRANSansWeb_Bold.ttf) format("truetype"), url(Yekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}
