<template>
  <div style="min-height: 130px;min-width: 390px"  :class=" ['d-none d-xl-block col-3 px-4 pt-2 mb-4   ',{productSide : proShow} ]">

    <FreeBox> </FreeBox>

    <div class="my-4 bg-white  p-3 shadow-sm border rounded">
      <p class="font-weight-bold ">جستجو در نتایج </p>
      <div class="d-flex col-12 p-1 border rounded" style="background-color: #f6f6f6">
        <i class="material-icons pt-2 pr-1" style="color: #a7a6a6">search</i>
        <b-input type="text"
                 class="border-0 "
                 style="background-color: #f6f6f6"
                 v-model="search"
                 placeholder="نام یا مدل کالا ... "
        >
        </b-input>
      </div>
    </div>

   <div class="d-flex justify-content-between mt-4 bg-white p-3 shadow-sm border rounded">
     <p class="m-0">فقط محصولات موجود</p>
     <b-check v-model="available"></b-check>
   </div>

    <div class=" mt-4 bg-white p-3 shadow-sm border rounded">
      <p class="m-0 font-weight-bold">انتخاب بر اساس برند</p>
      <div class="d-flex mt-2 mr-0 ">
        <b-check class="mr-0" checked="true"></b-check>
        <span class="mr-2">بیسمارک</span>
      </div>
    </div>

   <div class="my-4 bg-white px-2 pt-4 pb-0  shadow-sm border rounded">
     <p class="font-weight-bold   pr-2">  انتخاب بر اساس دسته بندی</p>
     <ul class="bg-white   p-0 ">
       <li v-for="(item ,index) in categories" :key="index" class="d-flex">
         <b-check class="ml-2" @change="addList(item.id)"></b-check>
         <p @click="backShow = false"> {{ item.name }}</p>
       </li>
     </ul>
   </div>
  </div>
</template>

<script>
import FreeBox from "~/components/freeBox";
import search from "~/components/header/search";
export default {
  name: "categoryList",
  props : ['proShow'],

  components: {FreeBox},
  fetch() {
    return this.$axios.$get('/api/V1/category/search/10')
      .then(response => {
        console.log(response)
        this.categories = response.data;
      })
      .catch(error => {
        console.log(error);
      })
  },
  data() {
    return {
      categories: [],
      selectList: [],
      search : '',
      available : null,
    }
  },
  watch : {
    search : function (){
      this.$emit('search',this.search)
    } ,
    available : function (){
      let x = 'true,false';
      if (this.available === true)
      {
        this.$emit('available','true')

      }else {
        this.$emit('available',x)
      }
    },
  } ,
  methods: {
    addList(number) {
      let x = 1;

      x = this.selectList.lastIndexOf(number);

      if (x === -1){
        this.selectList.push(number);
      }else {
        this.selectList.splice(x,1);
      }


      this.$emit('categoryList', this.selectList);
    }
  }
}
</script>

<style scoped>

p {
  font-size: 14px;
}

input:focus {
  border: 0;
  box-shadow: none;
}
  .productSide {
    position: fixed;
    min-width:auto !important;
    max-width: 400px !important;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 210;
    padding:50px 30px !important;
    background-color: #f5f5f5;
    display: block !important;
    overflow-y: auto;

}
</style>
