<template>
  <div class="mx-auto mt-5" style="max-width: 1600px">

    <div v-if="paymentBox" class="payment d-flex justify-content-center align-items-center ">
      <div class="d-inline-block  shadow border p-3 bg-white col-10 col-md-5 ">
        <div class="text-left">
          <i class="material-icons text-danger font-weight-bold"
             style=" cursor: pointer"
             @click="paymentBox = false">close</i>
        </div>
        <div class="p-3 pm-md-5">
          <p class="text-center font-weight-bold">سفارش شما پرداخت نشده است</p>
          <p class="text-center pt-3">
             <span class="px-4 py-2 shadow rounded text-white "
                   style="background-color: #2164e1; cursor: pointer"
                   @click="createPayment"
             >
           پرداخت سفارش
           </span>
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex  my-md-4">
      <div class="mr-3 d-none d-md-block  " style="max-width: 320px; width: 30%">
        <ProfileMenu></ProfileMenu>
      </div>

      <div class="flex-grow-1 mx-2 mx-md-4 ">

        <div class="d-flex justify-content-between mx-0">
          <div class="col-12  p-0 ">
            <div class="border rounded shadow overflow-hidden">

              <div v-if="cardInfo.status === 1" class="m-3 p-2  rounded"
                   style="border: 1px solid #ef5662; cursor: pointer">
                <p class="text-center p-0 m-0" style="color: #ef5662">وجه سفارش پرداخت نشده است</p>
              </div>

              <div class="p-3">
                <div class=" mx-3 pb-4 d-md-flex text-center" style="font-size: 12px; ">
                  <p class="pt-3 text-center m-0" style="color: #707070"> ارسال به : </p>
                  <p class="text-center pt-md-3 m-0 pt-1 mr-2 font-weight-bold"> {{ cardInfo.city }} -
                    {{ cardInfo.address }}</p>
                </div>

                <div class="d-flex border-bottom border-top" style="font-size: 13px;">
                  <div class=" col-6 border-left pt-3">
                    <div class="d-md-flex ">
                      <p class="text-center" style="color: #707070">تاریخ ثبت سفارش : </p>
                      <p class="font-weight-bold text-center mr-1">{{ cardInfo.date }}</p>
                    </div>
                  </div>

                  <div class=" col-6 pt-3">
                    <div class="d-md-flex text-center">
                      <p class="text-center" style="color: #707070">شماره سفارش : </p>
                      <div class="d-flex align-items-center justify-content-center text-center pb-3 ">
                        <p class="font-weight-bold pr-2 pb-0 m-0 text-center">CB - {{ cardInfo.id }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex border-bottom " style="font-size: 13px;">
                  <div class=" col-6 pt-3 border-left">
                    <div class="d-md-flex ">
                      <p class="text-center" style="color: #707070">مبلغ قابل پرداخت : </p>
                      <div class="d-flex align-items-center justify-content-center pb-3 text-center ">
                        <p class=" text-center font-weight-bold pr-2 pb-0 m-0">
                          {{ cardInfo.totalPrice - cardInfo.discount | formatNumber }}</p>
                        <span style="font-size: 11px" class="mr-1">تومان</span>
                      </div>
                    </div>
                  </div>

                  <div class=" col-6 pt-3">
                    <div class="d-md-flex ">
                      <p class="text-center" style="color: #707070">تخفیف : </p>
                      <div class="d-flex align-items-center pb-3 justify-content-center">
                        <p class="text-center font-weight-bold pr-2 pb-0 m-0">{{ cardInfo.discount | formatNumber }}</p>
                        <span style="font-size: 11px" class="mr-1">تومان</span>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="d-flex border-bottom " style="font-size: 13px;">
                  <div class=" col-6 pt-3 border-left">
                    <div class="d-md-flex ">
                      <p class="text-center" style="color: #707070">نحوه دریافت سفارش : </p>
                      <div class="d-flex align-items-center justify-content-center pb-3 text-center ">
                        <p v-if="cardInfo.sendMode === 'send'" class=" text-center font-weight-bold pr-2 pb-0 m-0">ارسال
                          به آدرس مشتری </p>
                        <p v-if="cardInfo.sendMode === 'delivery' " class=" text-center font-weight-bold pr-2 pb-0 m-0">
                          تحویل حضوری از دفتر شرکت</p>

                      </div>
                    </div>
                  </div>

                  <div class=" col-6 pt-3">
                    <div class="d-md-flex ">
                      <p class="text-center" style="color: #707070">وضعیت پرداخت : </p>
                      <div class="d-flex align-items-center pb-3 justify-content-center">
                        <p v-if="cardInfo.status === 1" class="text-center font-weight-bold pr-2 pb-0 m-0">پرداخت
                          نشده </p>
                        <p v-if="cardInfo.status === 2" class="text-center font-weight-bold pr-2 pb-0 m-0"> حضوری پرداخت
                          می کنند</p>
                        <p v-if="cardInfo.status === 3" class="text-center font-weight-bold pr-2 pb-0 m-0"> پرداخت
                          شده</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" my-2 pt-2 d-flex justify-content-end align-items-center">
                  <p class="font-weight-bold m-0 "
                     style="font-size: 13px; cursor: pointer"
                     @click="getPaymentINfo()"
                  >تاریخچه پرداخت</p>
                  <i class="material-icons mr-1"
                     style="cursor: pointer"
                     @click="getPaymentINfo()"
                  >expand_more</i>
                </div>

                <div v-if="paymentView" class="p-2 mt-3 border rounded col-12 "
                     style="background-color: #fafafa">

                  <div v-if="payments.length !== 0" class="d-flex" style="color: #707070; font-size: 13px">
                    <div class="col-3">تاریخ</div>
                    <div class="col-5 col-sm-3">توضیح</div>
                    <div class="col-3  d-none d-sm-block">شماره کارت</div>
                    <div class="col-4 col-sm-3">کد پیگیری</div>
                  </div>

                  <div v-if="payments.length === 0">
                    <p class="font-weight-bold text-center my-4" style="color: #707070; font-size: 14px">تراکنشی برای این خرید ثبت نشده است</p>
                  </div>

                  <div v-for="(item,index) in payments" :key="index" class="d-flex mt-3 font-weight-bold"
                       style="font-size: 13px">
                    <div class="col-3">{{ item.date }}</div>
                    <div class="col-5 col-sm-3">{{ item.ex }}</div>
                    <div class="col-3 d-none d-sm-block " style="direction: ltr">{{ item.cardPan }}</div>
                    <div class="col-3">{{ item.refId }}</div>
                  </div>

                </div>

              </div>

              <div class="px-md-4">

                <p class=" font-weight-bold text-dark mt-3 mr-4"> اقلام فاکتور </p>
                <div class="cards mt-3 border rounded">
                  <div v-for="(item,index) in cardItems" :key="index"
                       class="m-md-2 m-1 "
                  >

                    <div
                      :class="['d-flex align-items-center m-1 m-md-4 pb-md-3 ',{'border-bottom' : cardItems.length !== index +1}]">
                      <div class="">
                        <img :src="'https://server.bismark.ir/img/kala/'  + item.productId + '/img-mini.jpg'"
                             style="max-width: 120px; width: auto; position: relative"
                             class="ml-md-2"
                             alt="بیسمارک"
                        >
                      </div>

                      <div
                        class="d-block d-md-flex justify-content-between flex-grow-1 font-weight-bold mr-md-2 pt-1 pb-1 ">
                        <div>
                          <p style="font-size: 13px; font-weight: bold">
                            <nuxt-link :to="'/product/' + item.slug">
                              <span> بیسمارک </span> {{ item.name }} <span> مدل </span> {{ item.model }}
                            </nuxt-link>
                          </p>

                          <div class="">
                            <div class="d-md-flex  ">
                              <div class="d-flex pt-md-2 " style="color: #575757">
                                <i class="material-icons mr-1 mr-md-0" style="font-size: 19px">storefront</i>
                                <p class="mr-2" style="font-size: 13px; color: #575757">بیسمارک </p>
                              </div>

                              <div class="d-flex pt-md-2 mr-1 mr-md-4" style="color: #575757">
                                <i class="material-icons" style="font-size: 19px">credit_score</i>
                                <p class="  mr-1 mr-md-2" style="font-size: 13px; font-weight: 500; color: #575757;">
                                  کارت طلایی تعویض </p>
                              </div>

                            </div>

                            <div class="d-flex" style="font-size: 14px">
                              <p>تعداد : </p>
                              <p class="mr-2">{{ item.con }}</p>
                            </div>
                          </div>

                        </div>

                        <div class="mt-2 mt-md-0">

                          <p class="text-right text-md-left ml-2" style=" font-size: 13px">
                            <span style="color: #81858b; font-size: 12px">قیمت</span>
                            <span class="text-dark" style="font-weight: bold">{{ item.price  | formatNumber }} </span>
                            <span style="font-weight: 500 ;font-size: 9px">
                              تومان
                            </span>
                          </p>

                          <p v-if="item.discount !== null" class="text-right text-md-left ml-2"
                             style=" font-size: 13px; color: #ff5a5f ">
                            <span style="font-size: 12px">تخفیف</span>
                            <span class="" style="font-weight: bold">{{ item.discount | formatNumber }} </span>
                            <span style="font-weight: 500;font-size: 9px"> تومان </span>
                          </p>

                          <p class="text-right text-md-left ml-2" style=" font-size: 13px">
                            <span style="color: #81858b; font-size: 12px">قابل پرداخت</span>
                            <span class="text-dark"
                                  style="font-weight: bold">{{ item.price - item.discount  | formatNumber }} </span>
                            <span style="font-weight: 500;font-size: 9px"> تومان </span>
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div
                class="d-block d-md-flex align-items-center justify-content-center font-weight-bold p-3 mt-4 border-top"
                style="background-color: #f8fbfc">

                <div class="pt-3">
                  <div v-if="cardInfo.sendMode === 'send'">

                    <p v-if="cardInfo.status === 3 "
                       class="px-5 py-3 rounded text-white text-center font-weight-bold"
                       style="background-color: #2164e1;  ">
                      سفارش شما در صف ارسال است
                    </p>

                    <p v-else @click="createPayment()"
                       class="px-5 py-3 rounded text-white text-center font-weight-bold"
                       style="background-color: #2164e1; cursor: pointer ">
                      پرداخت وجه سفارش
                    </p>
                  </div>

                  <p v-if="cardInfo.sendMode === 'delivery'" @click=""
                     class="px-5 py-3 rounded text-white text-center font-weight-bold"
                     style="background-color: #2164e1; ">
                    سفارش شما ثبت شد و از دفتر شرکت می توانید تحویل بگیرید
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
import ProfileMenu from "~/components/profile/profileMenu";

export default {
  name: "index",
  components: {ProfileMenu},
  data() {
    return {
      paymentBox: false,
      cardInfo: [],
      cardItems: [],
      address: [],
      payments: [],
      paymentView: false
    }
  },
  methods: {
    getInfo() {
      Notification.showLoading()
      let id = this.$route.params.id;
      this.$axios.$get('/api/V1/card/info/' + id + '/' + localStorage.getItem('api_token'))
        .then(response => {
          console.log(response);
          this.cardInfo = response.data.cardInfo;
          this.cardItems = response.data.cardItem;

          if (response.data.cardInfo.status === 1) {
            this.paymentBox = true;
          }

          Notification.hideLoading()
        })
        .catch(error => {
          Notification.serverError(error.response.status);
          console.log(error.response);
          this.$router.push('/');
        })
    },
    getAddress() {
      this.$axios.$get('/api/V1/card/customer/address/get/' + localStorage.getItem('api_token'))
        .then(response => {
          if (response.data !== null) {
            this.address = response;
          }
          console.log(response);
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    payment() {
      Notification.showLoading();
      let data = {
        "merchant_id": "00861ce4-fb16-4a29-92ef-c953aae0f68d",
        "amount": 1000,
        "callback_url": "https://test.bismark.ir/card/checkPayment/" + this.cardInfo.id,
        "description": "خرید ",
      };

      this.$axios.$post('https://api.zarinpal.com/pg/v4/payment/request.json', data)
        .then(response => {
          console.log(response);
          if (response.data.code === 100) {
            return this.createPayment(response.data.authority)
          }

          Notification.error('مشکلی در ارتباط با درگاه پرداخت به وجود آمده');
        })
        .catch(error => {
          Notification.error('مشکلی در ارتباط با درگاه پرداخت به وجود آمده');
          Notification.error(error.response.status)
          console.log(error.response);
        })
    },
    createPayment() {
      Notification.showLoading();
      let data = {
        'api_token': localStorage.getItem('api_token'),
        'cardId': this.cardInfo.id,
        'price': this.cardInfo.totalPrice - this.cardInfo.discount,
      };

      // console.log(data)

      this.$axios.post('/api/V1/card/payment/create', data)
        .then(response => {
          console.log(response);
          if (response !== 'false') {
            return window.location = 'https://www.zarinpal.com/pg/StartPay/' + response.data.authority;
          }
          Notification.error('مشکلی در ارتباط با درگاه پرداخت به وجود آمده');
        })
        .catch(error => {
          Notification.error('مشکلی در ارتباط با درگاه پرداخت به وجود آمده');
          Notification.error(error.response.status)
          console.log(error.response);
        })
    },
    getPaymentINfo() {

        if (this.paymentView === true) {
          return this.paymentView = false
        }
        Notification.showLoading();
        this.$axios.$get('/api/V1/card/payment/list/' + this.cardInfo.id)
          .then(response => {
            console.log(response)
            this.payments = response;
            this.paymentView = true;
            Notification.hideLoading()
          })
          .catch(error => {
            console.log(error.response);
            Notification.hideLoading()
          })
      }

  },
  beforeMount() {
    this.getInfo();
    this.getAddress();
  }
}
</script>

<style scoped>


.payment {
  z-index: 1;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 768px) {
  .cards {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid #d9d8d8 !important;

  }

  p {
    font-size: 12px !important;
  }

}
</style>
