<template>
  <div class="m-0 ">
    <p class="font-weight-bold">آخرین سفارش ها</p>
    <div class="mt-3 d-none d-md-block">
      <b-table striped hover bordered :items="cards" :fields="fields" class="bg-white">
        <template v-slot:cell(id)="data">
          <p class="text-center p-4 m-0" style="color: #808080">
            {{ data.item.id }}
          </p>
        </template>

        <template v-slot:cell(date)="data">
          <p class="text-center p-4 m-0" style="color: #808080">
            {{ data.item.date }}
          </p>
        </template>

        <template v-slot:cell(totalPrice)="data">
          <p class="text-center p-4 m-0" style="color: #808080">
            {{ data.item.totalPrice  | formatNumber }}
            <span>تومان</span>
          </p>
        </template>

        <template v-slot:cell(paymentStatus)="data">
          <p v-if="data.item.status === 1" class="text-center p-4 m-0" style="color: #808080">
            پرداخت نشده
          </p>

          <p v-if="data.item.status === 2" class="text-center p-4 m-0" style="color: #808080">
            پرداخت در محل
          </p>

          <p v-if="data.item.status === 3" class="text-center p-4 m-0" style="color: #808080">
            پرداخت شده
          </p>
        </template>

        <template v-slot:cell(info)="data">
          <p class="text-center p-4 m-0" style="color: #808080">
            <nuxt-link :to="'/card/info/' + data.item.id">
              <i class="material-icons" style="color: #808080">arrow_back_ios</i>
            </nuxt-link>
          </p>
        </template>
      </b-table>
    </div>

    <div class="d-md-none mt-4 ">
      <div v-for="(item,index) in cards" :key="index" class="my-3 p-1 border rounded ">
        <div class="d-flex justify-content-between" style="font-size: 13px">
          <p class="p-2 font-weight-bold">CB-{{ item.id }}</p>
          <p class="font-weight-bold p-2 m-0" style="color: #808080">
            {{ item.totalPrice  | formatNumber }}
            <span style="font-size: 9px">تومان</span>
          </p>
        </div>

        <p class="p-2 " style="font-size: 11px;">{{ item.date }}</p>

        <div class="d-flex justify-content-between">
          <div>
            <img v-for="(i,index) in item.products"
                 :class="['px-2 ',{ 'border-left' : item.products.length !== index+1}]" style="width: 60px" :key="index"
                 :src="'https://server.bismark.ir/img/kala/'  + i + '/img-mini.jpg'"/>
          </div>
          <nuxt-link :to="'/card/info/' + item.id">
            <i class="material-icons pl-2 pt-3 font-weight-bold"
               style="color: #808080; font-size: 15px">arrow_back_ios</i>
          </nuxt-link>
        </div>

        <div v-if="item.status === 1" class="rounded mt-1" style="border: 1px solid #ef5662; cursor: pointer">
          <nuxt-link :to="'/card/info/' + item.id">
            <p class="text-center p-1 m-0">
              <span style="color: #ef5662">پرداخت نشده</span>
            </p>
          </nuxt-link>
        </div>
      </div>

    </div>
  </div>


</template>

<script>
import Notification from "~/plugins/Notification";

export default {
  name: "lastCards",
  data() {
    return {
      cards: [],
      fields: [
        {
          key: 'id',
          label: 'شماره سفارش',
          sortable: true,
          variant: null
        },

        {
          key: 'date',
          label: 'تاریخ ثبت سفارش',
          sortable: true
        },
        {
          key: 'totalPrice',
          label: ' مبلغ سفارش',
          sortable: true
        },
        {
          key: 'paymentStatus',
          label: 'عملیات پرداخت',
          sortable: true
        },
        {
          key: 'info',
          label: ' جزئیات'
        },
      ],
    }
  },
  methods: {
    getCards() {
      Notification.showLoading()
      this.$axios.$get('/api/V1/card/last/' + localStorage.getItem('api_token'))
        .then(response => {
          console.log(response)
          this.cards = response.data;
          Notification.hideLoading();
        })
        .catch(error => {
          Notification.serverError(error.response.status);
          console.log(error.response);
        })
    }
  },
  beforeMount() {
    this.getCards();
  }
}
</script>

<style scoped>
p {
  margin-bottom: 0;
  padding-bottom: 0;
}
</style>
