<template>
  <div class="border rounded shadow p-3">

    <nuxt-link to="/profile">
      <div class="d-flex align-items-center pb-3 border-bottom">
        <i class="material-icons" style="font-size: 60px; color: #dddddd">account_circle</i>
        <div class="mr-3  ">
          <p class="p-0 m-0">
            {{ user.name }}
          </p>
          <p class="pt-1 m-0" style="font-size: 12px; color: #808080">{{ user.phoneNumber }}</p>
        </div>
      </div>
    </nuxt-link>

    <div class="menu mt-3 border-bottom">
      <nuxt-link to="/card/cardList">
        <div class="d-flex  p-2">
          <i class="material-icons" style="font-size: 29px">list_alt</i>
          <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">سفارش های من</p>
        </div>
      </nuxt-link>

      <div class="d-flex  p-2">
        <i class="material-icons" style="font-size: 29px">favorite_border</i>
        <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">مورد علاقه ها</p>
      </div>

      <div class="d-flex  p-2">
        <i class="material-icons" style="font-size: 29px">chat_bubble_outline</i>
        <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">نظرات</p>
      </div>

      <nuxt-link to="/profile/address">
        <div class="d-flex  p-2">
          <i class="material-icons" style="font-size: 29px">house_siding</i>
          <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">آدرس</p>
        </div>
      </nuxt-link>

      <div class="d-flex  p-2">
        <i class="material-icons" style="font-size: 29px">mail_outline</i>
        <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">پیغام ها</p>
      </div>

      <div class="d-flex  p-2">
        <i class="material-icons" style="font-size: 29px">person_outline</i>
        <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363"> اطلاعات حساب</p>
      </div>
    </div>

    <div class="d-flex  pt-4 pr-2">
      <i class="material-icons" style="font-size: 29px">logout</i>
      <p class="pr-3 pt-1 font-weight-bold" style="font-size: 13px; color: #646363">خروج</p>
    </div>

  </div>
</template>

<script>
export default {
  name: "profileMenu",
  computed: {
    user() {
      return this.$store.state.userInfo;
    }
  }
}
</script>

<style scoped>
.menu p:hover {
  color: #3b8070;
}

.menu p {
  cursor: pointer;
}

.menu i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #646363 !important;
}

a:hover {
  text-decoration: none;
  color: #0fabc6 !important;
}

a:hover p {
  text-decoration: none;
  color: #0fabc6 !important;
}

</style>
