<template>
  <div class="mx-auto" style=" max-width: 1600px">
    <div class="border shadow m-2 m-md-4 pb-2" style="" >
      <div class="text-center" style="margin: 10% auto">
        <p class="text-center font-weight-bold">{{ cardPayment.message }}</p>
        <div v-if="cardPayment.code !== '0'" class="d-flex mt-3 justify-content-center">
          <p class="font-weight-bold"> شماره پیگیری پرداخت : </p>
          <p class="border-bottom font-weight-bold">{{ cardPayment.data.ref_id }}</p>
        </div>
        <p class="text-center mt-5 font-weight-bold">
          <nuxt-link :to="'/card/info/' + cardId">
             <span class="px-4 py-2 shadow rounded text-white"
                   style="background-color: #2164e1">
             پیگیری سفارش
           </span>
          </nuxt-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";

export default {
  name: "index",
  async asyncData({$axios, params, query}) {
    const cardPayment = await $axios.$get('/api/V1/card/payment/create/info/' + params.id + '/' + query.Authority);

    return {
      'cardPayment': cardPayment,
      'cardId': params.id
    }
  },
  data() {
    return {
      cardPayment: [],
      cardId: [],
      status: null
    }
  },
  methods: {
    verify() {
      if (this.cardPayment.code === '0') {
        return Notification.error(this.cardPayment.message);
      } else {
        return Notification.success(this.cardPayment.message);
      }
    }
  },
  created() {
  },
  beforeMount() {
    Notification.showLoading();
  },
  mounted() {
    console.log(this.cardPayment);
    this.verify();
  }
}
</script>

<style scoped>

</style>
