<template>

 <div style="max-width: 1600px; margin: auto">
   <div class=" px-2 px-md-4" >
     <AddressBar class="py-md-2" :link1="{'name': 'مراکز خدمات پس از فروش کشور', 'address' : '' }"
                 link2=""
     >
     </AddressBar>

     <div v-if="items === null" class="d-flex align-items-center justify-content-center border rounded bg-white"  style="min-height: 500px">
       <!--      <VueLoading type="bars"></VueLoading>-->
     </div>

     <div class="d-md-none">
       <AgentBox></AgentBox>
     </div>
     <div class="d-none d-md-block" v-if="items != null">
       <div class="col-12 p-0">
         <div class="" style="min-height: 100%">

           <div class="w-100 border d-flex  mb-3">
             <input class="col-10 col-md-11 p-1 border-0 " @blur="[number=1,getList()]" type="text"
                    @keypress.enter="[number=1,getList()]" v-model="search">
             <i class="material-icons col-2 col-md-1 p-2 ml-4 text-center bg-transparent"
                style="font-size: 30px;color: #000000;padding: 8px" @click="getList">search</i>
           </div>

           <div class="position-relative" style="max-width: 100%;  overflow: auto">
             <b-table hover striped bordered :items="items" :fields="fields" class="bg-white" style="min-width:700px"></b-table>
           </div>
         </div>

         <div class="d-block d-lg-flex mt-3">
           <div class="col-12 col-lg-6 d-flex ">
             <p>صفحه : </p>
             <p :class="['pr-2 pl-2 mr-2',{bgPage:number===1}]" v-if="number>3 " @click="edit(pages[0])">
               {{pages[0]}}</p>
             <div class="d-flex" v-for="(page,index) in pages " :key="index">
               <div v-if="page<number+3 && page>number-3 && page <= pages[pages.length-1]-1 ">
                 <p :class="['pr-2 pl-2 mr-2',{bgPage:page===number}]" @click="edit(page)">
                   {{page}}
                 </p>
               </div>
             </div>
             <p :class="['pr-2 pl-2 mr-2',{bgPage:pages[pages.length-1]===number}]"
                @click="edit(pages[pages.length-1])">{{pages[pages.length-1]}}</p>
           </div>

           <div class="d-block d-lg-flex col-12 col-lg-6 justify-content-lg-end ">
             <p>تعداد نمایش در صفحه : </p>
             <div class="d-flex">
               <p :class="['pr-2 pl-2',{bgPage:conPage==='10'}]" @click="conPageEdit(10)">10</p>
               <p :class="['pr-2 pl-2',{bgPage:conPage==='15'}]" @click="conPageEdit(15)">15</p>
               <p :class="['pr-2 pl-2',{bgPage:conPage==='20'}]" @click="conPageEdit(20)">20</p>
               <p :class="['pr-2 pl-2',{bgPage:conPage==='25'}]" @click="conPageEdit(25)">25</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</template>

<script>

import Http from "axios";
import Notification from "~/components/notificationService";
import AgentBox from "~/components/agentBox";
import AddressBar from "~/components/addressBar";

export default {
  name: "serviceAgent",
  props: ['api_token'],
  head() {
    return {
      title: 'بیسمارک | نمایدگی های خدمات پس از فروش ' ,
      meta : [
        {
          hid: 'description',
          name : 'description',
          content : 'بیسمارک دارای نمایندگی های خدمات پس از فروش در سراسر کشور می باشد'

        }
      ]
    }
  },
  data() {
    return {
      number: 1,
      conPage: null,
      lastPage: null,
      pages: [],
      items: null,
      fields : [
        {
          key: 'state',
          label : 'استان',
          sortable :true,},
        {
          key: 'name',
          label : 'نام',
          sortable: false
        },
        {
          key: 'address',
          label : 'ادرس',
          sortable :true
        },
        {
          key: 'phoneNumber',
          label : 'شماره تماس',
          sortable: true
        },
      ],
      showItem: [],
      newItem: {},
      errors: null,
      search: '',
    }
  },
  components: {
    AddressBar,
    AgentBox
  },
  methods: {
    userInfoF(info) {
      // this.closeAuth();
    },
    conPageEdit(con = 10) {

      this.conPage = con;
      this.number = 1;
      this.getList();
    },
    pagePrint() {
      for (let i = 1; i <= this.lastPage; i++) {
        this.pages.push(i);
      }
    },
    edit(con) {
      if (con <= 0) {
        Notification.info('این صفحه اول است');
        this.number = 1;
      } else {
        if (con < this.lastPage + 1) {
          this.number = con;
          this.showItem = [];
          this.newItem = {};
          // return this.getProductList();
          if (this.search === '') {
            this.getList();
          } else {
            this.getList();
          }
        } else {
          Notification.info('این صفحه آخر است');
          this.number = this.lastPage;
        }
      }
    },
    getList() {
      Http.get('/api/V1/serviceAgent/' + this.conPage + '?searchText=' + this.search + '&page=' + this.number)
        .then(response => {
          console.log(response);
          this.lastPage = response.data.meta.last_page;
          this.items = response.data.data;
          this.pages = [];
          this.pagePrint();
          Notification.hideLoading();
        })
        .catch(error => {
          console.log(error.response);
          Notification.serverError(error.response.status);
        })
    },
  },
  created() {
    this.conPageEdit();
  }
}
</script>

<style scoped>
p, i {
  cursor: pointer;
}

.bgPage {
  background-color: #818182;
  color: white;
  border-radius: 2px;
  /*border: solid 2px #3490dc ;*/
}
</style>
