<template>

      <div class="overflow-auto">
        <div class="d-flex font-weight-bold p-2 p-md-0" style="color: #2164e1; min-width: 375px">
          <nuxt-link to="/">
            <span style="color: #2164e1;"> بیسمارک </span>
          </nuxt-link>
          <i class="material-icons" style="color: #2164e1;">chevron_left</i>
          <p v-if="link1 !== null">
            <nuxt-link :to="link1.address">
              <span style="color: #2164e1;"> {{ link1.name }}</span>
            </nuxt-link>
          </p>
          <i v-if="link2 !== ''" class="material-icons" style="color: #2164e1;">chevron_left</i>
          <p v-if="link2 !== ''">
            <nuxt-link :to="link2.address">
              <span style="color: #2164e1;"> {{ link2.name }}</span>
            </nuxt-link>
          </p>
        </div>
      </div>

</template>

<script>
export default {
  props: ['link1', 'link2', 'link3'],
  name: "addressBar"
}
</script>

<style scoped>

a:hover {
  text-decoration: none;
}

i {
  padding: 0 8px;
}
@media only screen and (max-width: 768px) {
  p , a , span{
   font-size: 11px !important;
    padding-top: 4px;
    color: #808080 !important;
    font-weight: 500 !important;
  }

  i {
    color: #808080 !important;
    padding:0 !important;
  }

  a:hover {
    font-weight: bold !important;
  }

  p {
    margin-bottom: 0 !important;
  }

}
</style>
