<template>
  <div>
    <div class="w-100  mt-md-3 shadow bg-white rounded overflow-hidden">
      <div class="p-3 ">
       <div class=" d-md-flex justify-content-between border-bottom pb-2">
         <p class="p-2 m-0 ">آدرس نمایندگی های خدمات پس از فروش بیسمارک</p>
         <div class="  rounded p-0" style="background-color: #4a89ff">
           <router-link :prefetch="false"  to="/service/serviceNew" class="p-0">
             <p class="p-2 m-0 pb-2 pb-md-0 px-2 text-center text-white">ثبت درخواست خدمات</p>
           </router-link>
         </div>
       </div>
        <div>
          <p class="pt-2 pb-1" style="font-size: 12px"> استان خود را انتخاب کنید </p>
          <v-select :options="states" label="name" v-model="stateId" :focus="getStates()" ></v-select>
        </div>

        <div id="agentBox" class="overflow-auto mt-3 bg-white" style="max-height: 470px; min-height: 270px; font-size: 14px">
          <div v-for="(agent,index) in agents" :key="index">
            <div class="d-flex d-block ">
              <p class="">نام نماینده : </p>
              <p class="pr-3 text-secondary"> {{ agent.name }}</p>
            </div>

            <div class="d-flex align-items-center ">
              <p>آدرس:</p>
              <p class="pr-3 text-secondary"> {{ agent.address }} </p>
            </div>

            <div class="d-flex ">
              <p>شماره تماس نماینده : </p>
              <p class="pr-3 text-secondary"> {{ agent.phoneNumber }} </p>
            </div>
            <hr>
          </div>

          <div v-if="agents === null">
            <p class="pt-2">نمایندگی مرکزی </p>
            <div class="d-flex align-items-center d-lg-inline-block">
              <p>آدرس: </p>
              <p class="pr-3 text-secondary"> جزیره قشم -شهر درگهان مجتمع پرشین گلف 1 - پلاک 256 </p>
            </div>

            <div class="d-flex ">
              <p>شماره تماس دفتر : </p>
              <p class="pr-3 text-secondary"> 07635274304 </p>
            </div>

            <div class="d-flex ">
              <p>شماره بخش خدمات : </p>
              <p class="pr-3 text-secondary"> 09026666710 </p>
            </div>
            <hr>
          </div>

          <VueLoading v-if="loading" type="bars"></VueLoading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
// import {VueLoading} from 'vue-loading-template';
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';

export default {
  name: "agentBox",
  data() {
    return {
      loading: false,
      states: [],
      stateId: null,
      agents: null
    }
  },
  watch: {
    stateId: function () {
      this.getAgents();
    }
  },
  components: {
    // VueLoading,
    vSelect
  },

  methods: {
    getStates() {
      if (this.$store.state.stateList !== null)
      {
        console.log(23)
        return this.states = this.$store.state.stateList;
      }

      this.$axios.$get('/api/V1/serviceList/stateList')
          .then(response => {
            // console.log(response)
            this.states = response;
            this.$store.commit('EDIT_STATE_LIST',response);
          })
          .catch(error => {
            console.log('error states');
          });
    },

    getAgents() {
      this.agents = [];
      this.loading = true;
      this.$axios.$get('/api/V1/serviceAgent/state/' + this.stateId['id'])
          .then(response => {
            // console.log(response);
            this.agents = response.data;
            this.loading = false;
          })
          .catch(error => {
            console.log('error states');
          });
    }
  },
  created() {
    // this.getStates();
  }
}
</script>

<style scoped>

a:hover {
  text-decoration: none;
  box-shadow: none;
  border: none;
}

#agentBox::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(252, 249, 249, 1);
}

#agentBox::-webkit-scrollbar-thumb {
  background-color: #aeaeac;
  border-radius: 9px;
}

#agentBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(252, 247, 247, 1);
}
</style>

