<template>

      <div class="boxFree bg-white d-flex justify-content-between  rounded border shadow-sm px-1 py-2  p-md-2"  >
        <div class="d-flex" >
          <i class="material-icons pl-1 pr-1 pr-md-0" style="color: #fa687b">directions_bus</i>
          <div>
            <p style="font-weight: bold; font-size: 13px; color: #424750" class="p-0 mt-1">ارسال رایگان سفارش</p>
            <p class="text p-0 m-0" style="color: #808080; font-size: 11px">سفارش  بالای 2 میلیون تومان </p>
          </div>
        </div>
        <div>
          <img style="width: 140px" src="@/static/img/free.png" alt="بیسمارک">
        </div>
      </div>


</template>

<script>
export default {
  name: "freeBox"
}
</script>

<style scoped>

button:focus {
  border: 0 !important;
  box-shadow: none !important;
}

button:hover {
  border: 0 !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 989px) {

  .boxFree {
    position: relative !important;
    margin: 5px 0 !important;
    /*padding: 5px 3% !important;*/
  }

  .boxFree img {
    width: 160px !important;
    height: auto !important;
    padding: 0 !important;
  }
 .shadow-none {
   box-shadow: 0 .01rem 1rem rgba(0,0,0,.15)!important;
 }

 .text {
   font-size: 10px;
 }


}
</style>
