<template>
  <div class="d-flex justify-content-center my-4 mx-auto" style="max-width: 1600px">

    <div class="col-12 col-xl-11 d-flex justify-content-center align-content-between  p-0 m-0 ">

      <div class="col-12 col-xl-8  rounded m-0  ml-xl-3 pb-0 mt-n3 mt-xl-0 px-md-4 p-xl-0  " style="">
        <div class="rounded">
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            background="#ababab"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
            class="m-0 p-0 rounded"
          >

<!--            <b-carousel-slide class="rounded p-0 m-0 ">-->
<!--              <template #img>-->
<!--                <router-link to="/category/پخت-و-پز">-->
<!--                  <img class="w-100 rounded shadow-sm" src="@/assets/img/web_view/s11.jpg" alt="">-->
<!--                </router-link>-->
<!--              </template>-->
<!--            </b-carousel-slide>-->

            <b-carousel-slide class="rounded p-0 m-0 ">
              <template #img>
<!--                <router-link to="/category/پخت-و-پز">-->
                  <img class="w-100 rounded shadow-sm" src="~/assets/img/web_view/scale.jpg" alt="">
<!--                </router-link>-->
              </template>
            </b-carousel-slide>

          </b-carousel>
        </div>
      </div>

      <div class="flex-grow-1 d-none d-xl-block">
        <div class="   p-0  m-0  rounded" style="">
          <div class="">
            <router-link to="/category/کمک-آشپز">
              <img class="w-100 rounded shadow-sm" src="@/assets/img/web_view/s4.jpg" alt="">
            </router-link>
          </div>
        </div>

        <div class="p-0 pt-3  m-0 rounded" style="">
          <div class="">
            <router-link to="/category/تهیه-نوشیدنی">
              <img class="w-100 rounded shadow-sm" src="@/assets/img/web_view/s2.jpg" alt="">
            </router-link>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "HomeBanner",
  // fetch() {
  //   // return this.slidList =  this.$axios.$get('/api/V1/setting/banner/listView');
  //   return this.$axios.$get('/api/V1/setting/banner/listView')
  //     .then(response => {
  //       console.log(response)
  //       this.slidList = response;
  //     })
  //     .catch(error => {
  //       console.log(error);
  //     })
  // },
  data() {
    return {
      slide: 0,
      slidList: [],
      sliding: null,
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    },
  },
  mounted() {

  }
}
</script>

<style scoped>
* {

}

.rounded {
  border-radius: 10px !important;
}
</style>
