<template>
  <div id="loading">

        <b-overlay
          id="overlay-background"
          show
        >
        </b-overlay>

  </div>
</template>

<script>
export default {
  name : 'Loading',
  data() {
    return {
      variant: 'light',
      opacity: 0.85,
      blur: '2px',
      variants: [
        'transparent',
        'white',
        'light',
        'dark',
        'primary',
        'secondary',
        'success',
        'danger',
        'warning',
        'info',
      ],
      blurs: [
        { text: 'None', value: '' },
        '1px',
        '2px',
        '5px',
        '0.5em',
        '1rem'
      ]
    }
  }
}
</script>

<style scoped>
    #loading {
        position: fixed;
        top: 0;
        z-index: 3000;
        width: 100%;
        height: 100%;
        padding-top: 20%;
        background-color: rgba(0, 0, 0, 0.25);
        display: none;
    }

    @media only screen and (max-width: 768px) {
      #overlay-background {
        margin-top: 50% !important;
      }
    }
</style>
