<template>
    <div>
        <div class=" bg-success rounded" style="">
            <router-link to="/home/serviceNew">
                <p class="p-3 text-center text-white">ثبت درخواست خدمات</p>
            </router-link>
        </div>

        <div class="mt-4">
            <agent-box></agent-box>
        </div>

       <div class="p-1">
           <p class="mt-4" style="font-weight: bold; font-size: 16px">
               راه های ارتباطی
           </p>
           <div class="d-flex justify-content-between mt-3">
               <div class="pl-3 pr-0 mr-0  col-4 ">
                   <img src="@/static/img/telegram.svg" class="w-100  rounded" alt="راه های ارتباطی بیسمارک" >
               </div>

               <div class="pr-2 pl-2 col-4">
                   <a target="_blank" href="https://www.instagram.com/bismark_co"  title="اینستاگرام بیسمارک">
                     <img src="@/static/img/instageram.svg" class="w-100 rounded" alt="  اینستاگرام بیسمارک" >
                   </a>
               </div>

               <div class="pr-3 pl-0 col-4">
                   <img class="w-100 rounded" alt="راه های ارتباطی بیسمارک" src="~/static/img/whatsapp.svg">
               </div>
           </div>
       </div>
    </div>
</template>

<script>

import AgentBox from "~/components/agentBox";
export default {
    name: "slideRight",
    components : {
      AgentBox

    }
}
</script>

<style scoped>

</style>
