<template>
  <div style="background-color: #f5f5f5">
    <div class="mx-auto mt-0 p-0" style="min-height: 700px; max-width: 1600px; margin: auto">

      <AddressBar class="m-0 mx-md-5 pt-2 pt-md-4" :link1="{'name': 'جستجو در بیسمارک', 'address' : '' }"
                  link2=""
      ></AddressBar>

      <div class=" px-2 pb-3 d-md-none ">
        <FreeBox></FreeBox>
      </div>

      <div class="d-flex mx-md-4 mt-0">

        <div v-if="proShow" style="position: fixed; top:0; right: 0; z-index: 2004">
          <i class="material-icons font-weight-bold p-3" @click="proShow = false">close</i>
        </div>

        <CategoryList
          v-on:categoryList="changCategoryList($event)"
          v-on:search="search = $event"
          v-on:available="available = $event"
          :proShow="proShow"
        >

        </CategoryList>

        <div class="flex-grow-1">
          <ProductOrder
            v-on:chengOrder="chengOrder($event)"
            v-on:chengProShow="proShow = $event"
          >
          </ProductOrder>

          <ProductView :products="products"></ProductView>
        </div>


      </div>
      <div class="d-block ">
        <div class="boxSearch d-flex justify-content-center col-12 "
             style="bottom: 0; position: absolute; right: 0;padding-right: 430px">
          <div v-if="number !== 1"
               style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer"
               @click="number--">
            <i class="material-icons p-2">navigate_next</i>
          </div>

          <div v-else
               style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; color: #808080; cursor: pointer">
            <i class="material-icons p-2">navigate_next</i>
          </div>

          <div v-if="products.length === 8" class="mr-3"
               style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer"
               @click="number++">
            <i class="material-icons p-2">chevron_left</i>
          </div>

          <div v-else class="mr-3"
               style="width: 42px; height: 42px; border-radius: 21px; background-color: #cbc9c9; cursor: pointer">
            <i class="material-icons p-2" style="color: #808080">chevron_left</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddressBar from "~/components/addressBar";
import FreeBox from "~/components/freeBox";
import Search from "~/components/header/search";
import Notification from "~/plugins/Notification";
import CategoryList from "~/components/category/categoryList";
import ProductView from "~/components/product/productView";
import ProductOrder from "~/components/product/productOrder";

export default {
  name: "index",
  components: {ProductOrder, ProductView, CategoryList, Search, FreeBox, AddressBar},
  async asyncData({$axios, query}) {

    let iD = '';
    let order = 'id'
    let orderValue = 'Desc'

    if (query.order) {
      order = query.order
    }

    if (query.s !== null) {
      iD = encodeURIComponent(
        query.s
      );
    }

    const getProduct = await $axios.$get('/api/V1/product/search/'
      + 8
      + '?searchText=' + iD
      + '&page=' + 1
      + '&order=' + order + '&orderValue=' + orderValue
    );
    // const getBanner = await $axios.$get('/api/V1/setting/banner/listView');

    // console.log(getProduct);


    return {
      products: getProduct.data,
      s: query.s
    }
  },
  data() {
    return {
      products: null,
      s: '',
      order: '',
      available: '',
      category: '',
      search: '',
      conPage: 8,
      number: 1,
      proShow: false,
    }
  },
  head() {
    return {
      title: 'بیسمارک | جستجو ' + this.s
    }
  },
  watch: {
    search: function () {
      return this.getProductSearch();
    },
    available: function () {
      return this.getProductSearch();
    },
    number: function () {
      if (this.number <= 0) {
        return this.number++
      }

      if (this.number === 0) {
        return false
      }

      return this.getProductSearch();
    }
  },
  methods: {
    chengOrder(order) {
      this.order = order;
      this.number = 1;
      this.getProductSearch();
    },
    changCategoryList(value) {
      this.category = value;
      this.number = 1;
      this.getProductSearch()
    },
    getProductSearch() {
      Notification.showLoading();
      this.$axios.$get('/api/V1/product/search/'
        + this.conPage
        + '?searchText=' + this.search
        + '&page=' + this.number
        + '&category=' + this.category
        + '&' + this.order
        + '&available=' + [String(this.available)]
      )
        .then(response => {
          console.log(response);
          // this.lastPage = response.data.meta.last_page;
          this.products = response.data;
          // this.pages = [];
          // this.pagePrint();
          Notification.hideLoading();
          // this.$router.addRoute('&order=price')
        })
        .catch(error => {
          console.log(error.response);
          Notification.hideLoading();
          Notification.serverError(error.response.status);
        })
    },
  }
}
</script>

<style scoped>
a:hover {
  border: 0 !important;
  text-decoration: none !important;
  text-align: center !important;
}

li {
  color: #2164e1;
  font-weight: bold;
  font-size: 14px;
}

li i {
  font-size: 20px;
  font-weight: bold;
}

input:focus {
  border: 0;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .box {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid #eceaea !important;

  }

  .box img {
    width: 100% !important;
    margin: 0 !important;
    padding: 2px !important;

  }

  .imgBox {
    width: 165px !important;
  }

  p, span {
    text-align: right !important;
    color: #454545 !important;
    border: 0 !important;

    font-size: 12px;
  }

}

@media only screen and (max-width: 1199px) {
  .boxSearch {
    padding-top: 60px !important;
    padding-right: 40px !important;
  }
}
</style>
