* {
  direction: rtl;
  text-align: right;
  font-family: 'yekan';
}

@font-face {
  font-family: "yekan";
  src: url('@/static/fonts/Yekan.eot');
  src: url('@/static/fonts/Yekan.eot?#iefix') format("embedded-opentype"), url('@/static/fonts/Yekan.woff')
  format("woff"), url('@/static/fonts/Yekan.ttf') format("truetype");
  font-weight: normal;
  font-style: normal
}

/*@font-face {*/
/*  font-family: "number";*/
/*  src: url(fonts/number/IRANSansWeb.eot);*/
/*  src: url(fonts/number/IRANSansWeb.eot?#iefix) format("embedded-opentype"), url(fonts/number/IRANSansWeb.woff)*/
/*  format("woff"), url(fonts/number/IRANSansWeb.ttf) format("truetype"), url(fonts/number/IRANSansWeb.svg#BYekan) format("svg");*/
/*  font-weight: normal;*/
/*  font-style: normal*/
/*}*/
