<template>
  <div class="mt-4 mx-auto" style="min-height: 455px; max-width: 1600px;">

    <AddressBar :link1="{'name': 'سامانه خدمات پس از فروش', 'address' : '/' }"
                link2=""
    >
    </AddressBar>


    <div class="col-12 m-auto rounded border bg-white d-flex align-items-center justify-content-center">

      <div class=" col-12 col-md-8">
        <p class="d-inline-block border-bottom pt-2 pb-2 mb-4" style="font-size: 16px; font-weight: bold">سامانه
          خدمات پس از فروش شرکت بیسمارک</p>
        <div class="pt-2 ">
          <p>اگر قبلا در خواست خود را ثبت کرده اید شماره پیگیری خودرا وارد کنید.</p>
          <b-input @keypress.enter="goto" v-model="numberFollow" type="number" class="p-4 bg-white"
                   placeholder="کد پیگیری خود را وارد کنید "></b-input>
          <button @click="goto" class="btn btn-success col-12 mt-3 p-2">پیگیری</button>

          <div class="d-block d-lg-inline-flex mt-3">
            <p>در خواست خود را ثبت نکرده اید؟ </p>
            <nuxt-link to="/service/serviceNew">
              <p class="mr-lg-2" style="border-bottom: 1px dashed #5ba36e; color: #5ba36e">برای ثبت در خواست
                جدید
                اینجا کلیک کنید.</p>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
import Http from "axios";
import AddressBar from "~/components/addressBar";

export default {
    name: "serviceIndex",
    data() {
        return {
            numberFollow: '',
        }
    },
    components: {AddressBar},
    methods: {
        goto() {
            if (this.numberFollow === '') {
                return Notification.error('کدپیگری را وارد کنید.');
            }
            this.getId();
        },
        getId() {
            Http.get('/api/V1/serviceList/numberToId/' + this.numberFollow)
                .then(response => {
                    this.$router.push('/service/serviceOpen/' + this.numberFollow);
                })
                .catch(error => {
                    this.$router.push('/service');
                    if (error.response.status === 404) {
                        Notification.error('کد پیگیری اشتباه است.');
                    }
                })
        },
    },
    created() {
    }
}
</script>

<style scoped>

</style>
