<template>
  <div class="rounded border shadow mx-auto mt-4 " style="max-width: 1600px">
    <div class="con2  p-1 p-md-3">
      <div class="">
        <form class="row p-2 p-md-3 " onsubmit="event.preventDefault()">
          <div class="mb-4 col-12 ">
            <p class="label col-12">
              نمایندگی که می خواهید از آن خدمات بگیرید انتخاب کنید . اگر می خواد از دفتر مرکزی خدمات
              بگیرید لطفا نمایندگی مرکزی را انتخاب کنید.
            </p>
            <b-select  :class="['border overflow-hidden',{error:error.agentId}]" name="agent" v-model="item.agentId">
              <b-select-option v-for="(agent,index) in agentList " :key="index" :value="agent.id"
                               :selected="agent.name === 'دفتر مرکزی '">
                {{ agent.state }} - <span class="font-weight-bold text-danger">{{ agent.name }}</span> -
                {{ agent.address }}
              </b-select-option>
            </b-select>
          </div>

          <div class=" mb-4 col-12 col-md-6 ">
            <p class="label col-12 ">
              محصول که برای آن در خواست خدمات دارید انتخاب کنید.
              <span>{{ errorMessage.productId }}</span>
            </p>
            <b-input :class="['input p-2 border col-12',{error : error.productId }]" type="search" @focus="setProduct = true"
                     v-model="productSearchInput" @keydown="productSearch()"></b-input>
            <div class="col-12 row" v-if="setProduct" @focusout="setProduct = false" style="position: absolute; z-index: 21; ">
              <div class="input d-flex justify-content-between col-12 bg-white overflow-auto"
                   style="height: 300px; ">
                <div class="col-11 p-0">
                  <p class="p-2 col-12 border-bottom m-0" style="font-size: 13px;cursor: pointer;"
                     v-for="(product,index) in productSearchList" :key="index"
                     @click="[productSearchInput = product.name +'-'+ product.model,item.productId = product.id ,setProduct = false]">
                    {{ product.name }} - {{ product.model }}
                  </p>

                </div>
                <i class="material-icons col-1 p-0"
                   style="color: #707070; text-align: left;cursor: pointer;" @click="setProduct=false">
                  close</i>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 col-12 col-md-6">
            <p class="label col-12">
              استان محل سوکونت خود را انتخاب کنید.
            </p>
            <b-select :class="['border col-12',{error:error.stateId}]" name="state" v-model="item.stateId">
              <b-select-option value=""></b-select-option>
              <b-select-option v-for="(state,index) in stateList" :key="index" :value="state.id">
                {{ state.name }}
              </b-select-option>
            </b-select>
          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">تاریخ شروع گارانتی</p>
            <div :class="['col-12 input border bg-white p-0 pt-1 pb-1',{error:error.serviceDate}]">

              <!--                          <input type="text" v-model="item.serviceDate">-->
<!--              <client-only placeholder="Loading...">-->
                <PDatePicker v-model="item.serviceDate"
                             inputClass="position-relative col-12  border-0 w-100 p-1 m-0 text-right"
                             wrapperClass="col-12 w-100 p-0">
                </PDatePicker>
<!--              </client-only>-->
            </div>
          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">سریال گارانتی</p>
            <b-input v-model="item.serialNumber" :class="['input p-2 border col-12',{error:error.serialNumber}]"
                     name="serialNumber" type="text"></b-input>
          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">نام و نام خانوادگی</p>
            <b-input v-model="item.name" :class="['input border col-12',{error:error.name}]" name="name" type="text"></b-input>
          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">شماره تماس <span
              class="text-danger">{{ errorMessage.phoneNumber }}</span>
            </p>
            <b-input v-model="item.phoneNumber" :class="['input border col-12',{error:error.phoneNumber}]"
                     name="phoneNumber" type="text"></b-input>

          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">آدرس <span>{{ errorMessage.address }}</span></p>
            <b-input v-model="item.address" :class="['input border col-12',{error:error.address}]" name="address"
                     type="text"></b-input>
          </div>

          <div class="form-group mb-4 col-12 col-md-6 ">
            <p class="label col-12">کد پستی <span>{{ errorMessage.postalCode }}</span></p>
            <b-input v-model="item.postalCode" :class="['input border col-12',{error:error.postalCode}]"
                     name="postalCode" type="text"></b-input>

          </div>

          <div class="form-group mb-4 col-12 ">
            <p class="label col-3">توضیح</p>
            <b-textarea v-model="item.explanation" rows="7"
                        :class="['input border col-12',{error:error.explanation}]" name="explanation"
                        type="text"></b-textarea>
          </div>

          <div class="form-group mb-4 col-12 ">
            <b-button class="form-group p-3 input btn btn-success col-12" @click="validate()">ثبت</b-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/plugins/Notification";
// import Comment from "../../../Services/commentCreate";
// import LoadingView from "../LoadingView";
// import PDatePicker from 'vue2-persian-datepicker';


export default {
  name: "ServiceNew",
  data() {
    return {
      item: {
        productId: '',
        agentId: '',
        name: '',
        stateId: '',
        serviceDate: '',
        serialNumber: '',
        phoneNumber: '',
        address: '',
        postalCode: '',
        explanation: '',
        status: 1
      },
      error: {
        productId: false,
        agentId: false,
        name: false,
        stateId: false,
        serviceDate: false,
        serialNumber: false,
        phoneNumber: false,
        address: false,
        postalCode: false,
        explanation: false,
      },
      errorMessage: {
        productId: '',
        agentId: '',
        name: '',
        stateId: '',
        serviceDate: '',
        serialNumber: '',
        phoneNumber: '',
        address: '',
        postalCode: '',
        explanation: '',
      },
      comment: {
        text: 'در خواست خدمات توسط کاربر ثبت شد.',
        view: 1,
        serviceId: '',
        userStatus: 1,
        api_token: '',
      },
      statusList: null,
      agentList: null,
      stateList: null,
      productList: null,
      productSearchList: [],
      productSearchInput: null,
      setProduct: false,
    }
  },
  components: {
    // PDatePicker,
  },
  methods: {
    close() {
      this.$emit('closeOpenBox');
    },
    validate() {

      if (this.item.agentId === '') {
        this.error.agentId = true;
      } else {
        this.error.agentId = false;
      }

      if (this.item.productId === '') {
        this.error.productId = true;
        this.errorMessage.productId = 'محصول را از لیست انتخاب کنید';
      } else {
        this.error.productId = false;
        this.errorMessage.productId = '';
      }

      if (this.item.name === '') {
        this.error.name = true;
      } else {
        this.error.name = false;
      }

      if (this.item.stateId === '') {
        this.error.stateId = true;
      } else {
        this.error.stateId = false;
      }

      if (this.item.phoneNumber === '') {
        this.error.phoneNumber = true;
      } else {
        if (!this.item.phoneNumber.match(/^[0-9]+$/)) {
          this.error.phoneNumber = true;
          this.errorMessage.phoneNumber = 'شماره تماس را با اعداد انگلیسی وارد کنید';
        } else {
          if (this.item.phoneNumber.length === 11) {
            this.error.phoneNumber = false;
            this.errorMessage.phoneNumber = '';
          } else {
            this.error.phoneNumber = true;
            this.errorMessage.phoneNumber = 'شماره تماس باید 11 عدد باشد';
          }
        }
      }


      if (this.item.address === '') {
        this.error.address = true;
        this.errorMessage.address = 'در صورت نیاز به ارسال قطعه ورود آدرس الزامی است';
      } else {
        this.error.address = false;
        this.errorMessage.address = '';
      }

      if (this.item.postalCode === '') {
        this.error.postalCode = true;
        this.errorMessage.postalCode = 'در صورت نیاز به ارسال قطعه ورود کد پستی الزامی است';
      } else {
        this.error.postalCode = false;
        this.errorMessage.postalCode = '';
      }

      if (this.item.explanation === '') {
        this.error.explanation = true;
      } else {
        this.error.explanation = false;
      }

      if (
        this.error.agentId ||
        this.error.productId ||
        this.error.stateId ||
        this.error.name ||
        this.error.phoneNumber ||
        this.error.explanation
      ) {
        return false;
      } else {
        this.create();
      }

    },
    getAgent() {
      Http.get('/api/V1/serviceAgent/*')
        .then(response => {
          // console.log(response);
          this.agentList = response.data.data;
        })
        .catch(response => {
          // console.log(response.error);
        })
    },
    getProduct() {
      Http.get('/api/V1/product/search/*')
        .then(response => {
          // console.log(response);
          this.productList = response.data.data;
          this.productSearchList = response.data.data;
        })
        .catch(response => {
          // console.log(response.error);
        })
    },
    getState() {
      Http.get('/api/V1/serviceList/stateList')
        .then(response => {
          // console.log(response);
          this.stateList = response.data;
        })
        .catch(response => {
          // console.log(response.error);
        })
    },
    productSearch() {
      if (this.productSearchInput === "") {
        return this.productSearchList = this.productList;
      } else {
        this.productSearchList = this.productList.filter(item => {
          let input = this.productSearchInput.split(" ");

          for (let i = 0; i <= input.length; i++) {
            let name = item.name.indexOf(input[i]);
            let model = item.model.indexOf(input[i]);
            if (name !== -1 || model !== -1) {
              return item;
            }
          }

        })
      }
    },
    getStatus() {
      Http.get('/api/V1/serviceList/statusList/1')
        .then(response => {
          this.item.status = response.data.data[0].id;
          console.log(response);
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    async create() {
      Notification.showLoading();
      await Http.post('/api/V1/serviceList/create', this.item)
        .then(response => {
          console.log(response);
          Notification.success('درخواست جدید ثبت شد');
          this.$emit('addNewItem', response.data);
          this.comment.serviceId = response.data.id;
          Comment.create(this.comment);
          this.$router.push('/home/serviceOpen/' + response.data.numberFollow);
        })
        .catch(error => {
          Notification.serverError(error.response.status);
          console.log(error.response);
        })
    },
  },
  created() {

    this.getAgent();
    this.getProduct();
    this.getState();
    this.getStatus();
  }
}
</script>

<style scoped>

.con2 {
  /*display: table;*/
  background-color: #f8f8f8;
}

.title {
  color: #707070;
}

.value {
  color: #00acd4;
  padding-right: 7px;
}

.con2::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(254, 254, 254, 0.5);
}

.con2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 172, 212, 0.9);
  border-radius: 6px;
}

.con2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.34);;
}

.input::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(254, 254, 254, 0.5);
}

.input::-webkit-scrollbar-thumb {
  background-color: rgba(0, 172, 212, 0.9);
  border-radius: 6px;
}

.input::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(241, 238, 238, 0.5);
}

.label {
  padding: 7px 0 0 0 !important;
}

.input {
  width: 100%;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid #9f9b9b;
}

.error {
  border: 2px solid #f56d6d !important;
}

span {
  font-size: 11px;
  color: #f56d6d;
}
</style>
