<template>
  <div class="mx-auto" style="max-width: 1600px">
      <div class=" mt-4 mt-md-5">
        <div class="d-md-none p-2">
          <ProfileMenu></ProfileMenu>
        </div>
        <div class="d-none d-md-flex">
          <div class="mr-3  " style="max-width: 320px; width: 30%">
            <ProfileMenu></ProfileMenu>
          </div>
         <div class="flex-grow-1  border rounded shadow mr-md-4 py-4 mb-4">
           <div class="d-flex col-12 " style="min-height: 200px">
             <div class="col-md-6">
               <p class="font-weight-bold" style="font-size: 17px; color: #808080">اطلاعات شخصی</p>
               <div class="border mt-3">
                 <div class="d-flex border-bottom">
                   <div class="col-6 p-3 border-left">
                     <p class="pb-2" style="color: #bababa; font-size: 13px">نام و نام خانوادگی</p>
                     <p style="color: #808080">{{user.name}}</p>
                   </div>

                   <div class="col-6 p-3">
                     <p class="pb-2" style="color: #bababa; font-size: 13px">پست الکترونیکی </p>
                     <p style="color: #808080">{{user.email}}</p>
                   </div>
                 </div>

                 <div class="d-flex ">
                   <div class="col-6 p-3 border-left">
                     <p class="pb-2" style="color: #bababa; font-size: 13px">شماره تماس</p>
                     <p style="color: #808080">{{user.phoneNumber}}</p>
                   </div>

                   <div class="col-6 p-3">
                     <p class="pb-2" style="color: #bababa; font-size: 13px">کد ملی </p>
                     <p  style="color: #808080">{{user.nationalCode}}</p>
                   </div>
                 </div>
               </div>
             </div>

             <div class="col-6  " >
               <p class="font-weight-bold" style="font-size: 17px; color: #808080">لیست مورد علاقه ها </p>
               <div class="border mt-3"  style="min-height: 170px">
               </div>
             </div>
           </div>

           <div class="  col-12 p-4">
             <LastCards></LastCards>
           </div>
         </div>
        </div>

      </div>
  </div>
</template>

<script>
import ProfileMenu from "~/components/profile/profileMenu";
import LastCards from "~/components/profile/lastCards";
export default {
  name: "index",
  computed : {
    user() {
      return this.$store.state.userInfo;
    }
  },
  components: {LastCards, ProfileMenu}
}
</script>

<style scoped>
p {
  padding: 0;
  margin: 0;
}
</style>
