<template>
  <div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FRBNZFVCQ7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FRBNZFVCQ7');
    </script>

    <Loading></Loading>
    <Header></Header>

    <div class=" m-0 ">
      <div class="mh-100 " style="min-height: 200px">
        <div class="col-12   p-0">
          <div class=""  >
            <!--                        <router-view></router-view>-->
            <Nuxt />
          </div>
        </div>
      </div>
    </div>

    <Footer></Footer>

  </div>
</template>

<script>

import Header from "~/components/header/header";
import Footer from "~/components/footer/footer";
import Loading from "~/components/LoadingView";

let numeral = require("numeral");


export default {
  components: {Loading, Footer, Header},
  css : [

  ],
  head(){

  },
  methods : {
    setMenu2 (){
      console.log(11)
        let x = document.getElementById('topMenu');
        x.classList.add('topMenu');
    }
  },
  created() {
  }
}
</script>

<style>

a:hover {
  border: 0 !important;
  text-decoration: none !important;
  text-align: center !important;
}

.rounded {
  border-radius: 11px !important;
}

html {
  direction: rtl;
  text-align: right;
  font-family: yekan;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  font-family: yekan;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
