<template>
  <div>
    <div v-if="items === null">
      <!--            <VueLoading type="bars"></VueLoading>-->
    </div>
    <div v-if="explanation !== null">
      <p class="px-3 py-2 font-weight-bold" style="font-size: 15px"><span class="pb-1">توضیح محصول : </span></p>
      <div v-html="explanation" class="px-3 pb-1" style="font-size: 13px;line-height: 28px; text-align: justify"></div>
      <p class="px-3 py-1 font-weight-bold"  style="font-size: 15px"><span class="">مشخصات محصول : </span></p>
    </div>
    <div class="mt-2 rounded" v-if="items !=null"  style="font-size: 13px">
      <div v-for="(item,index) in items" :key="index" class="d-flex">
        <div class="col-4 col-md-3 p-0 m-0">
          <div class=" my-2 mr-2 ml-0 p-3 " style="background-color:#fafafa">
            {{ item.sp }} :
          </div>
        </div>

        <div class="col-8 col-md-9 p-0 m-0">
          <div class="my-2 mr-4 ml-2 p-3 " style="background-color:#fafafa">
            {{ item.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
// import { VueLoading } from 'vue-loading-template';

export default {
  props: ['id', 'explanation'],
  name: "productInfo",
  fetch() {
    return this.$axios.$get('/api/V1/productSpecificationValue/product/' + this.id)
      .then(response => {
        // console.log(response);
        this.items = response.data;
      })
      .catch(error => {
        // console.log(error.response);
      })
  },
  data() {
    return {
      items: null,
    }
  },
  watch: {
    id: function () {
      this.getData();
    }
  },
  components: {
    // VueLoading
  },
  methods: {
    getData() {
      this.items = null;
      this.$axios.$get('/api/V1/productSpecificationValue/product/' + this.id)
        .then(response => {
          console.log(response);
          this.items = response.data;
        })
        .catch(error => {
          console.log(error.response);
        })
    },

  },
  mounted() {
    // this.getData();
  }
}
</script>

<style scoped>
@media only screen and (max-width: 768px) {
  *{
    font-size: 12px !important;
  }
}
</style>
