<template>
  <div>
    <div class="text-center  py-3 d-flex justify-content-center align-items-center  ">
      <i class="material-icons text-info p-0 " >shopping_bag</i>
      <span class="text-center font-weight-bold text-info pr-1 pt-1" style=" position: relative; bottom: 0">بزودی</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "noAvailable"
}
</script>

<style scoped>

</style>
