<template>
  <div class="m-0 p-0 position-relative ">

    <div v-if="available === 'true'" class="text-center">
      <div class=" d-flex justify-content-center align-items-center ">
        <del  v-if="special !== 0" class=" d-flex justify-content-center align-items-center ">
          <span style="font-size: 12px" class="font-weight-bold">{{ price | formatNumber }}</span>
          <span style="font-size: 12px;" class=" ">تومان</span>
        </del>
<!--        <span-->
<!--              class="mr-1 text-white bg-danger "-->
<!--              style="font-weight: bold; font-size: 12px; border-radius: 10px;padding: 2px 5px"-->
<!--        >-->
<!--          %20-->
<!--        </span>-->

<!--        <span v-else-->
<!--              class="mr-1 text-white bg-danger "-->
<!--              style="font-weight: bold; font-size: 12px; border-radius: 10px;padding: 2px 5px"-->
<!--        >-->
<!--          %10-->
<!--        </span>-->

      </div>

      <div v-if="special !== 0" class="special d-flex align-items-center" style="position: absolute; top: -45px; left: 0px">
        <span style="font-size: 12px;color: #ff0042" class="pt-1 pl-1 font-weight-bold" >(%{{special}})</span>

        <i class="material-icons" style="color: #FFD700">grade</i>
      </div>

      <div class="text-success d-flex justify-content-center align-items-center pt-3 ">
        <span v-if="special === 0" class="" style="font-size:15px;font-weight: 700;">{{ price | formatNumber }}</span>
        <span v-else class="" style="font-size:15px;font-weight: 700;">{{price - ( price * (special / 100 ))| formatNumber }}</span>
        <span  style="font-size: 12px;" class="pr-2 ">تومان</span>
      </div>
    </div>

    <div v-else class="text-center   justify-content-center align-items-center  " style="">
      <div class=" text-center  d-flex justify-content-center align-items-center" >
        <i class="material-icons p-0 text-info" >shopping_bag</i>
        <span class="text-center font-weight-bold text-info pr-1 pt-1" style=" position: relative; bottom: 0">بزودی</span>
      </div>
      <div class="text-success d-flex justify-content-center align-items-center pt-2 ">
        <span  class="" style="font-size:15px;font-weight: 700;color: #808080">{{ price | formatNumber }}</span>
        <span  style="font-size: 12px;color: #808080" class="pr-2 ">تومان</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props :{
    price : {

    },
    available : {
      type : String,
      default : 'true'
    },
    special : {
      default : 'false'
    }
  },
  name: "price"
}
</script>

<style scoped>
del {
  font-size: 13px;
  color: red;
}

@media only screen and (max-width: 720px) {
  div span {
    font-size: 12px !important;
  }

  del span {
    font-size: 10px !important;
  }

  .special {
    /*position: revert !important;*/
    /*margin-top: -60px !important;*/
    /*right: -30px !important;*/
  }
}

</style>
