<template>
<div>
  <div class=" ">
    <div class=" d-flex justify-content-center align-items-center col-12  p-0 mt-4 ">
      <div class="d-none d-xl-block ml-2" style=" color: #d1d6db ">
        <i class="material-icons" style="font-size: 40px">navigate_next</i>
      </div>

      <div class="sliderBox col-12   col-xl-11 m-0 px-2 bg-white shadow-sm border rounded">
        <div class="d-flex pr-2 justify-content-between " style="font-size: 9px">
          <h6 class="pt-4  ml-4 pr-0 ml-0 font-weight-bold"
              style="border-bottom: 1px solid darkred; font-size: 14px"
          >
            {{ title }}
          </h6>

          <h6 class="flex-grow-1 pt-4 ml-2  text-left "
              style="border-bottom: 1px solid rgba(174,173,173,0.62);cursor: pointer "
          >
            <nuxt-link :to="link" class="text-success ">
              <div class="d-flex justify-content-end align-items-center pb-3">
                <p class="m-0" style="font-size: 12px">مشاهده لیست کامل</p>
                <i class="material-icons" style="font-size: 22px">navigate_before</i>
              </div>
            </nuxt-link>
          </h6>
        </div>

        <div class="" >
          <div class="w-auto d-flex slider " style="overflow-x: scroll">
            <div v-for="(item,index2) in product" :key="index2" class="sliderBoxItem bg-white  mx-1 mx-md-2 my-3 px-1 py-3 rounded product"
                 style="min-width: 195px">
              <nuxt-link :to="'/product/' + item.slug ">
                <div class="slider text-center">
                  <img :alt=" ' قیمت خرید بیسمارک ' + item.name + item.model "
                       :title="' قیمت خرید بیسمارک '  + item.name + item.model " class=""
                       :src="'https://server.bismark.ir'  + item.imageMini"
                       v-lazy-load
                  >
                  <ProductName :name="item.name" :model="item.model"></ProductName>

                  <p class="mx-2 border-top"></p>

                  <Price :price="item.price" :available="item.available" :special="item.special"></Price>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none d-xl-block mr-2" style=" ">
        <i class="material-icons" style="font-size: 40px;  color: #d1d6db ">navigate_before</i>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import ProductName from "~/components/product/productName";
import Price from "~/components/product/price";
export default {
  props:['product','title','link'],
  name: "productSlide",
  components: {Price, ProductName}
}
</script>

<style scoped>

.rounded {
  border-radius: 11px !important;
}


.imgBox {
  margin: 15px;
  height: 180px;
}

.imgBox:hover {
  /*border: 1px solid cornflowerblue;*/
}

a:hover {
  border: 0;
  text-decoration: none;
}


.box:focus {
  /*display: block;*/
}

.box-btn {
  display: none;
}

.box::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.box::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}


.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}




.product {
  margin: 5%;
  font-size: 17px;
}

.product:hover {
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

.slider img {
  position: relative;
  width: 70% !important;
}

.slider p {
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .border {
    border: 0 !important;
  }
  .sliderBox {
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
    border: none;
    margin: 0 !important;
    padding: 0 !important;

  }
  .sliderBox p ,h6 {
    font-size: 13px !important;
  }

  .sliderBox i{
    padding-top: 2px !important;
    font-size: 22px !important;
  }

  .product {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,.15)!important;
    border: 1px solid rgba(219, 219, 219, 0.59);
    min-width: 150px;
  }

  .sliderBoxItem{
    min-width: 140px !important;
  }

  .sliderBoxItem p{
    font-size: 11px !important;
  }

  .Special p,span {
    font-size: 13px !important;
  }

  .Special img {
    display: table;
    width: 110px !important;
    margin:auto !important;
  }

  .sp img {
    max-height: 200px !important;
  }

  .card{
    padding: 0 !important;
    margin: 0 !important;
  }


  .card-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .title {
    font-size: 14px;
  }

}
</style>
