<template>
    <div class="">
        <div class="p-4">
            <h5 class="pb-2 font-weight-bold" style="font-size: 15px" >ثبت نظر جدید</h5>
            <b-textarea v-model="newItem.text" rows="7" placeholder="نظر خود را وارد کنید ..."></b-textarea>
            <b-button class="mt-3 py-2 px-4"  style="font-size: 14px; font-weight: bold; background-color: #377dff" @click="create">ارسال نظر</b-button>
        </div>

<!--        <VueLoading type="bars" v-if="comments === null" class="pb-4"></VueLoading>-->

        <div v-for="(comment,index) in comments" :key="index" class="d-md-flex pt-4 pb-4 m-4 border-bottom ">
            <div class="d-flex d-md-block cdl-12 col-md-3 pl-4 ">
                <div class="d-flex" style="color: #5b5959">
                    <i class="material-icons">person</i>
                    <p class="p-1"> {{ comment.user }} </p>
                </div>
                <div class="d-flex " style="color: #7e7d7d;font-size: 13px">
                    <i class="material-icons pr-2 pr-md-0" style="font-size: 16px; padding-top: 5px">date_range</i>
                    <p class="p-1"> {{ comment.date }}</p>
                </div>
            </div>

            <div class="pr-4 border-right">
                <p style="color: #707070"> {{ comment.text }} </p>
            </div>
        </div>

    </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/plugins/Notification";
// import {VueLoading} from 'vue-loading-template';

export default {
    name: "productComment",
    props: ['id'],
    data() {
        return {
            error: null,
            comments: null,
            newItem: {
                'text': '',
                'productId': this.id,
                'api_token': null,
            },
        }
    },
    components: {

    },
    watch: {
        id: function () {
            this.getComment();
        }
    },
    methods: {
        getComment() {
            Http.get('/api/V1/comment/product/' + this.id)
                .then(response => {
                    this.comments = response.data;
                    console.log(response);
                })
                .catch(error => {
                    Notification.serverError(error.response.status);
                    console.log(error.response);
                })
        },
        create() {
            this.newItem.api_token = localStorage.getItem('api_token');
            if (this.newItem.api_token === null) {
                return Notification.error('برای ثبت نظر باید وارد شوید.');
            }
            if (this.newItem.text === '') {
                return Notification.error('متن نظر خالی است.');
            }

            Http.post('/api/V1/comment/product/create', this.newItem)
                .then(response => {
                    console.log(response);
                    Notification.success('نظر شما ثبت شد.');
                    this.newItem.text = '';
                    this.getComment();
                })
                .catch(error => {
                    console.log(error.response);
                    this.error = error.response;
                    Notification.serverError(error.response.status);
                })
        }
    },
    created() {
        this.getComment();
    },

    updated() {
        this.newItem.productId = this.id;
    }

}
</script>

<style scoped>

</style>
