<template>
  <div>
    <div class="d-flex justify-content-between justify-content-sm-start pb-2">
      <p class="p-2 mx-2 mr-md-4 d-none d-md-block">بر اساس : </p>
      <p :class="['border rounded mx-2 py-2 text-center',{select : status === 1}]" style="background-color: #dbdada; width: 75px" @click="[order = 'order=id&orderValue=Desc', status=1]">جدیدترین</p>
      <p :class="['border rounded mx-2 py-2 text-center',{select : status === 2}]" style="background-color: #dbdada; width: 75px" @click="[order = 'order=special&orderValue=Desc',status=2]"> تخفیف </p>
      <!--    <p :class="['border rounded mx-2 py-2 text-center',{select : status === 3}]" style="background-color: #dbdada; width: 75px" @click="[order = 'order=available&orderValue=Desc',status = 3]">موجود </p>-->
      <p :class="['border rounded mx-2 py-2 text-center',{select : status === 4}]" style="background-color: #dbdada; width: 75px" @click="[order = 'order=price&orderValue=ASC',status = 4]">ارزان ترین </p>
      <p :class="['border rounded mx-2 py-2 text-center',{select : status === 5}]" style="background-color: #dbdada; width: 75px" @click="[order = 'order=price&orderValue=Desc',status = 5]">گران ترین </p>
      <p :class="['border d-none d-md-flex justify-content-center d-xl-none rounded mx-2 py-2 text-center',{select : status === 5}]" style="background-color: #dbdada; width: 140px" @click="chengProShow(true)">
        <span>جستجوی پیشرفته</span>
        <i class="material-icons mr-2" style="font-size: 17px">tune</i>
      </p>
    </div>
    <div>
      <p class="d-flex justify-content-center align-items-center d-md-none rounded border shadow-sm text-center mx-2 mt-n1 p-2 bg-white" @click="chengProShow(true)">
        <span> جستجوی پیشرفته</span>
        <i class="material-icons mr-2" style="font-size: 16px">tune</i>
      </p>
    </div>
  </div>

</template>

<script>
export default {
  name: "productOrder",
  data () {
    return {
      status :0,
      order : ''
    }
  },
 watch : {
    order : function () {
      this.$emit('chengOrder',this.order);
    }
 },
  methods : {
    chengProShow (status) {
      this.$emit('chengProShow',status)
    }
  }
}
</script>

<style scoped>

p {
  cursor: pointer;
  font-size: 14px;
}
.select {
  background-color: #0085ff !important;
  color: white;
}

@media only screen and (max-width: 920px) {
  p {
    font-size: 12px;

  }
}

</style>
