<template>
  <div class="mt-0 mt-md-4">

    <div class="sliderBox bg-white border  rounded">
      <p class="pt-2 pt-md-3 pr-3 m-0 pb-0 font-weight-bold" style="font-size: 15px">محصولات مشابه</p>


      <div  class="sliderBox p-0 mr-4 ml-4 mt-0">

        <div class="p-0 m-0" >
          <div class="w-auto d-flex slider " style="overflow-x: scroll">
            <div v-for="(item,index2) in products" :key="index2" class=" sliderBoxItem mx-1 mx-md-2 my-3 px-1 py-3 rounded product"
                 style="min-width: 195px">
              <nuxt-link :to="'/product/' + item.slug">
                <div class="slider text-center">
                  <img :alt=" ' قیمت خرید بیسمارک ' + item.name + item.model "
                       :title="' قیمت خرید بیسمارک '  + item.name + item.model " class=""
                       :src="'https://server.bismark.ir'  + item.imageMini">

                  <ProductName :name="item.name" :model="item.model"  ></ProductName>

                  <p class="mx-2 border-top"></p>

                  <Price :price="item.price" :available="item.available" :special="item.special"></Price>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Http from 'axios';
import Price from "~/components/product/price";
import ProductName from "~/components/product/productName";
// import VueSlickCarousel from 'vue-slick-carousel'
// import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// // optional style for arrows & dots
// import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  props: ['cat'],
  name: "productRelated",
  fetch() {
    return this.$axios.$get('/api/V1/product/related/' + this.cat)
      .then(response => {
        this.products = response.data;
        this.slid = true;
      })
      .catch(error => {
        console.log(error);
      })
  },
  data() {
    return {
      slid: false,
      products: [],
    }
  },
  watch: {
    cat: function () {
      this.getProduct();
    }
  },
  components: {
    ProductName,
    Price
    // VueSlickCarousel,
  },
  methods: {
    getProduct(){
      this.$axios.$get('/api/V1/product/related/' + this.cat)
        .then(response => {
          this.products = response.data;
          this.slid = true;

        })
        .catch(error => {
          console.log(error);
        })
    },
    goto(id) {
      // console.log(this.$route.params.productId);
      this.$router.push({name: 'product', params: {id: id}});
    }
  },
  created() {
    // this.getProduct();

  },
  mounted() {

  }

}
</script>

<style scoped>


.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}



.product {
  margin: 5%;
  font-size: 17px;
}

.product:hover {
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

.slider img {
  position: relative;
  width: 80% !important;
}

.slider p {
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1424px) {
  .sliderBox {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;

  }

  .product {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,.15)!important;
    border: 1px solid rgba(219, 219, 219, 0.59);
    min-width: 150px;
  }

  .sliderBoxItem{
    min-width: 140px !important;
  }

  .sliderBoxItem p{
    font-size: 11px !important;
  }
}


.imgBox {
  margin: 15px;
  height: 180px;
}

.imgBox:hover {
  /*border: 1px solid cornflowerblue;*/
}

a:hover {
  border: 0;
  text-decoration: none;
}

.box:focus {
  /*display: block;*/
}

.box-btn {
  display: none;
}

.box::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.box::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}

</style>
