<template>
  <div class="" style="">
    <div class="col-12 m-0 py-md-5 pb-2 px-0 mt-3" style="height:auto; background-color: #4a89ff">

      <div class="d-flex  justify-content-between align-items-center position-relative pt-3 mt-md-0 mx-auto" style="z-index: 2;max-width: 1900px">
        <div class="d-none d-xl-block position-relative">
          <i :class="['material-icons    ', {'text-white' : start !== 0 , 'text-secondary' : start === 0 }]"
             style="font-size: 50px; cursor: pointer"
             @click="chengSpecial('back')"
          >
            navigate_next
          </i>
        </div>

        <div v-if="SpecialCont !== false" class="specialBox d-flex justify-content-between align-items-center col-12 col-xl-10 px-0 mx-0"
             style="overflow-x: auto">

          <div class="sp position-relative ml-4 mr-2">
            <img alt="بیسمارک" style="max-height: 300px" src="@/static/img/sp.png"/>
          </div>
          <div  v-for="(item,index) in SpecialCont" :key="index" class="m-2   rounded text-center Special">
            <nuxt-link :to="/product/ + item.slug">
              <b-card class="col-12 special mx-auto p-md-4">
                <b-card-img :src="'https://server.bismark.ir/img/kala/'  + item.id + '/img-mini.jpg'"
                            class="mx-auto p-0" style="width:170px"
                            alt="بیسمارک"
                            title="بیسمارک"
                            v-lazy-not
                >
                </b-card-img>

                <b-card-text class="text-center p-0 m-0 mt-1 font-weight-bold" style="font-size: 13px  ">
                 <div class="text-center px-1" style="height: 18px; overflow-y: hidden">
                   <span> بیسمارک </span>

                   {{ item.name }}

                   {{ item.model }}
                 </div>

                  <div class="text-danger mt-4 d-flex justify-content-center" style="min-width: 140px">
                    <del class="p-1">{{ item.price | formatNumber }}</del>
                    <p class="py-1 px-2 bg-danger text-white" style="border-radius: 15%"> %{{item.special}}</p>
                  </div>

                  <p class="text-success d-flex justify-content-center">
                    <span>{{ item.price * 0.8| formatNumber }}</span>
                    <span class="pr-1">تومان</span>
                  </p>
                </b-card-text>
              </b-card>
            </nuxt-link>
          </div>
        </div>



        <div class="d-none d-xl-block position-relative">
          <i :class="['material-icons    ', {'text-white' : end !== 6 , 'text-secondary' : end === 6 }]"
             style="font-size: 50px; cursor : pointer;"
             @click="chengSpecial('next')"
          >
            navigate_before
          </i>
        </div>
      </div>

      <div class="rounded shadow-lg  mx-4 my-2 d-md-none" style="background-color: #4a89ff;  ">
        <nuxt-link to="/search?s=&order=special&orderValue=Desc">
          <div class="d-flex align-items-center justify-content-between p-3">
            <p class="m-0  text-center text-white font-weight-bold">دیدن همه   </p>
            <i class="material-icons text-white font-weight-bold">west</i>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "productSpecial",
   fetch() {
     return  this.$axios.$get('/api/V1/product/special/list')
      .then(response => {
        this.Specials = response.data;
      })
      .catch(error => {
        console.log(error);
      })
  },
  data() {
    return {
      start: 0,
      end: 4,
      Specials: null,
    }
  },
  computed: {
    SpecialCont() {
      if (this.Specials === null)
      {
        return false;
      }
      let data = this.Specials;
      let Specials = [];

      for (let i = 0; i < data.length; i++) {
        if (i >= this.start && i <= this.end) {
          Specials.push(data[i]);
        }
      }
      return Specials;
    }
  },
  methods: {
    chengSpecial(status) {
      if (status === 'next' && this.end < this.Specials.length - 1) {
        this.start++;
        this.end++;
      }

      if (status === 'back' && this.start > 0) {
        this.start--;
        this.end--;
      }

    },
  },
  mounted() {
    console.log('oooo')
    console.log( this.Specials)
  }
}
</script>

<style scoped>

a:hover {
  box-shadow: none;
  text-decoration: none;
  border: none;
}

@keyframes specialAnimation {
  from {
    z-index: 1;
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -15px);
  }
}

.Special {

  /*!*position: absolute;*!*/
  /*transition-property: margin-top;*/
  /*transition-duration: 5s;*/
}

.Special:hover {

  animation-name: specialAnimation;
  /*animation-iteration-count: infinite;*/
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: revert;
  /*transform: translate(0,-30px);*/

}

.specialBox::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.specialBox::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.specialBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}


@media only screen and (max-width: 720px) {
  .sliderBox {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none;
    margin: 0 !important;
    padding: 0 !important;

  }
  .sliderBox p ,h6 {
    font-size: 13px !important;
  }

  .sliderBox i{
    padding-top: 2px !important;
    font-size: 22px !important;
  }

  .product {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,.15)!important;
    border: 1px solid rgba(219, 219, 219, 0.59);
    min-width: 150px;
  }

  .sliderBoxItem{
    min-width: 140px !important;
  }

  .sliderBoxItem p{
    font-size: 11px !important;
  }

  .Special p,span {
    font-size: 13px !important;
  }

  .Special img {
    display: table;
    width: 110px !important;
    margin:auto !important;
  }

  .sp img {
    max-height: 200px !important;
  }

  .card{
    padding: 0 !important;
    margin: 0 !important;
  }


  .card-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .title {
    font-size: 14px;
  }

}

</style>
