<template>
<div   class="flex-grow-1">
  <div v-if="products.length === 0"
       class="flex-grow-1 d-flex justify-content-center align-items-center text-center ">
    <h2 class="text-center font-weight-bold" style="color: #808080">محصولی یافت نشد</h2>
  </div>

  <div v-else class="mr-xl-4 p-0 flex-grow-1 align-content-between pb-5 position-relative">
    <div v-for="(product,index) in products"
         :key="index"
         class="d-block d-md-inline-flex col-12  col-md-3   text-center px-0 px-md-2 mb-md-4"
         style=" "
    >
      <div class="box p-1 p-md-2 shadow rounded bg-white">
        <router-link :to="'/product/'+product.slug">
          <div class="d-flex  align-content-between d-md-block text-center ">
            <div class="imgBox col-md-12 m-auto">
              <img style="width: 80%; margin: auto 10%" alt=""
                   :src="'https://server.bismark.ir'  +  '/img/kala/' + product.id + '/img-mini.jpg'">
            </div>

            <div class="flex-grow-1 py-md-4 pt-2 pt-md-0 ">
              <div class="d-flex d-md-block justify-content-between ">
                <ProductName :name="product.name" :model="product.model"></ProductName>
                <i class="d-md-none material-icons px-1" style="color: #454545; font-size: 21px">more_vert</i>
              </div>
              <hr class="d-none d-md-block">

              <div class="d-flex d-md-block justify-content-between align-items-end mt-0">
                <div v-if="product.available === 'true'" class="d-flex d-md-none  ">
                  <i class="material-icons p-0 text-info ml-1" style="font-size: 15px; color: #797777">shopping_bag</i>
                  <span style="font-size: 10px; color: #a2a1a1">موجود در انبار</span>
                </div>

                <div v-else class="d-flex d-md-none  ">
                  <i class="material-icons p-0  ml-1" style="font-size: 15px; color: #797777">shopping_bag</i>
                  <span class="" style="font-size: 10px;  color: #797777">ناموجود  </span>
                </div>

                <Price :price="product.price" :available="product.available" :special="product.special" ></Price>
              </div>
            </div>
          </div>
        </router-link>
      </div>

    </div>


  </div>
</div>
</template>

<script>
import ProductName from "~/components/product/productName";
import Price from "~/components/product/price";
export default {
  components: {Price, ProductName},
  props :{
    products : {
      default : []
    }
  },
  name: "productView"
}
</script>

<style scoped>

a:hover {
  border: 0 !important;
  text-decoration: none !important;
  text-align: center !important;
}


@media only screen and (max-width: 767px) {
  .box {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid #eceaea !important;

  }

  .box img {
    width: 100% !important;
    margin: 0 !important;
    padding: 2px !important;

  }

  .imgBox {
    width: 165px !important;
  }

  p ,span {
    text-align: right !important;
    color: #454545 !important;
    border: 0 !important;

    font-size: 12px;
  }

}
</style>
