<template>
    <div>
        <div class="p-4">
            <h5 class="pb-2 font-weight-bold" style="font-size: 15px">ثبت سئوال جدید</h5>
            <b-textarea v-model="newItem.text" rows="7" placeholder="سئوال خود را وارد کنید ..."></b-textarea>
            <b-button class="mt-3 py-2 px-4"  style="font-size: 14px; font-weight: bold; background-color: #377dff" @click="create">ارسال سئوال</b-button>
        </div>

<!--        <VueLoading type="bars" v-if="questions === null" class="pb-4"></VueLoading>-->

        <div v-for="(question,index) in questions" :key="index" class="d-md-flex pt-4 pb-4 m-4 border-bottom ">
            <div class="d-flex d-md-block cdl-12 col-md-3 pl-4 ">
                <div class="d-flex" style="color: #5b5959">
                    <i class="material-icons">person</i>
                    <p class="p-1"> {{ question.user }} </p>
                </div>
                <div class="d-flex " style="color: #7e7d7d;font-size: 13px">
                    <i class="material-icons pr-2 pr-md-0" style="font-size: 16px; padding-top: 5px">date_range</i>
                    <p class="p-1"> {{ question.date }}</p>
                </div>
            </div>

            <div class="pr-4 border-right">
                <p style="color: #707070"> {{ question.text }} </p>
            </div>
        </div>
    </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/plugins/Notification";
// import {VueLoading} from 'vue-loading-template';

export default {
    name: "productQuestion",
    props: ['id'],
    data() {
        return {
            questions: null,
            newItem: {productId: this.id},
        }
    },
    components: {
        // VueLoading,
    },
    watch : {
        id : function (){
            this.getItems();
        }
    },
    methods: {
        getItems() {
            Http.get('/api/V1/productQuestion/product/' + this.id)
                .then(response => {
                    this.questions = response.data;
                    console.log(response);
                })
                .catch(error => {
                    Notification.serverError(error.response.status);
                    console.log(error.response);
                })
        },
        create() {
            this.newItem.api_token = localStorage.getItem('api_token');
            if (this.newItem.api_token === null) {
                return Notification.error('برای سئوال نظر باید وارد شوید.');
            }
            if (this.newItem.text === '') {
                return Notification.error('متن سئوال خالی است.');
            }
            Notification.showLoading();
            Http.post('/api/V1/productQuestion/create', this.newItem)
                .then(response => {
                    console.log(response);
                    Notification.success('سئوال شما ثبت شد.');
                    this.newItem.text = '';
                    Notification.hideLoading();
                    this.getItems();
                })
                .catch(error => {
                    console.log(error.response);
                    this.error = error.response;
                    Notification.serverError(error.response.status);
                })
        }
    },
    created() {
        this.getItems();
    }

}
</script>

<style scoped>

</style>
