<template>
  <div class="d-flex d-md-block productOption  " style="position: absolute">
    <div class="mb-md-3 mt-md-3" style="">
      <b-button class="p-0 bg-white">
        <i class="material-icons" style="color: #9b9b9b">favorite_border</i>
      </b-button>
    </div>

    <div class="mb-md-3">
      <b-button class="p-0 bg-white">
        <i class="material-icons" style="color: #9b9b9b">share</i>
      </b-button>
    </div>

    <div>
      <b-button class="p-0 bg-white">
        <i class="material-icons" style="color: #9b9b9b">notifications_none</i>
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "productOption"
}
</script>

<style scoped>
i {
  font-size: 21px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .productOption {
    position: relative !important;
  }

  i {
    margin: 0 5px 5px 5px;
    color: #808080 !important;
    font-weight: bold;
  }
}

</style>
