<template>
  <div class="text-center">
    <p class="text-center  pt-1 pt-md-3 font-weight-bold" style="font-size: 14px; height: 50px">
      {{ name }} مدل {{ model }}
    </p>
  </div>
</template>

<script>
export default {
  name: "productName",
  props : ['name','model']
}
</script>

<style scoped>

</style>
