<template>
  <div class="mx-auto" style="max-width: 1600px">
    <div class=" my-4 mt-md-5">
      <div class="d-flex">
        <div class="mr-3 d-none d-md-block" style="max-width: 320px; width: 30%">
          <ProfileMenu></ProfileMenu>
        </div>
        <div class="flex-grow-1 border rounded shadow m-2 m-md-0  mr-md-4">
          <div class="col-12 p-4">
            <LastCards></LastCards>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LastCards from "~/components/profile/lastCards";
import ProfileMenu from "~/components/profile/profileMenu";

export default {
  name: "cardList",
  components: {ProfileMenu, LastCards}
}
</script>

<style scoped>

</style>
