<template>
  <div class="mx-auto" style="max-width: 1600px">

    <CardStatus send="2" payment="1"></CardStatus>
    <div class="d-flex justify-content-between mb-4">
      <div class="col-12 col-md-8">
        <div class="border rounded mt-4">
          <CardBack link="/card/sendCard"></CardBack>
          <div class="p-4">
            <p class="font-weight-bold text-dark mt-3">نحوه پرداخت سفارش </p>
            <p class="mt-3 pm-3" style="color: #808080; font-size: 13px">روش مناسب را جهت پرداخت مبلغ سفارش انتخاب کنید</p>

            <div :class="['d-flex align-items-center bg-white mt-4 py-1 py-md-3 pl-2 border rounded',{select : paymentStatus === 'online'}]"
                 style="cursor: pointer"
                 @click="changePayment('online')">
              <i class="material-icons p-4 border-left" style="color: #808080; ">payment</i>
             <div>
               <p class="mr-4 pt-2 font-weight-bold">پرداخت آنلاین</p>
               <p class="mr-4" style="font-size: 12px; color: #808080">مبلغ سفارش را به صورت آنلاین از طریق کلیه ی کارت های عضو شبکه شتاب پرداخت نمائید</p>
             </div>
            </div>

            <div :class="['d-flex align-items-center bg-white mt-4 pl-2 py-1 py-md-3 border rounded',{select : paymentStatus === 'store'}]"
                 style="cursor: pointer"
                 @click="changePayment('store')"
            >
              <i class="material-icons p-4 border-left" style="color: #808080; ">store</i>
              <div>
                <p class="mr-4 pt-2 font-weight-bold">پرداخت در محل</p>
                <p class="mr-4" style="font-size: 12px; color: #808080">پرداخت در محل شامل خریدهای دریافت حضوری می باشد.</p>
              </div>
            </div>
          </div>

          <div class="d-block d-md-flex align-items-center justify-content-between font-weight-bold p-3 mt-4 border-top"
               style="background-color: #f8fbfc">

            <EndPrice></EndPrice>

            <div class="pt-3">
              <p @click="validate()" class="px-5 py-3 rounded text-white text-center font-weight-bold"
                 style="background-color: #2164e1; cursor: pointer ">
                  ثبت نهایی سفارش
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none d-md-block col-4 mt-4">
        <TotalPrice></TotalPrice>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
import CardStatus from "~/components/card/cardStatus";
import TotalPrice from "~/components/card/totalPrice";
import EndPrice from "~/components/card/endPrice";
import CardBack from "~/components/card/cardBack";

export default {
  name: "cardPayment",
  data(){
    return {
      paymentStatus:'',

    }
  },
  components: {CardBack, EndPrice, TotalPrice, CardStatus},
  watch : {
    card : function (){
      if (this.$store.state.card.length === 0){
        this.$router.push('/card');
      }
    },
    paymentStatus : function (){
      this.validate()
    }
  },
  computed: {
    card() {
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    discount() {
      return this.$store.state.discountCode;
    },
  },
  beforeMount() {
    if (this.$store.state.cardAddressStatus === false) {
      return this.$router.push('/card/complete-profile');
    }

    if (this.$store.state.cardSendMode === false) {
      return this.$router.push('/card/sendCard');
    }
  },
  methods : {
    validate(){
      if (this.paymentStatus === '')
      {
        return Notification.error('نحوه پرداخت سفارش را انتخاب کنید');
      }

      this.$router.push('/card/endBoy')
    },
    changePayment(status){
      if (status === 'store')
      {
        if (this.$store.state.cardSendMode === 'send')
        {
          Notification.error('پرداخت در محل شامل خریدهای دریافت حضوری می باشد.');
          return false
        }
      }
      this.$store.commit('EDIT_CARD_PAYMENT_MODE',status);
      this.paymentStatus = status;
    }
  }

}
</script>

<style scoped>
.select {
  background-color: #f2f7ff !important;
  border:2px solid #377dff !important;
}
</style>
