<template>
  <div class="mx-auto my-2" style="max-width: 1600px">
    <div class="border rounded m-2 p-4 " v-if="cardInfo.paymentMode === 'online'" style="min-height: 600px">

    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
import CardStatus from "~/components/card/cardStatus";
import TotalPrice from "~/components/card/totalPrice";
import EndPrice from "~/components/card/endPrice";

export default {
  name: "endBoy",
  data() {
    return {
      address: [],
      stateId: null,
      cardInfo: []

    }
  },
  components: {EndPrice, TotalPrice, CardStatus},
  watch: {},
  computed: {
    card() {
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    discount() {
      return this.$store.state.discountCode;
    },
  },
  async beforeMount() {
    if (this.$store.state.cardAddressStatus === false) {
      return this.$router.push('/card/complete-profile');
    }

    if (this.$store.state.cardSendMode === false) {
      return this.$router.push('/card/sendCard');
    }

    if (this.$store.state.paymentMode === false) {
      return this.$router.push('/card/cardPayment');
    }

    await this.checkOldDiscount();
    await this.getAddress();
    await this.sendCard();

  },
  methods: {
    validate() {
      let data = {
          "merchant_id": "00861ce4-fb16-4a29-92ef-c953aae0f68d",
          "amount": 1000,
          "callback_url": "https://test.bismark.ir/card/endBoy",
          "description": "خرید تست",
          "metadata": "",
          "email": "",
          "mobile": ""
        }
      ;
      this.$axios.$post('https://api.zarinpal.com/pg/v4/payment', data)
        .then(response => {
          console.log(response.loaded)
        })
        .catch(error => {
          console.log(error.response);
        })

    },
    getAddress() {
      Notification.showLoading()
      this.$axios.$get('/api/V1/card/customer/address/get/' + localStorage.getItem('api_token'))
        .then(response => {
          if (response.data !== null) {
            this.address = response;
            this.stateId = response.stateId;
          }
          console.log(response);
          Notification.hideLoading()
        })
        .catch(error => {
          console.log(error.response);
          Notification.hideLoading()

        });
    },
    sendCard() {
      Notification.showLoading()

      let status = 0;
      if (this.$store.state.paymentMode === 'delivery'){
         status = 2;
      }else {
        status =1;
      }
      let data = {
        'card': this.$store.state.card,
        'totalPrice': this.cardTotalPrice,
        'api_token': this.$store.state.user.api_token,
        'discount': this.$store.state.discount,
        'sendMode': this.$store.state.cardSendMode,
        'paymentMode': this.$store.state.paymentMode,
        'status' : status
      }

      this.$axios.$post('/api/V1/card/create/' + localStorage.getItem('api_token'), data)
        .then(response => {
          console.log(response);
          Notification.hideLoading()

          if (response.data.totalPrice !== this.cardTotalPrice) {
            Notification.error('قیمت کالاهای شما تغییر کرده لطفا از سبد خرید حذف و مجدد ثبت کنید.');
            return this.$router.push('/card');
          }
          this.cardInfo = response.data;
          console.log(this.cardInfo);
          localStorage.setItem('card', JSON.stringify([]));
          this.$store.commit('UPDATE_CARD', []);

          return this.$router.push('/card/info/' + response.data.cardId);
        })
        .catch(error => {
          console.log(error.response);
          Notification.hideLoading()

        });
    },
    checkOldDiscount() {
      if (localStorage.getItem('discount')) {
        this.$axios.$post('/api/V1/card/checkDiscount', {'discount': localStorage.getItem('discount')})
          .then(response => {
            console.log(response);
            this.$store.commit('UPDATE_DISCOUNT', localStorage.getItem('discount'));
            this.$store.commit('UPDATE_DISCOUNT_CODE', response.discount);
            this.discountView = false;
          })
          .catch(error => {
            console.log(error.response);
          })
      }
    },

  },
  created() {
    Notification.showLoading();
  }
}
</script>

<style scoped>
.select {
  background-color: #f2f7ff;
  border: 2px solid #377dff !important;
}
</style>
