<template>
  <div class="mx-auto" style="max-width: 1600px">

<!--    <card-status></card-status>-->

    <div class="m-md-4 my-1 mx-2">
      <div class=" rounded border">
        <div class="d-flex justify-content-between px-2 pt-3 pb-0 p-md-2 m-md-4 border-bottom">
          <div class="d-flex font-weight-bold  pb-0">
            <p class="m-1" >سبد خرید</p>
            <p class="text-center text-white mr-2"
               style="border-radius: 50%; width: 34px; padding: 5px; background-color: #2164e1">{{cardCon}}</p>
          </div>
          <div v-if="cardCon !== 0" class="d-flex text-left">
            <i class="material-icons font-weight-bold rounded pt-2"
               style="color: #2164e1; font-size: 19px"
            >
              autorenew
            </i>
            <p class="d-none d-md-block font-weight-bold rounded p-1"
               style="color: #2164e1; cursor: pointer"
               @click="updateCard()"
            >
              بروز رسانی سبد خرید
            </p>
          </div>
        </div>
        <div v-if="cardCon === 0">
          <p
            class="text-center"
            style="color: #808080; font-weight: bold; margin: 35px auto"
          >
            سبد خرید شما خالی است
          </p>

          <p class="text-center">
                  <span class="px-3 py-2 font-weight-bold rounded"
                        style="color: #2164e1; background-color: #f5f5f5"
                        @click="updateCard()"
                  >
                    بروز رسانی سبد خرید
                  </span>
          </p>
        </div>

        <div v-else>

          <div v-for="(item,index) in card" :key="index"
               class="m-0 m-md-2 "
          >

            <div :class="['d-flex align-items-center m-1 m-md-4 pb-md-3 ',{'border-bottom' : card.length !== index +1}]">
             <div class="">
               <img :src="'https://server.bismark.ir/img/kala/'  + item.id + '/img-mini.jpg'"
                    style="max-width: 120px; width: auto; position: relative"
                    class="ml-md-2"
                    alt="بیسمارک"
               >
             </div>

              <div class="d-block d-md-flex justify-content-between flex-grow-1 font-weight-bold mr-md-2 pt-1 pb-1 ">
                <div>
                  <p style="font-size: 13px; font-weight: bold">
                    <nuxt-link :to="'/product/' + item.slug">
                      <span> بیسمارک </span> {{ item.name }} <span> مدل </span> {{ item.model }}
                    </nuxt-link>
                  </p>

                  <div class="">
                    <div class="d-flex ">
                      <div class="d-flex pt-2 " style="color: #575757">
                        <i class="material-icons" style="font-size: 19px">storefront</i>
                        <p class="mr-2" style="font-size: 13px; color: #575757">بیسمارک  </p>
                      </div>

                      <div class="d-flex pt-2 mr-1 mr-md-4" style="color: #575757">
                        <i class="material-icons" style="font-size: 19px">credit_score</i>
                      </div>

                      <p class=" mt-2 mr-1 mr-md-2" style="font-size: 13px; font-weight: 500; color: #575757;"> کارت طلایی تعویض </p>
                    </div>
                  </div>

                  <div class="d-flex align-items-center mt-2 mt-md-4">
                   <div class="d-flex justify-content-between border font-weight-bold rounded">
                     <p class="pt-3 px-2 px-md-3 text-info" style="cursor: pointer" @click="editCardProductCon(index,'+')">+</p>
                     <p class="pt-3 px-3 px-md-3">{{item.con}}</p>
                     <p class="pt-3 px-2 px-md-3 text-danger" style="cursor: pointer" @click="editCardProductCon(index,'-')">-</p>
                   </div>

                   <div class="d-flex  justify-content-start pt-2 pb-3"
                        style="cursor: pointer"
                        @click="deleteInCard(index)"
                   >
                     <i class=" material-icons font-weight-bold rounded py-0 my-0  mr-5"
                        style="color: #575757; font-size: 19px; border-bottom: 1px dashed #575757"
                     >
                       delete
                     </i>
                     <p class="pr-1 py-0 m-0"
                           style="color: #575757; font-size: 13px;  border-bottom: 1px dashed #575757"
                     >
                       حذف
                     </p>
                   </div>
                  </div>
                </div>

               <div class="mt-4 mt-md-0">

                 <p class="text-right text-md-left ml-2" style=" font-size: 13px">
                   <span style="color: #81858b; font-size: 12px">قیمت</span>
                   <span class="text-dark" style="font-weight: bold">{{ item.price  | formatNumber }} </span>
                   <span style="font-weight: 500; font-size: 9px"> تومان </span>
                 </p>

                 <p v-if="item.special !== 0" class="text-right text-md-left ml-2" style=" font-size: 13px; color: #ff5a5f ">
                   <span style=" font-size: 12px">تخفیف</span>
                   <span style=" font-size: 12px">( {{item.special}}% )</span>
                   <span  class="" style="font-weight: bold"> {{ (item.special) * (item.price / 100) | formatNumber }} </span>
                   <span style="font-weight: 500;font-size: 9px"> تومان </span>
                 </p>

                 <p v-if="item.special !== 0" class="text-right text-md-left ml-2" style=" font-size: 13px">
                   <span style="color: #81858b; font-size: 12px">قابل پرداخت</span>
                   <span  class="text-dark" style="font-weight: bold">{{ (item.price) * ((100 - item.special) / 100)  | formatNumber }} </span>
                   <span style="font-weight: 500;font-size: 9px"> تومان </span>
                 </p>
               </div>
              </div>
            </div>


          </div>
          <div class="d-block d-md-flex  align-items-center justify-content-between font-weight-bold p-3 border-top" style="background-color: #f8fbfc">
            <EndPrice></EndPrice>

            <div class="pt-3">

               <p class="px-4 py-3 rounded text-white font-weight-bold text-center"
                  style="background-color: #2164e1; cursor: pointer "
                  @click="goAddress()"
               >پرداخت و
                 اتمام خرید</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import EndPrice from "~/components/card/endPrice";
import CardStatus from "~/components/card/cardStatus";
import Notification from "~/plugins/Notification";
export default {
  name: "index",
  components: {CardStatus, EndPrice},
  data() {
    return {}
  },
  computed: {
    cardCon() {
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    card() {
      return this.$store.state.card;
    },
    discount(){
      return this.$store.state.discountCode;
    }
  },
  methods: {
    async updateCard() {
      await this.$store.dispatch('getCard');
      await this.$store.dispatch('updateCardTotal');
    },
    async deleteInCard(index) {
      await this.$store.commit('DELETE_IN_CARD', index);
      await this.$store.dispatch('updateCardTotal');
    },
    async editCardProductCon (index, status){
      await this.$store.commit('EDIT_CARD_PRODUCT_CON',[index,status]);
      await this.$store.dispatch('updateCardTotal');
    },
    goAddress(){
      if (this.$store.state.user.api_token === null) {
        this.$store.commit('EDIT_AUTH_STATUS', 'login');
        Notification.error('برای ادامه خرید باید وارد سایت شوید');
        return this.$store.commit('EDIT_AUTH', true);
      }

      this.$router.push('/card/complete-profile');
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 768px) {
  .cards {
    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid #d9d8d8 !important;

  }

  p {
    font-size: 12px !important;
  }
}
</style>
