<template>
  <div class="mx-auto" style="max-width: 1600px">

    <CardStatus :send="sendStatus"></CardStatus>
    <div class="d-flex justify-content-between mb-4">
      <div class="col-12 col-md-8">
        <div class="border rounded mt-4">
          <CardBack link="/card/complete-profile"></CardBack>
          <div class="p-4">
            <p class="font-weight-bold text-dark">نحوه ارسال سفارش </p>

            <div :class="['border rounded mt-4 p-3',{select : send}]"
                 style="cursor: pointer"
                 @click="send = true"
            >
              <div class="d-flex align-items-center  ">
                <div class="d-flex p-2 p-md-4 border-left">
                  <b-check  ></b-check>
                  <i class="material-icons pr-3 pl-md-2" style="color: #808080; ">local_shipping</i>
                </div>
                <div class="mr-2 mr-md-4">
                  <p class="mr-3" v-model="send">ارسال مرسوله</p>
                  <p class="mr-3 " style="color: #808080; font-size: 12px">
                    هزینه ارسال رایگان
                  </p>
                </div>
              </div>
            </div>

            <div :class="['border rounded mt-4 p-3',{select : delivery}]"
                 style="cursor: pointer"
                 @click="delivery = true"
            >
              <div class="d-flex align-items-center  ">
               <div class="d-flex p-2 p-md-4 border-left">
                 <b-check></b-check>
                 <i class="material-icons pr-3 pl-md-2 " style="color: #808080; ">store</i>
               </div>
               <div class="mr-2 mr-md-4">
                 <p class="mr-3" v-model="send">تحویل حضوری از دفتر شرکت</p>
                 <p class="d-none d-md-block mr-3 " style="color: #808080; font-size: 12px">
                   آدرس دفتر مرکزی جهت تحویل کالا : قشم - درگهان - مجتمع تجاری پرشین گلف 1 - پلاک 257 دفتر شرکت بیسمارک
                 </p>

                 <p class="d-md-none mr-3 " style="color: #808080; font-size: 12px">
                   قشم - درگهان - مجتمع پرشین گلف 1
                 </p>
               </div>
              </div>

            </div>

          </div>

          <div class="d-block d-md-flex  align-items-center justify-content-between font-weight-bold p-3 mt-4 border-top"
               style="background-color: #f8fbfc">

            <EndPrice></EndPrice>

            <div class="pt-3">
              <p @click="validate()" class="px-5 py-3 rounded text-white text-center font-weight-bold"
                 style="background-color: #2164e1; cursor: pointer ">
                مرحله بعد خرید
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none d-md-block col-4 mt-4">
        <TotalPrice></TotalPrice>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/plugins/Notification";
import CardStatus from "~/components/card/cardStatus";
import TotalPrice from "~/components/card/totalPrice";
import EndPrice from "~/components/card/endPrice";
import CardBack from "~/components/card/cardBack";

export default {
  name: "sendCard",
  data(){
    return {
      sendStatus:'1',
      delivery : false,
      send : false,
      sendMode : '',
    }
  },
  components: {CardBack, EndPrice, TotalPrice, CardStatus},
  watch : {
    card : function (){
      if (this.$store.state.card.length === 0){
        this.$router.push('/card');
      }
    },
    delivery : function (){
      this.send = !this.delivery;
      if (this.send === true){
        this.sendMode = 'send';
      }

      if (this.delivery === true){
        this.sendMode = 'delivery';
      }

      this.validate();
    },
    send : function (){
      this.delivery = !this.send;

      if (this.send === true){
        this.sendMode = 'send';
      }

      if (this.delivery === true){
        this.sendMode = 'delivery';
      }
      this.validate();
    }
  },
  computed: {
    card() {
      return this.$store.state.card.length;
    },
    cardTotalPrice() {
      return this.$store.state.cardTotal;
    },
    discount() {
      return this.$store.state.discountCode;
    },
  },
  beforeMount() {
    if (this.$store.state.cardAddressStatus === false) {
      return this.$router.push('/card/complete-profile');
    }
  },
  methods : {
    validate(){
      if (this.send === false && this.delivery === false)
      {
        this.$store.commit('EDIT_CARD_SEND_MODE',false);
        return Notification.error('نحوه ارسال سفارش را انتخاب کنید');
      }

      this.sendStatus = '2';

      this.$store.commit('EDIT_CARD_SEND_MODE',this.sendMode);

      this.$router.push('/card/cardPayment');
    }
  }

}
</script>

<style scoped>
.select {
  background-color: #f2f7ff !important;
  border:2px solid #377dff !important;
}
</style>
