<template>
  <div>
    404
    <p>
      {{mode}}
    </p>
  </div>
</template>

<script>
export default {
  name: "404",
  asyncData ({req}){
    return {
      mode : req ? 'server' : 'clint'
    }
  },
  data (){
    return {
      mode : ''
    }
  }
}
</script>

<style scoped>

</style>
