<template>
  <div class="pt-3 m-0 mt-0 pb-5" style="background-color: #f5f5f5">

   <HomeBanner></HomeBanner>

  <ProductSpecial></ProductSpecial>

    <div  class="d-md-none px-2 pt-4">
      <FreeBox></FreeBox>
    </div>

    <div class="" style="max-width: 1600px; margin: auto">

      <ProductSlide :product="product[3].data.data" :title="product[3].title"  link="search?s="></ProductSlide>
      <ProductSlide :product="product[0].data.data" :title="product[0].title" :link="'/category/' +product[0].slug + '?category=' + product[0].data.data[0].category"></ProductSlide>
      <ProductSlide :product="product[1].data.data" :title="product[1].title" :link="'/category/' +product[1].slug + '?category=' + product[1].data.data[0].category"></ProductSlide>
      <ProductSlide :product="product[2].data.data" :title="product[2].title" :link="'/category/' +product[2].slug + '?category=' + product[2].data.data[0].category"></ProductSlide>

      <div class="my-4 p-0 px-2 p-xl-0 mx-auto col-12 col-xl-11 ">
        <agent-box></agent-box>
      </div>
    </div>

  </div>
</template>

<script>

import Http from 'axios';
import SlideRight from "~/components/slideRight";
import AgentBox from "~/components/agentBox";
import HomeBanner from "~/components/HomeBanner";
import FreeBox from "~/components/freeBox";
import Price from "~/components/product/price";
import ProductName from "~/components/product/productName";
import ProductSpecial from "~/components/product/productSpecial";
import ProductSlide from "~/components/product/productSlide";
// import Notification from "../../Services/notificationService";


export default {
  name: "index",
  async asyncData({$axios}) {
    const getProduct = await $axios.$get('/api/V1/product/homeSlide');
    // const getBanner = await $axios.$get('/api/V1/setting/banner/listView');

    // console.log(getProduct);

    return {
      product: getProduct,
      // banners: getBanner
    }
  },
  head() {
    return {
      title: ' بیسمارک' ,
      meta : [
        {
          hid: 'description',
          name : 'description',
          content : "شرکت لوازم خانگی بیسمارک وارد کننده و فروشنده رسمی محصولات شرکت بیسمارک آلمان است. تمام واردات و خدمات پس از فروش شرکت بیسمارک زیر نظر این شرکت انجام می گیرد. با ورود به سایت می توانید خرید خود را انجام دهید.",
        },
        {
          name : 'keywords',
          content : 'بیسمارک , خرید بیسمارک , محصولات خانگی بیسمارک , قیمت بیسمارک ,'
        },
        {
          property : 'product:price:currency',
          content : 'IRR'
        },
        {
          property : 'og:type',
          content : 'product'
        },
        {
          name : 'robots',
          content : 'index, follow'
        },
        {
          name : 'enamad',
          content : '763378'
        },
      ]
    }
  },

  data() {
    return {

      banners: ['<div> <img style="width:100%" src="https://www.bismark.ir/img/banner/57791.jpg" alt=""> </div>'],
      slidingSpecial: false,
      product: [],
      Specials: []
    }
  },
  components: {
    ProductSlide,
    ProductSpecial,
    ProductName,
    Price,
    FreeBox,
    HomeBanner,
    AgentBox,
    SlideRight,
    // agentBox,
    // VueLoading,
  },
  watch: {
    slidingSpecial: function () {
      return this.autoPlay();
    }
  },
  computed: {

  },
  methods: {
    getProduct() {
      Http.get('/api/V1/product/homeSlide')
        .then(response => {
          // console.log(response);
          this.product = response.data;
        })
    },
    goTo(slug) {
      this.$nuxt.push('/product/' + slug);
    },
    getBanner() {
      // Notification.title('شرکت لوازم خانگی بیسمارک '  );
      // Notification.description('شرکت لوازم خانگی بیسمارک وارد کننده و فروشنده رسمی محصولات شرکت بیسمارک آلمان است. تمام واردات و خدمات پس از فروش شرکت بیسمارک زیر نظر این شرکت انجام می گیرد. با ورود به سایت می توانید خرید خود را انجام دهید.');
      Http.get('/api/V1/setting/banner/listView')
        .then(response => {
          // console.log(response);
          this.banners = response.data;
        })
        .catch(error => {
          // console.log(error);
        })
    },
    scrollRight() {
      console.log('dddd')
      const ele = document.getElementsByClassName('box');
      ele.scrollIntoView();
    },

    autoPlay() {
      setTimeout(function () {

        // if (this.end === this.Specials.length -1){
        //   this.start = 0;
        //   this.end = 3
        // }
        this.start++;
        this.end++;

        // this.chengSpecial('next');
        this.slidingSpecial = true;
      }, 3000);
    }
  },
  created() {
    // console.log(this.product)
  },
  mounted() {
    // console.log(this.banners)
    // this.autoPlay();
    console.log(this.product)

  }
}
</script>

<style scoped>




.imgBox {
  margin: 15px;
  height: 180px;
}

.imgBox:hover {
  /*border: 1px solid cornflowerblue;*/
}

a:hover {
  border: 0;
  text-decoration: none;
}


.box:focus {
  /*display: block;*/
}

.box-btn {
  display: none;
}

.box::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.box::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}


.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.1);
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1px;
}

.slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(241, 238, 238, 0.1);
}




.product {
  margin: 5%;
  font-size: 17px;
}

.product:hover {
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

.slider img {
  position: relative;
  width: 80% !important;
}

.slider p {
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
.sliderBox {
  box-shadow: none !important;
  /*background-color: #f5f5f5 !important;*/
  border: none;
  margin: 0 !important;
  padding: 0 !important;

}
  .sliderBox p ,h6 {
    font-size: 13px !important;
  }

  .sliderBox i{
    padding-top: 2px !important;
    font-size: 22px !important;
  }

  .product {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,.15)!important;
    border: 1px solid rgba(219, 219, 219, 0.59);
    min-width: 150px;
  }

  .sliderBoxItem{
    min-width: 140px !important;
  }

  .sliderBoxItem p{
    font-size: 11px !important;
  }

  .Special p,span {
    font-size: 13px !important;
  }

  .Special img {
    display: table;
    width: 110px !important;
    margin:auto !important;
  }

  .sp img {
    max-height: 200px !important;
  }

  .card{
    padding: 0 !important;
    margin: 0 !important;
  }


  .card-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .title {
    font-size: 14px;
  }

}

</style>
