<template>
  <div v-if="render" class="bg-white overflow-auto"
       style="width: 100%;height: 100%;position: fixed; top: 0; right: 0;z-index: 35">
    <client-only>
      <div class=" p-4 m-auto col-11 col-md-5 bg-white " style=" border-radius: 8px">

        <div class="d-flex justify-content-between">
          <p>امتیاز های کسب شده</p>
          <i @click="readier()" class="material-icons">home</i>
        </div>
        <b-progress :value="scoreCon" max="80" show-value class="mb-3 text-center  " variant="info"
                    height="1.5rem"></b-progress>

        <div class="d-flex ">
          <i v-if="level !== 1" @click="level--" class="material-icons ml-2">forward</i>
          <h5 class="mb-3">سامانه قرعه کشی بیسمارک</h5>
        </div>

        <div v-if="level === 1">
          <label class="d-block mt-2">نام کامل</label>
          <b-input :class="{error : error.name}" v-model="request.name"></b-input>

          <label class="mt-2">شماره تماس</label>
          <b-input :class="{error : error.phoneNumber}" v-model="request.phoneNumber"></b-input>

          <div v-if="agentId !== true">
            <label class="mt-2">کد نمایدگی </label>
            <b-input :class="{error : error.phoneNumber}" v-model="request.agentId"></b-input>
          </div>

          <label class="mt-3">استان</label>
          <b-select v-model="request.stateId" :class="{error : error.stateId}">
            <b-select-option v-for="(state,index) in states" :key="index" :value="state.id">
              {{ state.name }}
            </b-select-option>
          </b-select>

          <div v-for="(c,index) in con" :key="index">
            <div class="d-flex mt-3">
              <label class="">محصولات </label>
              <p class="mr-2" style="font-size: 12px;color: #707070">محصولات خود را از لیست زیر انتخاب
                کنید.</p>
            </div>

            <v-select :options="products" multiple="" label="model" v-model="request.products"
                      :class="{error : error.products}">
              <template slot="option" slot-scope="option">
                {{ option.model }} {{ option.name }} مدل
              </template>
            </v-select>
          </div>

          <b-button class="btn-success w-100 mt-4 p-2" @click="validate1('continue')">
            ادامه
          </b-button>

          <b-button class="btn-danger w-100 mt-4 p-2" @click="validate1('end')">
            اتمام
          </b-button>

        </div>

        <div v-if="level === 2">
          <label class="mt-2">تاریخ تولد</label>
          <div :class="['col-12 border rounded bg-white p-0 pt-1 pb-1',{error:error.birthDate}]">
            <client-only>
              <PDatePicker
                :class="{error : error.stateId}"
                v-model="request.birthDate"
                placeholder="تاریخ تولد انتخاب کنید"
                inputClass="position-relative col-12  border-0 w-100 p-2 m-0 text-right"
                wrapperClass="col-12 w-100 p-0">
              </PDatePicker>
            </client-only>
          </div>

          <label class="mt-4">تاریخ ازدواج</label>
          <div :class="['col-12 border rounded bg-white p-0 pt-1 pb-1',{error:error.MarriageDate}]">
            <client-only>
              <PDatePicker
                v-model="request.MarriageDate"
                placeholder="تاریخ ازدواج انتخاب کنید"
                inputClass="position-relative col-12  border-0 w-100 p-2 m-0 text-right"
                wrapperClass="col-12 w-100 p-0">
              </PDatePicker>
            </client-only>
          </div>

          <b-button class="btn-success w-100 mt-2 p-2" @click="validate2('continue')">
            ادامه
          </b-button>

          <b-button class="btn-danger w-100 mt-4 p-2" @click="validate2('end')">
            اتمام
          </b-button>
        </div>

        <div v-if="level === 3">
          <label class="mt-4">تحصیلات </label>
          <b-select :class="{error : error.education}" v-model="request.education">
            <b-select-option value="1">دیپلم</b-select-option>
            <b-select-option value="2">لیسانس</b-select-option>
            <b-select-option value="3">فوق لیسانس</b-select-option>
            <b-select-option value="4">دکترا</b-select-option>
          </b-select>

          <label class="mt-4">شغل </label>
          <b-input :class="{error : error.job}" v-model="request.job"></b-input>
          <b-button class="btn-success w-100 mt-4 p-2" @click="validate3()">
            اتمام
          </b-button>
        </div>

      </div>
    </client-only>
  </div>
</template>

<script>
import Http from "axios";
import Notification from "~/plugins/Notification";
// import PDatePicker from 'vue2-persian-datepicker';
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';


export default {
  name: "productSerial",
   async asyncData() {
    let xx = '';
      xx = {
      'name' : 0,
      'phoneNumber' : 0,
      'stateId' : 0,
      'products' : 0,
      'birthDate' : 0,
      'MarriageDate' : 0,
      'education' : 0,
      'job' : 0,
    };
     return{
       score : xx,

     }
  },
  data() {
    return {
      render: false,
      progress: '',
      closeBox: false,
      agentId: true,
      con: 1,
      level: 1,
      states: null,
      products: [],
      op: [{label: 'Canada', code: 'ca'}, {label: 'America', code: 'am'}],
      error: {
        name: null,
        phoneNumber: null,
        stateId: null,
        products: null,
        birthDate: null,
        MarriageDate: null,
        education: null,
        job: null,
      },
      score: null,
      request: {
        name: "",
        agentId: this.$route.params.agentId,
        phoneNumber: "",
        stateId: "",
        products: [],
        birthDate: "",
        MarriageDate: "",
        education: "",
        job: "",
      }
    }
  },
  components: {
    vSelect
  },
  computed: {
    scoreCon() {
      return this.score.name
        + this.score.phoneNumber
        + this.score.stateId
        + this.score.products
        + this.score.birthDate
        + this.score.MarriageDate
        + this.score.education
        + this.score.job
    }
  },
  methods: {
    validate1(status) {
      let level = 0;
      if (this.request.name === "") {
        this.error.name = true;
        this.score.name = 0;
        level = 1;
      } else {
        this.error.name = false;
        this.score.name = 10
      }

      if (this.request.phoneNumber === "" || this.request.phoneNumber.length !== 11
      ) {
        this.error.phoneNumber = true;
        this.score.phoneNumber = 0;
        level = 1;
      } else {
        this.error.phoneNumber = false;
        this.score.phoneNumber = 10
      }

      if (this.request.stateId === "") {
        this.error.stateId = true;
        this.score.stateId = 0;
        level = 1;
      } else {
        this.error.stateId = false;
        this.score.stateId = 10
      }

      if (this.request.products.length === 0) {
        this.error.products = true;
        this.score.products = 0;
        level = 1;
      } else {
        this.error.products = false;
        this.score.products = 10
      }

      if (level === 1) {
        return false
      }

      if (status === 'end') {
        return this.newItem('اطلاعات شما با 40 امتیاز در قرعه کشی ثبت شد');
      }
      this.level = 2;
    },
    validate2(status) {
      // let level = true;
      // if (this.request.birthDate === "") {
      //     this.error.birthDate = true;
      //     this.score.birthDate = 0;
      //     level = false;
      // } else {
      //     this.error.birthDate = false;
      //     this.score.birthDate = 10
      // }
      //
      // if (this.request.MarriageDate === "") {
      //     this.error.MarriageDate = true;
      //     this.score.MarriageDate = 0;
      //     level = false;
      // } else {
      //     this.error.MarriageDate = false;
      //     this.score.MarriageDate = 10
      // }


      if (status === 'end') {
        return this.newItem('اطلاعت شما با 60 امتیاز در قرعه کشی ثبت شد');
      }
      this.level = 3;

    },
    validate3() {
      // let level = true;
      // if (this.request.education === "") {
      //     this.error.education = true;
      //     this.score.education = 0;
      //     level = false;
      // } else {
      //     this.error.education = false;
      //     this.score.education = 10
      // }
      //
      // if (this.request.job === "") {
      //     this.error.job = true;
      //     this.score.job = 0;
      //     level = false;
      // } else {
      //     this.error.job = false;
      //     this.score.job = 10
      // }

      return this.newItem('تمام امتیاز قرعه کشی را دریافت کردید.');

    },
    getState() {
      Http.get('/api/V1/serviceList/stateList')
        .then(response => {
          this.states = response.data;
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    getProducts() {
      Http.get('/api/V1/product/search/*')
        .then(response => {
          this.products = response.data;
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    checkAgent(id) {
      if (id === null) {
        this.agentId = false;
        this.request.agentId = null;
        // Notification.hideLoading();
        return 'false';
      }

      if (id.length !== 5) {
        this.agentId = false;
        this.request.agentId = null;
        // Notification.hideLoading();
        return 'false';
      }
      Http.post('/api/V1/productSerial/salesAgent/check', {'agentId': id})
        .then(response => {
          if (response.data === false) {
            this.agentId = false;
            this.request.agentId = null;
            return false;
          } else {
            this.agentId = true;
            return true;
          }
        })
        .catch(error => {
          console.log(error.response);
        })
    },
    async newItem(message) {
      // Notification.showLoading();
      await this.checkAgent(this.request.agentId);

      if (this.request.agentId == null || this.request.agentId === "") {
        // Notification.error('کد نمایندگی اشتباه است');
        return false;
      }

      Http.post('/api/V1/productSerial/customer/create', this.request)
        .then(response => {
          this.closeBox = true;
          setTimeout(this.readier, 3);
          // Notification.success(' مشخصات شما با ' + this.scoreCon + ' امتیاز در قرعه کشی ثبت شد. ');
        })
        .catch(error => {
          console.log(error.response);
          // Notification.serverError(error.response.status);
        })
    },
    readier() {
      this.$router.push('/');
    }
  },
  created() {

  },
  mounted() {

    this.getState();
    this.getProducts();
    this.checkAgent(this.$route.params.agentId);
    this.render = true;
  }

}
</script>

<style scoped>
.error {
  border: 1.9px solid #ff5588 !important;
}
</style>
