<template>
    <div>
        <div class="w-100 h-100 fixed-top position-fixed overflow-auto" style="background-color: #ffffff ;z-index: 102;" >

          <div class="d-flex justify-content-end">
            <i class="material-icons p-4 font-weight-bold" style="cursor : pointer;z-index: 103" @click="close">close</i>
          </div>

            <div class="authBox p-2  m-auto col-8 col-md-5 border bg-white overflow-auto"
                 style=""
            >

                <div class=" w-100 container p-2 p-md-4">
                    <component is="login" v-on:close="close"></component>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
import Login from "./Login";
import Register from "./Register";

export default {
    name: "Auth",
    props : ['auth'],
    data() {
        return {
            userData: [],
        }
    },
    components: {
        'login': Login,
        'register': Register,
    },
    methods: {
        close() {
            this.$store.commit('EDIT_AUTH', false)
        }
    },
    created() {

    }
}
</script>

<style scoped>

.authBox {
  top: 25%;
  transform: translateY(-25%); border-radius: 8px;
  max-width: 430px
}
@media only screen and (max-width: 668px) {
  .authBox {

    box-shadow: none !important;
    /*background-color: #f5f5f5 !important;*/
    border: none !important;
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
    top: 5%;
    transform: translateY(-5%); border-radius: 8px;

  }

}
</style>
