<template>
  <div>
    <div class="container h-100">
      <div class=" h-100 justify-content-center align-items-center">
        <div class="col wrapper-box">

          <div class="">

            <div class="d-flex justify-content-center">
              <nuxt-link to="/">
                <img src="@/static/img/logo.png" alt="بیسمارک" title="بیسمارک " class=" p-0 m-0 ">
              </nuxt-link>
            </div>

            <form class="form " id="loginForm" onsubmit="event.preventDefault()">
              <p class="text-center font-weight-bold mt-5">ورود به بیسمارک</p>
              <div class="" v-if="password === false">

                <b-input v-model="input.phoneNumber"
                       @focus="clearError()"
                       @keyup.enter="validate()"
                       type="tel" name="phoneNumber"
                       pattern="\d*"
                       class="form-control p-4 mt-5"
                       style="font-size: 13px"
                       placeholder="  شماره تماس خود را وارد کنید"
                >
                </b-input>


                <b-button type="button"
                          v-on:click="validate()"
                          class="text-white w-100 p-3 mt-4"
                          style="background-color: #377dff"
                >
                  ورود
                </b-button>
              </div>

              <div class="form-group" v-if="password === 'email'">
                <label for="inputPassword">کلمه عبور را وارد کنید </label>
                <input v-model="input.password" @focus="clearError()" @keyup.enter="login"
                       type="password" name="code"  class="form-control p-4 mt-5"
                       placeholder="کلمه عبور">
                <div class="mt-4">
                  <input type="button" v-on:click="login()"
                         class="btn btn-danger text-white w-100 p-2" value="ادامه">
                </div>
              </div>

              <div class="form-group" v-if="password === 'phoneNumber'">

                <label for="inputPassword" class="mt-4 pb-2">کد ارسالی را وارد کنید </label>

                <div class="d-flex border rounded">
                  <b-input v-model="input.password" @focus="clearError()" @keyup.enter="login"
                           id="inputPassword" type="password"
                           pattern="\d*"
                           name="code"
                           class="form-control p-4  border-0 shadow-none"
                           placeholder=" کد ارسالی">
                  </b-input>

                  <i v-if="password === 'phoneNumber'" class="material-icons  pl-2"
                     @click="generateCode()"
                     style="margin-top: 16.5px; cursor: pointer; font-size: 17px"
                     title="ارسال مجدد کد">cached</i>
                </div>

                <div class="mt-4">
                  <b-button type="button"
                            v-on:click="login()"
                            class="  text-white w-100 p-3"
                            style="background-color: #377dff"
                  >
                    ادامه
                  </b-button>
                </div>
              </div>

              <div v-if="password === 'name'" class="form-group">
                <p class="mt-5 mb-2" style="color: #808080; font-size: 12px">
                  <span class="border-bottom">شماره تماس {{input.phoneNumber}} ثبت نشده.</span>
                </p>
                <label class="" style="font-size: 14px">برای ثبت نام ، نام کامل خود را وارد کنید.</label>

                <b-input type="text" v-model="input.name"
                         class="p-4 mt-3"
                         name="name"
                         style="font-size: 13px"
                         placeholder="نام کامل خود را وارد کنید"
                >
                </b-input>

                <b-button type="button"
                          v-on:click="register()"
                          class="  text-white w-100 p-3 mt-4"
                          style="background-color: #377dff"
                >
                  ادامه
                </b-button>

                <p class="text-center mt-4" >
                  <span style="font-size: 12px; cursor: pointer; color:#377dff; border-bottom : 1px dashed #377dff "
                        @click="password = false"
                  >تغییر شماره
                  </span>
                </p>
              </div>

              <div class="">
                <div class="">
                  <transition name="fade">
                      <span class="error-block error-message" v-show="error != null">{{
                          error
                        }}</span>
                  </transition>
                </div>
              </div>
            </form>

            <p class="text-center " style="color: #808080; font-size: 12px; margin-top: 25%">
              با ورود به بیسمارک , موافقت خود را با قوانین و مقررات استفاده از آن اعلام و تایید می کنید.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Http from 'axios';
import Notification from "~/components/notificationService";

export default {
  name: 'Login',
  metaInfo: {
    title: 'Sign in',
  },
  data() {
    return {
      password: false,
      reset: false,
      input: {
        phoneNumber: '',
        password: '',
        newPassword: null,
        type: 'phoneNumber',
        name : ''
      },
      userData: null,
      error: '',
    }
  },
  components: {},
  methods: {
    validate() {

      if (!this.input.phoneNumber.match(/^[0-9]+$/)) {
        return Notification.error('شماره تماس را با اعداد انگلیسی وارد کنید');
      }

      if (this.input.phoneNumber.length !== 11) {
        return Notification.error('شماره تماس باید 11 عدد باشد.');
      }

      this.generateCode();

    },
    generateCode() {
      Notification.showLoading();
      this.$axios.$post('/api/V1/generateCode', this.input)
        .then(response => {
          console.log(response)
          Notification.hideLoading();
          if (response.data.status === 'true') {
            this.password = 'phoneNumber';
            return Notification.success(response.data.message);
          }

          if (response.data.status === 'false') {
            return  this.password = 'name';
            // return Notification.success(response.data.message);
          }

          Notification.error('ارسال کد نا موفق بود');
        })
        .catch(error => {
          console.log(error.response);
          Notification.error('مشکلی در ارتباط به وجود آمده است');
          Notification.serverError(error.response.status);
        })
    },
    login() {

      if (this.reset === true && this.input.type === 'email') {
        return this.checkResetCode();
      }
      if (this.input.password === "") {
        Notification.error('کلمه عبور را وارد کنید.');
      }
      Notification.showLoading();
      this.$axios.$post('/api/V1/login', this.input)
        .then(response => {
          console.log(response);
          this.userData = response.data;
          if (response.data.status === 'true') {
            localStorage.setItem('name', response.data.data.name);
            localStorage.setItem('userStatus', response.data.data.status);
            localStorage.setItem('api_token', response.data.data.api_token);
            this.$store.commit('EDIT_USER', response.data.data);
            this.$store.commit('EDIT_USER_INFO', response.data.data);
            this.close()
          }

          Notification.info(response.data.message);
          Notification.hideLoading();
        })
        .catch(error => {
          console.log(error.response);
          Notification.serverError(error.response.status);
        })

    },
    checkResetCode() {
      Notification.showLoading();
      this.$axios.$post('/api/V1/checkResetCode', this.input)
        .then(response => {
          // console.log(response.data);
          if (this.input.password === "") {
            return Notification.error('کد ارسالی را وارد کنید.');
          }
          if (response.data.status === 'true') {
            Notification.hideLoading();
            return this.password = 'reset';
          } else {
            Notification.info(response.data.message);
          }
          Notification.hideLoading();
        })
        .catch(error => {
          // console.log(error.response);
          Notification.serverError(error.response.status);
        })
    },
    passwordReset() {
      if (this.input.newPassword === "") {
        return Notification.error('کد ارسالی را وارد کنید.');
      }

      this.$axios.$post('/api/V1/passwordReset', this.input)
        .then(response => {
          // console.log(response.data);
          this.userData = response;
          if (response.status === 'true') {
            localStorage.setItem('name', response.data.name);
            localStorage.setItem('userStatus', response.data.status);
            localStorage.setItem('api_token', response.data.api_token);
            this.close()
          }

          Notification.info(response.message);
          Notification.hideLoading();
        })
        .catch(error => {
          // console.log(error.response);
          Notification.serverError(error.response.status);
        })
    },
    register() {
      Notification.showLoading();
      if (this.input.name !== "" ) {
        this.$axios.$post('/api/V1/register',this.input)
          .then(response => {
            console.log(response);
            if (response.data.status === 'true') {
              // localStorage.setItem('name', response.data.data.name);
              // localStorage.setItem('userStatus', response.data.data.status);
              // localStorage.setItem('api_token', response.data.data.api_token);
              // Notification.success('ثبت نام با موفقیت انجام شد.');
              // Notification.success('با موفقیت وارد شدین.');
              // this.close()
              this.generateCode();
            }else {
              Notification.error(response.data.message);
            }
            Notification.hideLoading()

          })
          .catch(error => {
            console.log(error.response);
            if (error.response.status === 422)
            {
              if (error.response.data.errors.phoneNumber)
              {
                return  Notification.error('این شماره تماس استفاده شده است.');
              }
            }
            Notification.hideLoading();
            Notification.serverError(error.response.status);
          })
      } else {
        this.error = 'ورود نام الظامی است.'
        // console.log("A username and password must be present");
      }

      Notification.hideLoading();
    },
    clearError() {
      this.error = ''
    },
    close() {
      this.$emit('close');
    }
  }
}
</script>

<style lang="scss">
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms;
}

input:focus {
  border: 0;
  box-shadow: none;
}

button {
  background-color: #377dff;
  border: 0 !important;
  text-align: center !important;
}
</style>
