<template>
    <section class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col wrapper-box">
                <!--        <img class="mx-auto d-block" src="../assets/logo-new-color-site.png" alt="Compacto Records" title="Compacto Records">-->
                <div>
                    <form class="form " id="loginForm">
                        <div class="form-group">
                            <label>ایمیل</label>
                            <input v-model="input.email" @focus="clearError()" id="inputUser" type="text"
                                   name="username" class="form-control" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">کلمه عبور</label>
                            <input v-model="input.password" @focus="clearError()" @keyup.enter="login"
                                   id="inputPassword" type="password" name="password" class="form-control"
                                   placeholder="کلمه عبور ">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">نام </label>
                            <input v-model="input.name" @focus="clearError()" @keyup.enter="login"
                                   id="name" type="text" name="name" class="form-control"
                                   placeholder="نام">
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">شماره تماس </label>
                            <input v-model="input.phoneNumber" @focus="clearError()"
                                   id="phoneNumber" type="text" name="phoneNumber" class="form-control"
                                   placeholder="شماره تماس">
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">استان </label>
                           <b-select v-model="input.stateId">
                               <b-select-option v-for="(state,index) in states" :key="index" :value="state.id" > {{ state.name }} </b-select-option>
                           </b-select>
                        </div>

                        <input type="button" v-on:click="validate()" class="btn btn-danger w-100" id="submitLogin"
                               value="ثبت نام">
                        <transition name="fade">
                            <span class="error-block error-message" v-show="error != null">{{ error }}</span>
                        </transition>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

    import Http from 'axios';
    import Notification from "~/components/notificationService";
    import LoadingView from "~/components/LoadingView";

    export default {
        name: 'Login',
        metaInfo: {
            title: 'Sign in',
            titleTemplate: ''
        },
        data() {
            return {
                input: {
                    email: '',
                    password: '',
                    name: '',
                    phoneNumber: '',
                    stateId: null
                },
                error: '',
                states : null,
            }
        },
        methods: {
            validate () {
                if (!this.input.phoneNumber.match(/^[0-9]+$/)) {
                    return Notification.error('شماره تماس را با اعداد انگلیسی وارد کنید');
                }

                if (this.input.phoneNumber.length !== 11)
                {
                    return  Notification.error('شماره تماس باید 11 عدد باشد');
                }
                this.register();
            },
            register() {
                Notification.showLoading();
                if (this.input.email !== "" && this.input.password !== "") {
                  this.$axios.$post('/api/V1/register',this.input)
                        .then(response => {
                            console.log(response);
                            if (response.data.status === 'true') {
                                localStorage.setItem('name', response.data.data.name);
                                localStorage.setItem('userStatus', response.data.data.status);
                                localStorage.setItem('api_token', response.data.data.api_token);
                                Notification.success('ثبت نام با موفقیت انجام شد.');
                                Notification.success('با موفقیت وارد شدین.');
                                this.close()
                            }else {
                                Notification.error(response.data.message);
                            }

                        })
                        .catch(error => {
                            console.log(error.response);
                            if (error.response.status === 422)
                            {
                                if (error.response.data.errors.phoneNumber)
                                {
                                    return  Notification.error('این شماره تماس استفاده شده است.');
                                }
                            }
                            Notification.hideLoading();
                            Notification.serverError(error.response.status);
                        })
                } else {
                    this.error = 'Enter a valid e-mail and password'
                    // console.log("A username and password must be present");
                }

                Notification.hideLoading();
            },
            close() {
                this.$emit('close');
            },
            clearError() {
                this.error = ''
            },
            getState () {
              this.$axios.$post('api/V1/serviceList/stateList')
                .then(response => {
                    this.states = response.data;
                })
                .catch(error => {
                    console.log(error.response);
                })
            }
        },
        created() {
            this.getState();
        }
    }
</script>

<style lang="scss">
    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 300ms;
    }
</style>
