<template>
  <div class="mx-auto" style="max-width: 1600px">

    <CardStatus></CardStatus>
    <div class="d-flex justify-content-between mb-4 overflow-hidden">
      <div class="col-12 col-md-8 ">
        <Address></Address>
      </div>

      <div class="d-none d-md-block col-4 mt-4">
       <TotalPrice></TotalPrice>
      </div>
    </div>
  </div>
</template>

<script>
import Address from "~/components/card/address";
import TotalPrice from "~/components/card/totalPrice";
import CardStatus from "~/components/card/cardStatus";
export default {
  name: "index",
  components: {
    CardStatus,
    TotalPrice,
    Address
  },
  watch : {
    card : function (){
      if (this.$store.state.card.length === 0){
        this.$router.push('/card');
      }
    }
  },
  computed :{
    card(){
      return this.$store.state.card.length;
    },
  },
  beforeMount() {
    if (this.$store.state.card.length === 0){
      this.$router.push('/card');
    }
  }
}
</script>

<style scoped>

</style>
